/*custom style onglet direction générale - page droit de la personne - blue*/
@blue:#0088CF;
@blueLight : #2A6496;
@blueDark:#0049a8;
@blueExtraLight:#f1f8fb;
@import "../general/blueGeneral.less";


/*general*/
.blue table {
	color: #000;
}
/*onglet apercu*/
.blue .comptesRendus, .blue .ListeMembres {
	background: @blue;
}
.blue .fa-file-text, .blue .fa-user{
	color: @blueDark;
}
.blue, .comptesRendus a, .blue .ListeMembres a{
	color: #fff;
}

.blue .comptesRendus:hover, .blue .ListeMembres:hover{
	background: fade(@blue, 80%);
}
.blue .comptesRendus:hover .fa, .blue .ListeMembres:hover .fa{
	color: fade(@blueDark, 60%);
}
/*onglet documents*/

.blue .icone-pdf .fa-file-text:before{
	color: @blue;
}

.blue .note-success{
	border-color:@blue;
}

.blue #sample_1 .envelop .fa-envelope:hover::before, .blue #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @blueLight;
}


/*calendrier*/
.blue .portlet-title{
	background: @blue;
}

.blue .portlet.box > .portlet-body{
	border-color:@blue;
}
#external-events .legende span.blue{
	background: @blue;
}
.blue .portlet > .portlet-title > .caption > i{
	color: #fff
}


/*onglets documents + produits info*/

.blue .note-success{
	background:@blueExtraLight;
}
/*onglet calendrier*/

.page-id-237 #calendar_secteur_calendar .fc-header tr{

	background: @blue;
}

.page-id-237 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-237 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-237 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.page-id-237 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-237 .tab-content{
	padding: 0!important
}
.page-id-237 .tab-content #tab_1_1_2{
	border:1px solid @blue;
	margin-top: 20px
}


/*archive - onglet comptes rendus */
.page-id-274 .comptesRendusSection .portlet.box {
	border:1px solid @blue;
}
.page-id-274 .comptesRendusSection .portlet.box .portlet-title{
	background: @blue
}


/*onglet documents -icone style*/
.page-id-301 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @blue;
}


.page-id-301 .documents .note-success{
 	background: @blueExtraLight;
 	border-color:@blue;
 }

