/*custom style onglet direction générale - page comité de gestion des bureaux - blue-dark*/

@blueDarkRegular:#1c428b;
@blueDarkHover : #1a468a;
@blueDarkLight:#f5f9fe;
@blueExtblueDarkRegularark:#001a49;


@import "../general/blueDarkGeneral.less";


/*general*/
.blue-dark table {
	color: #000;
}
/*onglet apercu*/
.blue-dark .comptesRendus, .blue-dark .ListeMembres {
	background: @blueExtblueDarkRegularark;
}
.blue-dark .fa-file-text, .blue-dark .fa-user{
	color: @blueDarkRegular;
}
.blue-dark, .comptesRendus a, .blue-dark .ListeMembres a{
	color: #fff;
}
.blue-dark .portlet-title{
	background: @blueExtblueDarkRegularark
}
.blue-dark .portlet.box > .portlet-body{
	border-color: @blueExtblueDarkRegularark;
}


.blue-dark .comptesRendus:hover, .blue-dark .ListeMembres:hover{
	background: fade(@blueDarkRegular, 80%);
}
.blue-dark .comptesRendus:hover .fa, .blue-dark .ListeMembres:hover .fa{
	color: fade(@blueExtblueDarkRegularark, 60%);
}

/*onglet documents*/

.blue-dark .icone-pdf .fa-file-text:before{
	color: @blueExtblueDarkRegularark;
}
.blue-dark #sample_1 .envelop .fa-envelope:hover::before, .blue #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @blueDarkHover;
}

/*calendrier*/
#external-events .legende span.blue-dark{
	background: @blueExtblueDarkRegularark;
}

.blue-dark .portlet.box > .portlet-body{
	border-color: @blueDarkRegular;
}

/*onglets documents + produits info*/

.blue-dark .note-success{
	background:@blueDarkLight;
	border-color:@blueDarkRegular;
}

/*general box portlets*/
.portlet.box.blue-dark{
	border:1px solid @blueDarkRegular;
}



/*onglet calendrier*/

.page-id-241 #calendar_secteur_calendar .fc-header tr{
	background: @blueExtblueDarkRegularark;
}

.page-id-241 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0; 
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-241 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-241 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px;
}
.page-id-241 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-241 .tab-content{
	padding: 0!important;
}
.page-id-241 .tab-content #tab_1_1_2{
	border:1px solid @blueExtblueDarkRegularark;
	margin-top: 20px;
}



/*archive - onglet comptes rendus */
.page-id-279 .comptesRendusSection .portlet.box {
	border:1px solid @blueExtblueDarkRegularark;
}
.page-id-279 .comptesRendusSection .portlet.box .portlet-title{
	background: @blueExtblueDarkRegularark;
}


/*onglet documents*/
.page-id-305 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @blueExtblueDarkRegularark;
}

 .page-id-305 .documents .note-success{
 	background: @blueDarkLight;
 	border-color:@blueExtblueDarkRegularark;
 }

/*onglets appel à tous - intérieur page*/



