/*custom style onglet direction générale - page droits des affaires - green*/
@green : #A4CD39;
@greenHover : #1D943B;
@greenLight :#f6f9eb;
@greenDark:#6aa50d;

@import "../general/greenGeneral.less";

/*general*/
.green table {
	color: #000;
}
/*onglet apercu*/
.green .comptesRendus, .green .ListeMembres {
	background: @green;
}
.green .fa-file-text, .green .fa-user{
	color: @greenDark;
}
.green, .comptesRendus a, .green .ListeMembres a{
	color: #fff;
}
.green .comptesRendus:hover, .green .ListeMembres:hover{
	background: fade(@green, 80%);
}
.green .comptesRendus:hover .fa, .green .ListeMembres:hover .fa{
	color: fade(@greenDark, 60%);
}

/*onglet calendrier*/
.green .portlet-title{
	background:@green;
}
/*onglet documents*/

.green .icone-pdf .fa-file-text:before{
	color: @green;
}

.green .note-success{
	border-color:@green;
}

.green #sample_1 .envelop .fa-envelope:hover::before, .green #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @greenHover;
}

/*calendrier*/
#external-events .legende span.green{
	background: @green;
}
.green .portlet.box > .portlet-body{
	border-color: @green;
}


/*onglets documents + produits info*/

.green .note-success{
	background:@greenLight;
}



/*onglet calendrier*/

.page-id-210 #calendar_secteur_calendar .fc-header tr{

	background: @green;
}

.page-id-210 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-210 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-210 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.page-id-210 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-210 .tab-content{
	padding: 0!important
}
.page-id-210 .tab-content #tab_1_1_2{
	border:1px solid @green;
	margin-top: 20px
}

/*archive - onglet comptes rendus */
.page-id-277 .comptesRendusSection .portlet.box {
	border:1px solid @green;
}
.page-id-277 .comptesRendusSection .portlet.box .portlet-title{
	background: @green
}


/*onglet documents -icone style*/
.page-id-303 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @green;
}


.page-id-303 .documents .note-success{
 	background: @greenLight;
 	border-color:@green;
 }
