/*custom style onglet direction générale - page dev affaires - grey*/
@grey:#657A81;
@greyLight : #eef0f0;
@greyDark:#283b41;

/*general*/
.grey table {
	color: #000;
}
/*onglet apercu*/
.grey .comptesRendus, .grey .ListeMembres {
	background: @grey;
}
.grey .fa-file-text, .grey .fa-user{
	color: @greyDark;
}
.grey, .comptesRendus a, .grey .ListeMembres a{
	color: #fff;
}


.grey .comptesRendus:hover, .grey .ListeMembres:hover{
	background: fade(@grey, 80%);
}
.grey .comptesRendus:hover .fa, .grey .ListeMembres:hover .fa{
	color: fade(@greyDark, 60%);
}


/*onglet documents*/

.grey .icone-pdf .fa-file-text:before{
	color: @grey;
}

.grey .note-success{
	border-color:@grey;
}

.grey #sample_1 .envelop .fa-envelope:hover::before, .grey #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @greyLight;
}


/*calendrier*/
.grey .portlet-title{
	background: @grey;
}

.grey .portlet.box > .portlet-body{
	border-color:@grey;
}
#external-events .legende span.grey{
	background: @grey;
}
.grey .portlet > .portlet-title > .caption > i{
	color: #fff
}


/*onglets documents + produits info*/

.grey .note-success{
	background:@greyLight;
}


/*onglet calendrier*/

.page-id-247 #calendar_secteur_calendar .fc-header tr{

	background: @grey;
}

.page-id-247 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-247 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-247 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.page-id-247 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-247 .tab-content{
	padding: 0!important
}
.page-id-247 .tab-content #tab_1_1_2{
	border:1px solid @grey;
	margin-top: 20px
}



/*archive - onglet comptes rendus */
.page-id-270 .comptesRendusSection .portlet.box {
	border:1px solid @grey;
}
.page-id-270 .comptesRendusSection .portlet.box .portlet-title{
	background: @grey
}


/*onglet documents -icone style*/
.page-id-297 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @grey;
}


.page-id-297 .documents .note-success{
 	background: @greyLight;
 	border-color:@grey;
 }