/*custom style onglet direction générale - page droit immobilier - orange*/
@orange:#f58020;
@orangeLight : #fdefe4;
@orangeDark:#e54303;

@import "../general/orangeGeneral.less";


/*general*/
.orange table {
	color: #000;
}
/*onglet apercu*/
.orange .comptesRendus, .orange .ListeMembres {
	background: @orange;
}
.orange .fa-file-text, .orange .fa-user{
	color: @orangeDark;
}
.orange, .comptesRendus a, .orange .ListeMembres a{
	color: #fff;
}
.orange .comptesRendus:hover, .orange .ListeMembres:hover{
	background: fade(@orange, 80%);
}
.orange .comptesRendus:hover .fa, .orange .ListeMembres:hover .fa{
	color: fade(@orangeLight, 60%);
}

/*onglet documents*/

.orange .icone-pdf .fa-file-text:before{
	color: @orange;
}

.orange .note-success{
	border-color:@orange;
}

.orange #sample_1 .envelop .fa-envelope:hover::before, .orange #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @orangeLight;
}


/*calendrier*/
.orange .portlet-title{
	background: @orange;
}

.orange .portlet.box > .portlet-body{
	border:1px solid @orange;
}
#external-events .legende span.orange{
	background: @orange;
}
.orange .portlet > .portlet-title > .caption > i{
	color: #fff
}

.orange .portlet.box > .portlet-body{
	border-color: @orange;
}


/*onglets documents + produits info*/

.orange .note-success{
	background:@orangeLight;
}


/*onglet calendrier*/

.page-id-427 #calendar_secteur_calendar .fc-header tr{

	background: @orange;
}

.page-id-427 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-427 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-427 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.page-id-427 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-427 .tab-content{
	padding: 0!important
}
.page-id-427 .tab-content #tab_1_1_2{
	border:1px solid @orange;
	margin-top: 20px
}



/*archive - onglet comptes rendus */
.page-id-431 .comptesRendusSection .portlet.box {
	border:1px solid @orange;
}
.page-id-431 .comptesRendusSection .portlet.box .portlet-title{
	background: @orange
}



/*onglet documents -icone style*/
.page-id-433 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @orange;
}


.page-id-433 .documents .note-success{
 	background: @orangeLight;
 	border-color:@orange;
 }
