/*custom style onglet direction générale - page droit agricole - red*/

@red:#ec1c24;
@redHover : #f4777c;
@redLight:#fef5f6;
@import "../general/redGeneral.less";


/*general*/
.red table {
	color: #000;
}
/*onglet apercu*/
.red .comptesRendus, .red .ListeMembres {
	background: @red;
}
.red .fa-file-text, .red .fa-user{
	color: @redHover;
}
.red, .comptesRendus a, .red .ListeMembres a{
	color: #fff;
}


.red .comptesRendus:hover, .red .ListeMembres:hover{
	background: fade(@red, 80%);
}
.red .comptesRendus:hover .fa, .red .ListeMembres:hover .fa{
	color: fade(@redLight, 60%);
}


/*onglet documents*/

.red .icone-pdf .fa-file-text:before{
	color: @red;
}

.red .note-success{
	border-color:@red;
}

.red #sample_1 .envelop .fa-envelope:hover::before, .red #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @red;
}


/*calendrier*/
.red .portlet-title{
	background: @red;
}

.red .portlet.box > .portlet-body{
	border:1px solid @red;
}
#external-events .legende span.red{
	background: @red;
}
.red .portlet > .portlet-title > .caption > i{
	color: #fff
}
.red .portlet.box > .portlet-body{
	border-color: @red;
}
/*onglets documents + produits info*/

.red .note-success{
	background:@redLight;
}


/*onglet calendrier*/

.page-id-245 #calendar_secteur_calendar .fc-header tr{

	background: @red;
}

.page-id-245 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-245 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-245 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.page-id-245 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-245 .tab-content{
	padding: 0!important
}
.page-id-245 .tab-content #tab_1_1_2{
	border:1px solid @red;
	margin-top: 20px
}


/*archive - onglet comptes rendus */
.page-id-272 .comptesRendusSection .portlet.box {
	border:1px solid @red;
}
.page-id-272 .comptesRendusSection .portlet.box .portlet-title{
	background: @red
}



/*onglet documents -icone style*/
.page-id-299 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @red;
}


.page-id-299 .documents .note-success{
 	background: @redLight;
 	border-color:@red;
 }