/*custom style onglet direction générale - page droit de la personne - yellow-dark*/

@yellowDark:#ff5859;
@yellowDarkHover : #e0d9b5;
@yellowDarkMedium:#eb1c23;
@yellowDarkLight: #fbeff0;


@import "../general/yellow-darkGeneral.less";



/*general*/
.yellow-dark table {
	color: #000;
}
/*onglet apercu*/
.yellow-dark .comptesRendus, .yellow-dark .ListeMembres {
	background: @yellowDark;
}
.yellow-dark .fa-file-text, .yellow-dark .fa-user{
	color: @yellowDarkMedium;
}
.yellow-dark, .comptesRendus a, .yellow-dark .ListeMembres a{
	color: #fff;
}

.yellow-dark .comptesRendus:hover, .yellow-dark .ListeMembres:hover{
	background: fade(@yellowDark, 80%);
}
.yellow-dark .comptesRendus:hover .fa, .yellow-dark .ListeMembres:hover .fa{
	color: fade(@yellowDarkMedium, 60%);
}

/*onglet documents*/

.yellow-dark .icone-pdf .fa-file-text:before{
	color: @yellowDark;
}

.yellow-dark .note-success{
	border-color:@yellowDark;
}

.yellow-dark #sample_1 .envelop .fa-envelope:hover::before, .yellow-dark #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: @yellowDark;
}


/*calendrier*/
.yellow-dark .portlet-title{
	background: @yellowDark;
}

.portlet.box.yellow > .portlet-body{
	border-color:@yellowDark;
}
#external-events .legende span.yellow-dark{
	background: @yellowDark;
}
.yellow-dark .portlet > .portlet-title > .caption > i{
	color: #fff
}

/*onglets documents + produits info*/

.yellow-dark .note-success{
	background:@yellowDarkLight;
}


.portlet.box.yellow-dark{
	border:1px solid @yellowDark;
}


/*onglet calendrier*/

.page-id-250 #calendar_secteur_calendar .fc-header tr{
	background: @yellowDark;
}

.page-id-250 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-250 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-250 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.page-id-250 #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.page-id-250 .tab-content{
	padding: 0!important;
}
.page-id-250 .tab-content #tab_1_1_2{
	border:1px solid @yellowDark;
	margin-top: 20px
}


/*archive - onglet comptes rendus */
.page-id-268 .comptesRendusSection .portlet.box {
	border:1px solid @yellowDark;
}
.page-id-268 .comptesRendusSection .portlet.box .portlet-title{
	background: @yellowDark
}



/*onglet documents -icone style*/
.page-id-295 .documents .file-icon .fa.fa-file-text-o:hover{
	color: @yellowDark;
}



.page-id-295 .documents .note-success{
 	background: @yellowDarkLight;
 	border-color:@yellowDark;
 }