/*custom style onglet direction générale - page droit de la personne - blue*/



$pref : 214;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};




/*general*/
.blue table {
	color: #000;
}
/*onglet apercu*/
.blue .comptesRendus, .blue .ListeMembres {
	background: $blue;
}
.blue .fa-file-text, .blue .fa-user{
	color: $blue-dark;
}
.blue, .comptesRendus a, .blue .ListeMembres a{
	color: #fff;
}

.blue .comptesRendus:hover, .blue .ListeMembres:hover{
	background: $blue-light;
}
.blue .comptesRendus:hover .fa, .blue .ListeMembres:hover .fa{
	color: $blue;
}

.blue .fc-button.fc-button-prev .ui-icon:hover::before, .blue .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $blue-dark;
}
.blue .lienTout:hover{
	color:$blue;
}

/*onglet documents*/

.blue .icone-pdf .fa-file-text:before{
	color: $blue;
}

.blue .note-success{
	border-color:$blue;
}

.blue #sample_1 .envelop .fa-envelope:hover::before, .blue #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $blue-light;
}

.#{$class} .documents .file-icon i:hover{
	color:$blue;
}
/*calendrier*/
.blue .portlet-title{
	background: $blue;
}

.blue .portlet.box > .portlet-body{
	border-color:$blue;
}
#external-events .legende span.blue{
	background: $blue;
}
.blue .portlet > .portlet-title > .caption > i{
	color: #fff
}


/*onglets documents + produits info*/

.blue .note-success{
	background:$blue-extra-light;
}

.#{$class} .produitsInfoGral .fleche:before{
	color: $blue;
}
.#{$class} .produitsInfoGral .fleche:hover::before{
	color: $blue-dark;
}



/*onglet calendrier*/

.#{$class} #calendar_secteur_calendar .fc-header tr{

	background: $blue;
}

.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}

.#{$class} .tab-content{
	padding: 0!important
}
.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $blue;
	margin-top: 20px
}

/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$blue;
}
/*archive - onglet comptes rendus */
.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $blue;
}
.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $blue
}
.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$blue;
}


/*onglet documents -icone style*/
.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $blue;
}


.#{$class} .documents .note-success{
 	background: $blue-extra-light;
 	border-color:$blue;
 }

/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $blue !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $blue-light;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $blue-light !important;
}


.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$blue !important;

}

/*Bloc hover tuiles accueil*/
.accueil .tuiles.personne:hover, .personne .HoverTuiles li{
	background: $blue-light;
}

.personne .HoverTuiles li a:hover{
	color: $blue-dark;
}

/*GENERALITES*/
	/*style tuile accueil droit affaires*/

	.accueil .directionTravail .personne .tuiles{
		background:url("/wp-content/themes/pme/img/img-template/droit-personne.png");
		background-color: $blue
		
	
	}

/*onglet color page appel a tous*/
.AppelTous .sousmenu-nav .nav-tabs li.blue, .boiteOutils .sousmenu-nav .nav-tabs li.drt-perso{
	background:$blue-extra-light !important;
}

