/*custom style onglet direction générale - page comité de gestion des bureaux - blue-dark*/



$pref : 224;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};




/*general*/
.blue-dark table {
	color: #000;
}
/*onglet apercu*/
.blue-dark .comptesRendus, .blue-dark .ListeMembres {
	background: $blue-ext-blue-dark-regular-ark;
}
.blue-dark .fa-file-text, .blue-dark .fa-user{
	color: $blue-dark-regular;
}
.blue-dark, .comptesRendus a, .blue-dark .ListeMembres a{
	color: #fff;
}
.blue-dark .portlet-title{
	background: $blue-ext-blue-dark-regular-ark
}
.blue-dark .portlet.box > .portlet-body{
	border-color: $blue-ext-blue-dark-regular-ark;
}


.blue-dark .comptesRendus:hover, .blue-dark .ListeMembres:hover{
	background: $blue-dark-light;
}
.blue-dark .comptesRendus:hover .fa, .blue-dark .ListeMembres:hover .fa{
	color: $blue-dark-regular;
}

.blue-dark .fc-button.fc-button-prev .ui-icon:hover::before, .blue-dark .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $blue-dark-regular;
}
.blue-dark .lienTout:hover{
	color:$blue-dark-regular;
}
/*onglet documents*/

.blue-dark .icone-pdf .fa-file-text:before{
	color: $blue-ext-blue-dark-regular-ark;
}
.blue-dark #sample_1 .envelop .fa-envelope:hover::before, .blue #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $blue-dark-light;
}

.#{$class} .documents .file-icon i:hover{
	color:$blue-dark-regular;
}

/*calendrier*/
#external-events .legende span.blue-dark{
	background: $blue-ext-blue-dark-regular-ark;
}

.blue-dark .portlet.box > .portlet-body{
	border-color:$blue-dark-regular;
}
/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$blue-dark-regular;
}
/*onglets documents + produits info*/

.blue-dark .note-success{
	background:$blue-dark-light;
	border-color:$blue-dark-regular;
}

/*general box portlets*/
.portlet.box.blue-dark{
	border:1px solid $blue-dark-regular;
}

.#{$class} .produitsInfoGral .fleche::before{
	color: $blue-dark-regular;
}

.#{$class} .produitsInfoGral .fleche:hover::before{
	color: $blue-ext-blue-dark-regular-ark;
}

/*onglet calendrier*/

.#{$class} #calendar_secteur_calendar .fc-header tr{
	background: $blue-ext-blue-dark-regular-ark;
}

.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0; 
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px;
}

.#{$class} .tab-content{
	padding: 0!important;
}
.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $blue-ext-blue-dark-regular-ark;
	margin-top: 20px;
}



/*archive - onglet comptes rendus */
.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $blue-ext-blue-dark-regular-ark;
}
.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $blue-ext-blue-dark-regular-ark;
}

.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$blue-ext-blue-dark-regular-ark
}


/*onglet documents*/
.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $blue-ext-blue-dark-regular-ark;
}

.#{$class} .documents .note-success{
 	background: $blue-dark-light;
 	border-color:$blue-ext-blue-dark-regular-ark;
 }

/*onglets appel à tous - intérieur page*/



/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $blue-ext-blue-dark-regular-ark !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $blue-dark-light;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $blue-dark-light !important;
}


.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$blue-ext-blue-dark-regular-ark !important;

}

/*Bloc hover tuiles accueil*/
.accueil .tuiles.gestion:hover{
	background: $blue-dark-light;
}

.gestion .HoverTuiles li a:hover{
	color: $blue-ext-blue-dark-regular-ark;
}
.gestion .HoverTuiles li a, .gestion .HoverTuiles h2, .gestion .HoverTuiles ul{
	color: #fff;
}

/*GENERALITES*/

/*style general accueil*/
	/*bloc directionde travail*/
	.accueil .blue-dark{
		background-color:$blue-dark-regular !important;
	}


.accueil .directionTravail .gestion .tuiles{

	  background-color: #0049a8 !important;
}



/*onglet color page appel a tous + onglet menu collboratrice page boite a outils*/
.AppelTous .sousmenu-nav .nav-tabs li.dark-blue, .boiteOutils .sousmenu-nav .nav-tabs li.drt-bure{
	background:$blue-dark-light-extra !important;
}
