/*BLUE-DARK PAGE COMITE DENTREPRISE*/

$blue-dark-regular:#1c428b;

$blue-dark-light:lighten($blue-dark-regular, 20%);

$blue-ext-blue-dark-regular-ark:darken($blue-dark-regular, 20%) ;

$blue-dark-light-extra: rgba($blue-dark-regular, .1);

/*BLUE PAGE DROIT DE LA PERSONNE*/

$blue:#0088CF;
$blue-light : lighten($blue, 20%);
$blue-dark:darken($blue, 20%);
$blue-extra-light:rgba($blue, .1);


/*GREEN PAGE DROIT DES AFFAIRES*/
$green : #A4CD39;
$green-light : lighten($green, 20%);
$green-dark : darken($green, 20%);
$green-light-extra: rgba($green, .1);

/*GREY PAGE DEVELOPEMENT*/
$grey:#657A81;
$grey-light : lighten($grey, 20%);
$grey-dark:#283b41;
$grey-light-extra:rgba($grey, .1);

/*ORANGE PAGE DROIT IMMOBILIER*/
$orange:#f58020;
$orange-light : lighten($orange, 20%);
$orange-dark:darken($orange, 20%);
$orange-light-extra:rgba($orange, .1);


/*RED PAGE DROIT AGRICOLE*/

$red:#ec1c24;
$red-light : lighten($red, 20%);
$red-dark:darken($red, 20%);
$red-light-extra:rgba($red, .1);


/*CORAIL PAGE COLLABORATRICES*/

$corail : #ff5859;
$corail-light-extra : rgba($corail, .1);
$corail-dark : darken($corail, 20%);
$corail-light: lighten($corail, 20%);

/*COULEURS GENERAL GRIS-BLEU*/

$grey-general:#647980;
$grey-general-light : #dddddd;
$grey-general-dark : #666666;
$black : #000000;
$white : #ffffff;