/*custom style onglet direction générale - page droit de la personne - corail-dark*/



$pref : 233;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};





/*general*/
.corail table {
	color: #000;
}
/*onglet apercu*/
.corail .comptesRendus, .corail .ListeMembres {
	background: $corail;
}
.corail .fa-file-text, .corail .fa-user{
	color: $corail-dark;
}
.corail, .comptesRendus a, .corail .ListeMembres a{
	color: #fff;
}

.corail .comptesRendus:hover, .corail .ListeMembres:hover{
	background: $corail-light;
}
.corail .comptesRendus:hover .fa, .corail .ListeMembres:hover .fa{
	color: $corail;
}
.corail .fc-button.fc-button-prev .ui-icon:hover::before, .corail .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $corail-dark;
}
.corail .lienTout:hover{
	color:$corail;
}
/*onglet documents*/

.corail .icone-pdf .fa-file-text:before{
	color: $corail;
}

.corail .note-success{
	border-color:$corail;
}

.corail #sample_1 .envelop .fa-envelope:hover::before, .corail #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $corail;
}

.#{$class} .documents .file-icon i:hover{
	color:$corail;
}
/*calendrier*/
.corail .portlet-title{
	background: $corail;
}

.portlet.box.corail > .portlet-body{
	border-color:$corail;
}
#external-events .legende span.corail{
	background: $corail;
}
.corail .portlet > .portlet-title > .caption > i{
	color: #fff
}
/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$corail;
}


/*onglet comptes rendus*/
.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$corail
}

/*onglets documents + produits info*/

.corail .note-success{
	background:$corail-light;
}


.portlet.box.corail{
	border:1px solid $corail;
}


/*onglet calendrier*/

.#{$class} #calendar_secteur_calendar .fc-header tr{
	background: $corail;
}

.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}

.#{$class} .tab-content{
	padding: 0!important;
}
.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $corail;
	margin-top: 20px
}


/*archive - onglet comptes rendus */
.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $corail;
}
.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $corail
}



/*onglet documents -icone style*/
.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $corail;
}

.#{$class} .documents .note-success{
 	background: $corail-light;
 	border-color:$corail;
 }




/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $corail !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $corail-light;
	color: $corail-dark !important;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $corail-light !important;
	color: $corail-dark !important;
}

.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$corail !important;

}

/*GENERALITES*/
.sousmenu-nav .soustab a:hover{
		color: $corail;
	}


