/*custom pages onglet direction style général*/
h4{font-size: 20px;}
.caption{color:#fff}
h1, a, table, div{color: #000;}
.documents .wpdm_clink {background-position:left top; background-repeat:no-repeat; padding-left:60px;}
li.collaboratrices {}
li#menu-item-93:hover {background:#a5cd39;}
.no-bg {background:none !important;}
.sub-menu li .fa {display:none;}
.tabbable-custom .nav-tabs{margin-bottom:20px }
.tabbable-custom .nav-tabs > li { border-top:none;display: table-cell;vertical-align: middle;height: 50px; border-right:1px solid #fff;}
.tabbable-custom .nav-tabs > li.active {border-top:none !important;}
/*.tabbable-custom .nav-tabs > li:hover, .tabbable-custom .nav-tabs > li.active:hover{background: #A8A8A8}*/
.tabbable-custom .nav-bis > li{background: #fff !important}
.tab-content > .tab-pane > .soustab{display: none;}
.tab-content > .tab-pane > .soustab.active{display: block;}
.nav-tabs > li.active > a,.nav-tabs > li:hover > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background:transparent;border:none !important;color:#000 !important;}
.nav-tabs.nav-justified > li > a {border:none !important; color:#fff !important;}
.tabbable-custom > .tab-content {border:none !important;padding-left: 0;padding-right: 0}
.spacer {width:100%;height:1px;overflow:hidden;clear:both;}
.img-responsive{
    margin-bottom: 15px;
    width: 100%;
}
/*list block*/
.list-block{
    padding-left: 0;
    list-style: none;    
}
.blog-tag-data-inner{
    text-align: right;
}
/*onglet aperçu*/
.comptesRendus, .ListeMembres {
    background: none repeat scroll 0 0 #657a81;
    height: 240px;
    margin: auto 15px;   
    text-align: center;
    width: 44%;

}
.comptesRendus a, .ListeMembres a {
    border: 0 none;
    bottom: 12px;
    font-size: 24px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.comptesRendus a:hover, .ListeMembres a:hover{
    text-decoration: none !important;
    font-weight: 600;
}
.comptesRendus a .fa, .ListeMembres a .fa{
	font-size: 110px;
}

.table .intitule{
    width: 75%
}

#sample_3 .icone-pdf{
text-align: center;
vertical-align: middle;
}

.portlet > .portlet-title > .caption > i{
    color: #fff;
}
.blue-dark .portlet.box > .portlet-body{
    border-style: solid;
    border-width: 1px;
}
.portlet.calendar .fc-button.fc-state-active{
    color: #000!important
 }
 .bbp-topic-meta{
    margin: 0
 }
/*onglet liste des membres*/
#sample_1 .envelop, #sample_1 .linkedin{
    text-align: center;
}

/*onget comptes rendus*/
#tab_1_1_4 .content .col-md-6{
    padding: 0
}

/*onglet calendrier*/
#external-events ul{
    padding-left: 0
}
#external-events li{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#external-events .legende span{
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    width: 15px;
}
#external-events .inline-form{
    margin-bottom: 40px;
}

.portlet.box > .portlet-body{
    border-style: solid;
    border-width: 1px;
}
.portlet.calendar .fc-button{
    color: #fff !important;   
}

.portlet.calendar .fc-button.ui-state-default{
    margin: 0 !important;  
}


.fc-button .ui-icon{
    margin-top: 0 !important;

}

.fc-header-right .fc-button{
    background: transparent;
    border:none;
    color: #fff;
     margin-top: 4px
}
#calendar_secteur_calendar .fc-header-right span {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0 !important;
    margin-top: -2px!important;
}
#calendar_secteur_calendar .fc-header-right span:hover{
    font-weight: 600
}
#calendar_secteur_calendar .fc-header-right .fc-button-prev, #calendar_secteur_calendar .fc-header-right .fc-button-next{
    width:25px
}
#calendar_secteur_calendar .fc-button-prev, #calendar_secteur_calendar .fc-button-next{
    line-height: normal
}
/*menu nouvelles*/

.nouvelles{
    margin-bottom: 15px;
}


.portlet.box.orange {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #F48120 #F48120 !important;
    border-image: none;
    border-right: 1px solid #F48120 !important;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}