/*custom style onglet direction générale - page dev affaires - grey*/

$pref : 231;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};

/*general*/
.grey table {
	color: #000;
}
/*onglet apercu*/
.grey .comptesRendus, .grey .ListeMembres {
	background: $grey;
}
.grey .fa-file-text, .grey .fa-user{
	color: $grey-dark;
}
.grey, .comptesRendus a, .grey .ListeMembres a{
	color: #fff;
}

.grey .comptesRendus:hover, .grey .ListeMembres:hover{
	background: $grey-light;
}
.grey .comptesRendus:hover .fa, .grey .ListeMembres:hover .fa{
	color: $grey;
}
.grey .fc-button.fc-button-prev .ui-icon:hover::before, .grey .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $grey-dark;
}

.grey .lienTout:hover{
	color:$grey;
}


/*onglet documents*/

.grey .icone-pdf .fa-file-text:before{
	color: $grey;
}

.grey .note-success{
	border-color:$grey;
}

.grey #sample_1 .envelop .fa-envelope:hover::before, .grey #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $grey-light;
}


/*calendrier*/
.grey .portlet-title{
	background: $grey;
}

.grey .portlet.box > .portlet-body{
	border-color:$grey;
}
#external-events .legende span.grey{
	background: $grey;
}
.grey .portlet > .portlet-title > .caption > i{
	color: #fff
}

/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$grey;
}

/*onglet comptes rendus*/
.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$grey
}

/*onglets documents + produits info*/

.grey .note-success{
	background:$grey-light;
}

.#{$class} .produitsInfoGral .fleche::before{
	color: $grey;
}

.#{$class} .produitsInfoGral .fleche:hover::before{
	color: $grey-dark;
}
.#{$class} .documents .file-icon i:hover{
	color:$grey;
}

/*onglet calendrier*/

.page-id-247 #calendar_secteur_calendar .fc-header tr{

	background: $grey;
}

.page-id-247 #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.page-id-247 #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.page-id-247 #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}

.page-id-247 .tab-content{
	padding: 0!important
}
.page-id-247 .tab-content #tab_1_1_2{
	border:1px solid $grey;
	margin-top: 20px
}



/*archive - onglet comptes rendus */
.page-id-270 .comptesRendusSection .portlet.box {
	border:1px solid $grey;
}
.page-id-270 .comptesRendusSection .portlet.box .portlet-title{
	background: $grey
}


/*onglet documents -icone style*/
.page-id-297 .documents .file-icon .fa.fa-file-text-o:hover{
	color: $grey;
}


.page-id-297 .documents .note-success{
 	background: $grey-light;
 	border-color:$grey;
 }





/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $grey-dark !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $grey;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $grey !important;
}


.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$grey-dark !important;

}


/*Bloc hover tuiles accueil*/
.accueil .tuiles.devAffaires:hover{
	background: $grey-light;
}

.devAffaires .HoverTuiles li a:hover{
	color: $grey-dark;
}

/*onglet color page appel a tous*/
.AppelTous .sousmenu-nav .nav-tabs li.grey, .boiteOutils .sousmenu-nav .nav-tabs li.drt-dev{
	background:$grey-light-extra !important;
}
