/*custom style onglet direction générale - page droits des affaires - green*/


$pref : 206;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};



/*general*/
.green table {
	color: #000;
}
/*onglet apercu*/
.green .comptesRendus, .green .ListeMembres {
	background: $green;
}
.green .fa-file-text, .green .fa-user{
	color: $green-dark;
}
.green, .comptesRendus a, .green .ListeMembres a{
	color: #fff;
}
.green .comptesRendus:hover, .green .ListeMembres:hover{
	background: $green-light;
}
.green .comptesRendus:hover .fa, .green .ListeMembres:hover .fa{
	color: $green;
}
.green .fc-button.fc-button-prev .ui-icon:hover::before, .green .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $green-dark;
}
.green .lienTout:hover{
	color:$green;
}
/*onglet calendrier*/
.green .portlet-title{
	background:$green;
}

/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$green;
}

/*onglet comptes rendus*/
.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$green
}
/*onglet documents*/

.green .icone-pdf .fa-file-text:before{
	color: $green;
}

.green .note-success{
	border-color:$green-light-extra;
}

.green #sample_1 .envelop .fa-envelope:hover::before, .green #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $green-light;
}
.#{$class} .documents .file-icon i:hover{
	color:$green;
}
/*calendrier*/
#external-events .legende span.green{
	background: $green;
}
.green .portlet.box > .portlet-body{
	border-color: $green;
}


/*onglets documents + produits info*/

.green .note-success{
	background:$green-light;
}

.#{$class} .produitsInfoGral .fleche::before{
	color: $green;
}

.#{$class} .produitsInfoGral .fleche:hover::before{
	color: $green-dark;
}


/*onglet calendrier*/


.#{$class} #calendar_secteur_calendar .fc-header tr{

	background: $green;
}


.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}

.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}

.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}


.#{$class} .tab-content{
	padding: 0!important
}

.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $green;
	margin-top: 20px
}

/*archive - onglet comptes rendus */

.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $green;
}

.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $green
}


/*onglet documents -icone style*/

.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $green;
}



.#{$class} .documents .note-success{
 	background: $green-light;
 	border-color:$green;
 }




/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $green !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $green-light;
	color: $green-dark;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $green-light !important;
	color: $green-dark !important;
}

.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$green !important;

}

/*Bloc hover tuiles accueil*/
.accueil .tuiles.affaires:hover{
	background: $green-light;
}

.affaires .HoverTuiles li a:hover{
	color: $green-dark;
}


/*GENERALITES*/
.accueil .nouvelles .note-info{
	background:$green;
	border-color: $green !important;		
}

/*style tuile accueil droit affaires*/
.accueil .directionTravail .affaires .tuiles{
	background-color:$green !important;
}
.green .sousmenu-nav .soustab a:hover{
	color: $green-light-extra;
}
.green #post-81 .tab-content .col-md-6{
	border:none;
}


/*onglet color page appel a tous*/
.AppelTous .sousmenu-nav .nav-tabs li.green, .boiteOutils .sousmenu-nav .nav-tabs li.drt-affaires{
	background:$green-light-extra !important;
}
