/*custom style toutes pages site - orange*/




/*accueil bloc direciton travail - droit immobilier*/	
	.accueil .directionTravail .immobilier .tuiles{
		background-color:$orange !important;
	}


/*style page publications*/
	.publications .archives .orange{
		background: $orange;
		border:1px solid $orange;
	}
