/*custom style onglet direction générale - page droit immobilier - orange*/



$pref : 425;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};




/*general*/
.orange table {
	color: #000;
}
/*onglet apercu*/
.orange .comptesRendus, .orange .ListeMembres {
	background: $orange;
}
.orange .fa-file-text, .orange .fa-user{
	color: $orange-dark;
}
.orange, .comptesRendus a, .orange .ListeMembres a{
	color: #fff;
}
.orange .comptesRendus:hover, .orange .ListeMembres:hover{
	background: $orange-light;
}
.orange .comptesRendus:hover .fa, .orange .ListeMembres:hover .fa{
	color: $orange;
}
.orange .fc-button.fc-button-prev .ui-icon:hover::before, .orange .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $orange-dark;
}
.orange .lienTout:hover{
	color:$green;
}

/*onglet documents*/

.orange .icone-pdf .fa-file-text:before{
	color: $orange;
}

.orange .note-success{
	border-color:$orange;
}

.orange #sample_1 .envelop .fa-envelope:hover::before, .orange #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $orange-light;
}


/*calendrier*/
.orange .portlet-title{
	background: $orange;
}

.orange .portlet.box > .portlet-body{
	border:1px solid $orange;
}
#external-events .legende span.orange{
	background: $orange;
}
.orange .portlet > .portlet-title > .caption > i{
	color: #fff
}

.orange .portlet.box > .portlet-body{
	border-color: $orange;
}

/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$orange;
}
/*onglet comptes rendus*/
.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$orange
}
/*onglets documents + produits info*/

.orange .note-success{
	background:$orange-light;
}

.#{$class} .produitsInfoGral .fleche::before{
	color: $orange;
}

.#{$class} .produitsInfoGral .fleche:hover::before{
	color: $orange-dark;
}

/*onglet calendrier*/


.#{$class} #calendar_secteur_calendar .fc-header tr{

	background: $orange;
}


.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}

.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}

.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}


.#{$class} .tab-content{
	padding: 0!important
}

.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $orange;
	margin-top: 20px
}



/*archive - onglet comptes rendus */

.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $orange;
}

.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $orange
}



/*onglet documents -icone style*/

.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $orange;
}



.#{$class} .documents .note-success{
 	background: $orange-light;
 	border-color:$orange;
 }

.#{$class} .documents .file-icon i:hover{
	color:$orange;
}

/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $orange !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $orange-light;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $orange-light !important;
}


.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$orange !important;
}

/*Bloc hover tuiles accueil*/
.accueil .tuiles.immobilier:hover{
	background: $orange-light;
}

.immobilier .HoverTuiles li a:hover{
	color: $orange-dark;
}


/*GENERALITES*/

/*accueil bloc direciton travail - droit immobilier*/	
	.accueil .directionTravail .immobilier .tuiles{
		background-color:$orange !important;
	}

/*style page publications*/
	.publications .archives .orange{
		background: $orange;
		border:1px solid $orange;
	}


/*onglet color page appel a tous*/
.AppelTous .sousmenu-nav .nav-tabs li.orange, .boiteOutils .sousmenu-nav .nav-tabs li.drt-immo{
	background:$orange-light-extra !important;
}
