/*custom style onglet direction générale - page droit agricole - red*/


$pref : 229;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};




/*general*/
.red table {
	color: #000;
}
/*onglet apercu*/
.red .comptesRendus, .red .ListeMembres {
	background: $red;
}
.red .fa-file-text, .red .fa-user{
	color: $red-light;
}
.red, .comptesRendus a, .red .ListeMembres a{
	color: #fff;
}


.red .comptesRendus:hover, .red .ListeMembres:hover{
	background: $red-light;
}
.red .comptesRendus:hover .fa, .red .ListeMembres:hover .fa{
	color: $red;
}
.red .fc-button.fc-button-prev .ui-icon:hover::before, .red .fc-button.fc-button-next .ui-icon:hover::before, .#{$class} #calendar_secteur_calendar .fc-header-right span:hover{
 	color: $red-dark;
}

.red .lienTout:hover{
	color:$red;
}
/*onglet documents*/

.red .icone-pdf .fa-file-text:before{
	color: $red;
}

.red .note-success{
	border-color:$red;
}

.red #sample_1 .envelop .fa-envelope:hover::before, .red #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $red;
}


/*calendrier*/
.red .portlet-title{
	background: $red;
}

.red .portlet.box > .portlet-body{
	border:1px solid $red;
}
#external-events .legende span.red{
	background: $red;
}
.red .portlet > .portlet-title > .caption > i{
	color: #fff
}
.red .portlet.box > .portlet-body{
	border-color: $red;
}

/*onglet liste des membres*/
.#{$class} #sample_1 a:hover, .#{$class} #sample_1 a:focus{
	color:$red;
}
/*onglet comptes rendus*/
.#{$class} .comptesRendusSection .fa-print:hover, .#{$class} .comptesRendusSection .btnPrint:hover{
	color:$red
}
/*onglets documents + produits info*/

.red .note-success{
	background:$red-light;
}


.#{$class} .produitsInfoGral .fleche::before{
	color: $red;
}

.#{$class} .produitsInfoGral .fleche:hover::before{
	color: $red-light
}
/*onglet calendrier*/

.#{$class} #calendar_secteur_calendar .fc-header tr{

	background: $red;
}

.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}

.#{$class} .tab-content{
	padding: 0!important
}
.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $red;
	margin-top: 20px
}


/*archive - onglet comptes rendus */
.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $red;
}
.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $red
}



/*onglet documents -icone style*/
.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $red;
}


.#{$class} .documents .note-success{
 	background: $red-light;
 	border-color:$red;
 }

.#{$class} .documents .file-icon i:hover{
	color:$red;
}

 /*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $red !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $red-light;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $red-light !important;
}



.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$red !important;

}

/*Bloc hover tuiles accueil*/
.accueil .tuiles.agricole:hover{
	background: $red-light;
}


.agricole .HoverTuiles li a:hover{
	color: $red-dark;
}


/*GENERALITES*/
/*accueil bloc-message*/

	.accueil .message .note-info{
	    border-color: $red;
	}

/*accueil bloc direciton travail - droit agricole*/	
	.accueil .directionTravail .agricole .tuiles{
		background-color:$red !important;
}



/*onglet color page appel a tous*/
.AppelTous .sousmenu-nav .nav-tabs li.red, .boiteOutils .sousmenu-nav .nav-tabs li.drt-agri{
	background:$red-light-extra !important;
}

