/*custom style onglet direction générale - page droit de la personne - yellow-dark*/

$yellow-dark : #ff5859;

$yellow-dark-medium : #eb1c23;
$yellow-dark-light : #fbeff0;

$pref : 233;
$class2: page-id-#{$pref};
$class : parent-pageid-#{$pref};


@import "yellow-dark-general";


/*general*/
.yellow-dark table {
	color: #000;
}
/*onglet apercu*/
.yellow-dark .comptesRendus, .yellow-dark .ListeMembres {
	background: $yellow-dark;
}
.yellow-dark .fa-file-text, .yellow-dark .fa-user{
	color: $yellow-dark-medium;
}
.yellow-dark, .comptesRendus a, .yellow-dark .ListeMembres a{
	color: #fff;
}

.yellow-dark .comptesRendus:hover, .yellow-dark .ListeMembres:hover{
	background: fade($yellow-dark, 80%);
}
.yellow-dark .comptesRendus:hover .fa, .yellow-dark .ListeMembres:hover .fa{
	color: fade($yellow-dark-medium, 60%);
}

/*onglet documents*/

.yellow-dark .icone-pdf .fa-file-text:before{
	color: $yellow-dark;
}

.yellow-dark .note-success{
	border-color:$yellow-dark;
}

.yellow-dark #sample_1 .envelop .fa-envelope:hover::before, .yellow-dark #sample_1 .linkedin .fa-linkedin-square:hover::before {
	color: $yellow-dark;
}


/*calendrier*/
.yellow-dark .portlet-title{
	background: $yellow-dark;
}

.portlet.box.yellow > .portlet-body{
	border-color:$yellow-dark;
}
#external-events .legende span.yellow-dark{
	background: $yellow-dark;
}
.yellow-dark .portlet > .portlet-title > .caption > i{
	color: #fff
}

/*onglets documents + produits info*/

.yellow-dark .note-success{
	background:$yellow-dark-light;
}


.portlet.box.yellow-dark{
	border:1px solid $yellow-dark;
}


/*onglet calendrier*/

.#{$class} #calendar_secteur_calendar .fc-header tr{
	background: $yellow-dark;
}

.#{$class} #calendar_secteur_calendar .fc-header tr h2{
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 12px;
	font-weight: 600 !important;
}
.#{$class} #calendar_secteur_calendar .fc-header{
	height: 45px;
}
.#{$class} #calendar_secteur_calendar .fc-header-right{
	margin-right: 12px
}
.#{$class} #calendar_secteur_calendar .fc-header-right span{
	margin-bottom: 0!important;
	vertical-align: middle !important;
	margin-top: 4px;
}
.#{$class} .tab-content{
	padding: 0!important;
}
.#{$class} .tab-content #tab_1_1_2{
	border:1px solid $yellow-dark;
	margin-top: 20px
}


/*archive - onglet comptes rendus */
.#{$class} .comptesRendusSection .portlet.box {
	border:1px solid $yellow-dark;
}
.#{$class} .comptesRendusSection .portlet.box .portlet-title{
	background: $yellow-dark
}



/*onglet documents -icone style*/
.#{$class} .documents .file-icon .fa.fa-file-text-o:hover{
	color: $yellow-dark;
}

.#{$class} .documents .note-success{
 	background: $yellow-dark-light;
 	border-color:$yellow-dark;
 }




/*onglet menu color*/


.#{$class} .menuNavGeneral, .#{$class2} .menuNavGeneral{
	background: $yellow-dark !important;
}

.#{$class} .tabbable-custom .menuNavGeneral > li:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li:hover, .#{$class} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class2} .tabbable-custom .menuNavGeneral > li.active:hover, .#{$class} .tabbable-custom .menuNavGeneral li a:hover, .#{$class2} .tabbable-custom .menuNavGeneral li a:hover{
	background: $yellow-dark;
}


.#{$class} .menuNavGeneral > li.active, .#{$class2} .menuNavGeneral > li.active, .#{$class} .menuNavGeneral > li.active a, .#{$class2} .menuNavGeneral > li.active a{
	background: $yellow-dark !important;
}

.#{$class} .page-sidebar-menu ul li.current-menu-item {
	background:$yellow-dark !important;

}
