/*custom style general - blue-dark*/

/*style general accueil*/
	/*bloc directionde travail*/
	.accueil .blue-dark{
		background-color:@blueDarkRegular !important;
	}


.accueil .directionTravail .gestion .tuiles{

	  background-color: #0049a8 !important;
}
