/*custom general site - green*/

/*style accueil*/
	/*bloc nouvelles*/

	.accueil .nouvelles .note-info{
		background:@greenLight;
		border-color: @green !important;		
	}

	/*style tuile accueil droit affaires*/
	.accueil .directionTravail .affaires .tuiles{
		background-color:@green !important;
	}
.green .sousmenu-nav .soustab a:hover{
	color: #6AA50D;
}

.green #post-81 .tab-content .col-md-6{
	border:none;
}

.page-id-404 .fa.fa-picture-o:hover{
	color: @green;
}