/*custom style toutes pages site - red*/

/*accueil bloc-message*/

	.accueil .message .note-info{
	    border-color: @red;
	}

/*accueil bloc direciton travail - droit agricole*/	
	.accueil .directionTravail .agricole .tuiles{
		background-color:@red !important;
	}
