<div id="ratiotab">
	<table id="ratios">
		<tr>
			<td class="ratio_list {if $currentForm == '1'}ratio_current{/if}">
				<a href="#" onclick="submitRatiosForm('{$currentForm}', '1');">&Eacute;tape 1</a>
			</td>
			<td class="ratio_list {if $currentForm == '2'}ratio_current{/if}">
				<a href="#" onclick="submitRatiosForm('{$currentForm}', '2');">&Eacute;tape 2</a>
			</td>
			<td class="ratio_list {if $currentForm == '3'}ratio_current{/if}">
				<a href="#" onclick="submitRatiosForm('{$currentForm}', '3');">&Eacute;tape 3</a>
			</td>
			<td class="ratio_list {if $currentForm == '4'}ratio_current{/if}">
				<a href="#" onclick="submitRatiosForm('{$currentForm}', '4');">&Eacute;tape 4</a>
			</td>
			<td class="ratio_list {if $currentForm == '5'}ratio_current{/if}">
				<a href="#" onclick="submitRatiosForm('{$currentForm}', '5');">&Eacute;tape 5</a>
			</td>
			<td class="ratio_list {if $currentForm == '6'}ratio_current{/if}">
				<a href="#" onclick="submitRatiosForm('{$currentForm}', '6');">&Eacute;tape 6</a>
			</td>
		</tr>
	</table>
</div>
