/*custom style mira*/
/* gère le layout des directions de travail */
/*custom pages onglet direction style général*/
h4 {
  font-size: 20px;
}
h3.event-form-title {
  font-weight: bold !important;
}
.caption {
  color: #ffffff;
}
h1,
a,
table,
div {
  color: #000;
}
.documents .wpdm_clink {
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 60px;
}
li#menu-item-93:hover {
  background: #a5cd39;
}
.no-bg {
  background: none !important;
}
.sub-menu li .fa {
  display: none;
}
.tabbable-custom .nav-tabs {
  margin-bottom: 8px;
}
.tabbable-custom .nav-tabs > li {
  background: #757575;
  border-top: none;
  display: table-cell;
  vertical-align: middle;
  height: 45px;
}
.tabbable-custom .nav-tabs > li.active {
  border-top: none !important;
}
.tabbable-custom .nav-tabs > li:hover,
.tabbable-custom .nav-tabs > li.active:hover {
  background: #a8a8a8;
}
.tabbable-custom .nav-bis > li {
  background: #ffffff !important;
}
.tab-content > .tab-pane > .soustab {
  display: none;
}
.tab-content > .tab-pane > .soustab.active {
  display: block;
}
.nav-tabs > li.active > a,
.nav-tabs > li:hover > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #a8a8a8 !important;
  border: none !important;
  color: #000 !important;
}
.nav-tabs.nav-justified > li > a {
  border: none !important;
  color: #fff !important;
}
.tabbable-custom > .tab-content {
  border: none !important;
}
.spacer {
  width: 100%;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.img-responsive {
  margin-bottom: 15px;
  width: 100%;
}
/*list block*/
.list-block {
  padding-left: 0;
  list-style: none;
}
.blog-tag-data-inner {
  text-align: right;
}
/*onglet aperçu*/
.comptesRendus,
.ListeMembres {
  background: none repeat scroll 0 0 #657a81;
  height: 188px;
  margin: auto 15px;
  text-align: center;
  width: 44%;
}
.comptesRendus a,
.ListeMembres a {
  border: 0 none;
  bottom: 12px;
  font-size: 24px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.comptesRendus a:hover,
.ListeMembres a:hover {
  text-decoration: none !important;
  font-weight: 600;
}
.comptesRendus a .fa,
.ListeMembres a .fa {
  font-size: 95px;
}
.table .intitule {
  width: 75%;
}
#sample_3 .icone-pdf {
  text-align: center;
  vertical-align: middle;
}
.portlet > .portlet-title > .caption > i {
  color: #fff;
}
.blue-dark .portlet.box > .portlet-body {
  border-style: solid;
  border-width: 1px;
}
.portlet.calendar .fc-button.fc-state-active {
  color: #000000 !important;
}
/*onglet liste des membres*/
#sample_1 .envelop,
#sample_1 .linkedin {
  text-align: center;
}
/*onget comptes rendus*/
#tab_1_1_4 .content .col-md-6 {
  padding: 0;
}
/*onglet calendrier*/
#external-events ul {
  padding-left: 0;
}
#external-events li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#external-events .legende span {
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
#external-events .inline-form {
  margin-bottom: 40px;
}
.portlet.box > .portlet-body {
  border-style: solid;
  border-width: 1px;
}
.portlet.calendar .fc-button {
  color: #ffffff !important;
}
.fc-button .ui-icon {
  margin-top: 0 !important;
}
.fc-header-right .fc-button {
  background: transparent;
  border: none;
  color: #fff;
  margin-top: 4px;
}
#calendar_secteur_calendar .fc-header-right span {
  height: 40px;
  line-height: 36px;
  margin-bottom: 0 !important;
  margin-top: 12px;
}
#calendar_secteur_calendar .fc-header-right span:hover {
  font-weight: 600;
}
#calendar_secteur_calendar .fc-header-right .fc-button-prev,
#calendar_secteur_calendar .fc-header-right .fc-button-next {
  height: 29px;
}
/*menu nouvelles*/
.nouvelles {
  margin-bottom: 15px;
}
.portlet.box.orange {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #f48120 #f48120 !important;
  border-image: none;
  border-right: 1px solid #F48120 !important;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}
/* gère les couleurs des directions de travail  */
/*custom style onglet direction générale - page droit immobilier - orange*/
/*custom style toutes pages site - orange*/
/*accueil bloc direciton travail - droit immobilier*/
.accueil .directionTravail .immobilier .tuiles {
  background-color: #E77F37 !important;
}
/*style page publications*/
.publications .archives .orange {
  background: #E77F37;
  border: 1px solid #E77F37;
}
/*general*/
.orange table {
  color: #000;
}
/*onglet apercu*/
.orange .comptesRendus,
.orange .ListeMembres {
  background: #E77F37;
}
.orange .fa-file-text,
.orange .fa-user {
  color: #e54303;
}
.orange,
.comptesRendus a,
.orange .ListeMembres a {
  color: #fff;
}
.orange .comptesRendus:hover,
.orange .ListeMembres:hover {
  background: rgba(245, 128, 32, 0.8);
}
.orange .comptesRendus:hover .fa,
.orange .ListeMembres:hover .fa {
  color: rgba(253, 239, 228, 0.6);
}
/*onglet documents*/
.orange .icone-pdf .fa-file-text:before {
  color: #E77F37;
}
.orange .note-success {
  border-color: #E77F37;
}
.orange #sample_1 .envelop .fa-envelope:hover::before,
.orange #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #fdefe4;
}
/*calendrier*/
.orange .portlet-title {
  background: #E77F37;
}
.orange .portlet.box > .portlet-body {
  border: 1px solid #E77F37;
}
#external-events .legende span.orange {
  background: #E77F37;
}
.orange .portlet > .portlet-title > .caption > i {
  color: #ffffff;
}
.orange .portlet.box > .portlet-body {
  border-color: #E77F37;
}
/*onglets documents + produits info*/
.orange .note-success {
  background: #fdefe4;
}
/*onglet calendrier*/
.page-id-427 #calendar_secteur_calendar .fc-header tr {
  background: #E77F37;
}
.page-id-427 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-427 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-427 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-427 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-427 .tab-content {
  padding: 0 !important;
}
.page-id-427 .tab-content #tab_1_1_2 {
  border: 1px solid #E77F37;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-431 .comptesRendusSection .portlet.box {
  border: 1px solid #E77F37;
}
.page-id-431 .comptesRendusSection .portlet.box .portlet-title {
  background: #E77F37;
}
/*onglet documents -icone style*/
.page-id-433 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #E77F37;
}
.page-id-433 .documents .note-success {
  background: #fdefe4;
  border-color: #E77F37;
}
/*custom style onglet direction générale - page droit agricole - red*/
/*custom style toutes pages site - red*/
/*accueil bloc-message*/
.accueil .message .note-info {
  border-color: #DAA53D;
}
/*accueil bloc direciton travail - droit agricole*/
.accueil .directionTravail .agricole .tuiles {
  background-color: #DAA53D !important;
}
/*general*/
.red table {
  color: #000;
}
/*onglet apercu*/
.red .comptesRendus,
.red .ListeMembres {
  background: #DAA53D;
}
.red .fa-file-text,
.red .fa-user {
  color: #f4777c;
}
.red,
.comptesRendus a,
.red .ListeMembres a {
  color: #fff;
}
.red .comptesRendus:hover,
.red .ListeMembres:hover {
  background: rgba(236, 28, 36, 0.8);
}
.red .comptesRendus:hover .fa,
.red .ListeMembres:hover .fa {
  color: rgba(254, 245, 246, 0.6);
}
/*onglet documents*/
.red .icone-pdf .fa-file-text:before {
  color: #DAA53D;
}
.red .note-success {
  border-color: #DAA53D;
}
.red #sample_1 .envelop .fa-envelope:hover::before,
.red #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #DAA53D;
}
/*calendrier*/
.red .portlet-title {
  background: #DAA53D;
}
.red .portlet.box > .portlet-body {
  border: 1px solid #DAA53D;
}
#external-events .legende span.red {
  background: #DAA53D;
}
.red .portlet > .portlet-title > .caption > i {
  color: #ffffff;
}
.red .portlet.box > .portlet-body {
  border-color: #DAA53D;
}
/*onglets documents + produits info*/
.red .note-success {
  background: #fef5f6;
}
/*onglet calendrier*/
.page-id-245 #calendar_secteur_calendar .fc-header tr {
  background: #DAA53D;
}
.page-id-245 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-245 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-245 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-245 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-245 .tab-content {
  padding: 0 !important;
}
.page-id-245 .tab-content #tab_1_1_2 {
  border: 1px solid #DAA53D;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-272 .comptesRendusSection .portlet.box {
  border: 1px solid #DAA53D;
}
.page-id-272 .comptesRendusSection .portlet.box .portlet-title {
  background: #DAA53D;
}
/*onglet documents -icone style*/
.page-id-299 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #DAA53D;
}
.page-id-299 .documents .note-success {
  background: #fef5f6;
  border-color: #DAA53D;
}
/*custom style onglet direction générale - page comité de gestion des bureaux - blue-dark*/
/*custom style general - blue-dark*/
/*style general accueil*/
/*bloc directionde travail*/
.accueil .blue-dark {
  background-color: #1c428b !important;
}
.accueil .directionTravail .gestion .tuiles {
  background-color: #0049a8 !important;
}
/*general*/
.blue-dark table {
  color: #000;
}
/*onglet apercu*/
.blue-dark .comptesRendus,
.blue-dark .ListeMembres {
  background: #001a49;
}
.blue-dark .fa-file-text,
.blue-dark .fa-user {
  color: #1c428b;
}
.blue-dark,
.comptesRendus a,
.blue-dark .ListeMembres a {
  color: #fff;
}
.blue-dark .portlet-title {
  background: #001a49;
}
.blue-dark .portlet.box > .portlet-body {
  border-color: #001a49;
}
.blue-dark .comptesRendus:hover,
.blue-dark .ListeMembres:hover {
  background: rgba(28, 66, 139, 0.8);
}
.blue-dark .comptesRendus:hover .fa,
.blue-dark .ListeMembres:hover .fa {
  color: rgba(0, 26, 73, 0.6);
}
/*onglet documents*/
.blue-dark .icone-pdf .fa-file-text:before {
  color: #001a49;
}
.blue-dark #sample_1 .envelop .fa-envelope:hover::before,
.blue #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #1a468a;
}
/*calendrier*/
#external-events .legende span.blue-dark {
  background: #001a49;
}
.blue-dark .portlet.box > .portlet-body {
  border-color: #1c428b;
}
/*onglets documents + produits info*/
.blue-dark .note-success {
  background: #f5f9fe;
  border-color: #1c428b;
}
/*general box portlets*/
.portlet.box.blue-dark {
  border: 1px solid #1c428b;
}
/*onglet calendrier*/
.page-id-241 #calendar_secteur_calendar .fc-header tr {
  background: #001a49;
}
.page-id-241 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-241 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-241 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-241 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-241 .tab-content {
  padding: 0!important;
}
.page-id-241 .tab-content #tab_1_1_2 {
  border: 1px solid #001a49;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-279 .comptesRendusSection .portlet.box {
  border: 1px solid #001a49;
}
.page-id-279 .comptesRendusSection .portlet.box .portlet-title {
  background: #001a49;
}
/*onglet documents*/
.page-id-305 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #001a49;
}
.page-id-305 .documents .note-success {
  background: #f5f9fe;
  border-color: #001a49;
}
/*onglets appel à tous - intérieur page*/
/*custom style onglet direction générale - page droits des affaires - green*/
/*custom general site - green*/
/*style accueil*/
/*bloc nouvelles*/
.accueil .nouvelles .note-info {
  background: #f6f9eb;
  border-color: #A2CA47 !important;
}
/*style tuile accueil droit affaires*/
.accueil .directionTravail .affaires .tuiles {
  background-color: #A2CA47 !important;
}
.green .sousmenu-nav .soustab a:hover {
  color: #6AA50D;
}
.green #post-81 .tab-content .col-md-6 {
  border: none;
}
.page-id-404 .fa.fa-picture-o:hover {
  color: #A2CA47;
}
/*general*/
.green table {
  color: #000;
}
/*onglet apercu*/
.green .comptesRendus,
.green .ListeMembres {
  background: #A2CA47;
}
.green .fa-file-text,
.green .fa-user {
  color: #6aa50d;
}
.green,
.comptesRendus a,
.green .ListeMembres a {
  color: #fff;
}
.green .comptesRendus:hover,
.green .ListeMembres:hover {
  background: rgba(164, 205, 57, 0.8);
}
.green .comptesRendus:hover .fa,
.green .ListeMembres:hover .fa {
  color: rgba(106, 165, 13, 0.6);
}
/*onglet calendrier*/
.green .portlet-title {
  background: #A2CA47;
}
/*onglet documents*/
.green .icone-pdf .fa-file-text:before {
  color: #A2CA47;
}
.green .note-success {
  border-color: #A2CA47;
}
.green #sample_1 .envelop .fa-envelope:hover::before,
.green #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #1d943b;
}
/*calendrier*/
#external-events .legende span.green {
  background: #A2CA47;
}
.green .portlet.box > .portlet-body {
  border-color: #A2CA47;
}
/*onglets documents + produits info*/
.green .note-success {
  background: #f6f9eb;
}
/*onglet calendrier*/
.page-id-210 #calendar_secteur_calendar .fc-header tr {
  background: #A2CA47;
}
.page-id-210 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-210 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-210 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-210 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-210 .tab-content {
  padding: 0 !important;
}
.page-id-210 .tab-content #tab_1_1_2 {
  border: 1px solid #A2CA47;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-277 .comptesRendusSection .portlet.box {
  border: 1px solid #A2CA47;
}
.page-id-277 .comptesRendusSection .portlet.box .portlet-title {
  background: #A2CA47;
}
/*onglet documents -icone style*/
.page-id-303 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #A2CA47;
}
.page-id-303 .documents .note-success {
  background: #f6f9eb;
  border-color: #A2CA47;
}
/*custom style onglet direction générale - page droit de la personne - blue*/
/*custom style general - blue*/
/*style tuile accueil droit affaires*/
.accueil .directionTravail .personne .tuiles {
  background: url("/wp-content/themes/pme/img/img-template/droit-personne.png");
  background-color: #0085BE;
}
/*general*/
.blue table {
  color: #000;
}
/*onglet apercu*/
.blue .comptesRendus,
.blue .ListeMembres {
  background: #0085BE;
}
.blue .fa-file-text,
.blue .fa-user {
  color: #0049a8;
}
.blue,
.comptesRendus a,
.blue .ListeMembres a {
  color: #fff;
}
.blue .comptesRendus:hover,
.blue .ListeMembres:hover {
  background: rgba(0, 136, 207, 0.8);
}
.blue .comptesRendus:hover .fa,
.blue .ListeMembres:hover .fa {
  color: rgba(0, 73, 168, 0.6);
}
/*onglet documents*/
.blue .icone-pdf .fa-file-text:before {
  color: #0085BE;
}
.blue .note-success {
  border-color: #0085BE;
}
.blue #sample_1 .envelop .fa-envelope:hover::before,
.blue #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #2a6496;
}
/*calendrier*/
.blue .portlet-title {
  background: #0085BE;
}
.blue .portlet.box > .portlet-body {
  border-color: #0085BE;
}
#external-events .legende span.blue {
  background: #0085BE;
}
.blue .portlet > .portlet-title > .caption > i {
  color: #ffffff;
}
/*onglets documents + produits info*/
.blue .note-success {
  background: #f1f8fb;
}
/*onglet calendrier*/
.page-id-237 #calendar_secteur_calendar .fc-header tr {
  background: #0085BE;
}
.page-id-237 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-237 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-237 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-237 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-237 .tab-content {
  padding: 0 !important;
}
.page-id-237 .tab-content #tab_1_1_2 {
  border: 1px solid #0085BE;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-274 .comptesRendusSection .portlet.box {
  border: 1px solid #0085BE;
}
.page-id-274 .comptesRendusSection .portlet.box .portlet-title {
  background: #0085BE;
}
/*onglet documents -icone style*/
.page-id-301 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #0085BE;
}
.page-id-301 .documents .note-success {
  background: #f1f8fb;
  border-color: #0085BE;
}
/*custom style onglet direction générale - page droit de la personne - yellow-dark*/
/*custom style onglet direction générale - page collaboratrices - yellow-dark*/
.sousmenu-nav .soustab a:hover {
  color: #ff5859;
}
/*general*/
.yellow-dark table {
  color: #000;
}
/*onglet apercu*/
.yellow-dark .comptesRendus,
.yellow-dark .ListeMembres {
  background: #ff5859;
}
.yellow-dark .fa-file-text,
.yellow-dark .fa-user {
  color: #eb1c23;
}
.yellow-dark,
.comptesRendus a,
.yellow-dark .ListeMembres a {
  color: #fff;
}
.yellow-dark .comptesRendus:hover,
.yellow-dark .ListeMembres:hover {
  background: rgba(255, 88, 89, 0.8);
}
.yellow-dark .comptesRendus:hover .fa,
.yellow-dark .ListeMembres:hover .fa {
  color: rgba(235, 28, 35, 0.6);
}
/*onglet documents*/
.yellow-dark .icone-pdf .fa-file-text:before {
  color: #ff5859;
}
.yellow-dark .note-success {
  border-color: #ff5859;
}
.yellow-dark #sample_1 .envelop .fa-envelope:hover::before,
.yellow-dark #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #ff5859;
}
/*calendrier*/
.yellow-dark .portlet-title {
  background: #ff5859;
}
.portlet.box.yellow > .portlet-body {
  border-color: #ff5859;
}
#external-events .legende span.yellow-dark {
  background: #ff5859;
}
.yellow-dark .portlet > .portlet-title > .caption > i {
  color: #ffffff;
}
/*onglets documents + produits info*/
.yellow-dark .note-success {
  background: #fbeff0;
}
.portlet.box.yellow-dark {
  border: 1px solid #ff5859;
}
/*onglet calendrier*/
.page-id-250 #calendar_secteur_calendar .fc-header tr {
  background: #ff5859;
}
.page-id-250 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-250 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-250 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-250 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-250 .tab-content {
  padding: 0!important;
}
.page-id-250 .tab-content #tab_1_1_2 {
  border: 1px solid #ff5859;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-268 .comptesRendusSection .portlet.box {
  border: 1px solid #ff5859;
}
.page-id-268 .comptesRendusSection .portlet.box .portlet-title {
  background: #ff5859;
}
/*onglet documents -icone style*/
.page-id-295 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #ff5859;
}
.page-id-295 .documents .note-success {
  background: #fbeff0;
  border-color: #ff5859;
}
/*custom style onglet direction générale - page dev affaires - grey*/
/*general*/
.grey table {
  color: #000;
}
/*onglet apercu*/
.grey .comptesRendus,
.grey .ListeMembres {
  background: #657a81;
}
.grey .fa-file-text,
.grey .fa-user {
  color: #283b41;
}
.grey,
.comptesRendus a,
.grey .ListeMembres a {
  color: #fff;
}
.grey .comptesRendus:hover,
.grey .ListeMembres:hover {
  background: rgba(101, 122, 129, 0.8);
}
.grey .comptesRendus:hover .fa,
.grey .ListeMembres:hover .fa {
  color: rgba(40, 59, 65, 0.6);
}
/*onglet documents*/
.grey .icone-pdf .fa-file-text:before {
  color: #657a81;
}
.grey .note-success {
  border-color: #657a81;
}
.grey #sample_1 .envelop .fa-envelope:hover::before,
.grey #sample_1 .linkedin .fa-linkedin-square:hover::before {
  color: #eef0f0;
}
/*calendrier*/
.grey .portlet-title {
  background: #657a81;
}
.grey .portlet.box > .portlet-body {
  border-color: #657a81;
}
#external-events .legende span.grey {
  background: #657a81;
}
.grey .portlet > .portlet-title > .caption > i {
  color: #ffffff;
}
/*onglets documents + produits info*/
.grey .note-success {
  background: #eef0f0;
}
/*onglet calendrier*/
.page-id-247 #calendar_secteur_calendar .fc-header tr {
  background: #657a81;
}
.page-id-247 #calendar_secteur_calendar .fc-header tr h2 {
  color: #fff;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 600 !important;
}
.page-id-247 #calendar_secteur_calendar .fc-header {
  height: 45px;
}
.page-id-247 #calendar_secteur_calendar .fc-header-right {
  margin-right: 12px;
}
.page-id-247 #calendar_secteur_calendar .fc-header-right span {
  margin-bottom: 0!important;
  vertical-align: middle !important;
  margin-top: 4px;
}
.page-id-247 .tab-content {
  padding: 0 !important;
}
.page-id-247 .tab-content #tab_1_1_2 {
  border: 1px solid #657a81;
  margin-top: 20px;
}
/*archive - onglet comptes rendus */
.page-id-270 .comptesRendusSection .portlet.box {
  border: 1px solid #657a81;
}
.page-id-270 .comptesRendusSection .portlet.box .portlet-title {
  background: #657a81;
}
/*onglet documents -icone style*/
.page-id-297 .documents .file-icon .fa.fa-file-text-o:hover {
  color: #657a81;
}
.page-id-297 .documents .note-success {
  background: #eef0f0;
  border-color: #657a81;
}
/*style general*/
body {
  background-color: #e0e4e6 !important;
}
.page-container {
  background: #c1cacd;
  margin: 42px auto 0;
  max-width: 1300px;
}
/*appel font weather*/
@font-face {
  font-family: 'weather';
  src: url('../font/artill_clean_icons-webfont.eot');
  src: url('../font/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('../font/artill_clean_icons-webfont.woff') format('woff'), url('../font/artill_clean_icons-webfont.ttf') format('truetype'), url('../font/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
p {
  font-size: 14px;
}
a:hover {
  text-decoration: underline !important;
}
/*style general*/
/*style meteo*/
.locales #weather a {
  color: #000;
}
.locales #weather .city:hover,
.locales #weather .city i:hover {
  color: #0085BE;
}
.locales #weather .js-geolocation {
  display: none;
}
.locales #weather .item {
  min-height: 127px;
}
.locales #weather .forecast,
.locales #weather .forecast i,
.locales #weather .forecast span,
.locales #weather .forecast .temp {
  color: #ffffff !important;
}
.locales #weather .current {
  background: #1589cc;
}
.locales #weather .item {
  background: #20bae6;
}
.locales {
  z-index: 100;
}
/*style sidebar menu nav*/
.page-sidebar-menu .collabo,
.page-sidebar-menu .collabo:hover {
  background: url("/wp-content/themes/pme/assets/img/pme/lunettes-icone.png") no-repeat scroll 8px center transparent !important;
  margin-right: 0;
}
.page-sidebar-menu .collabo a {
  padding-left: 30px;
}
.page-sidebar-menu .collabo:hover a {
  background: url("/wp-content/themes/pme/assets/img/pme/lunettes-icone.png") no-repeat scroll 8px center #a2afb3 !important;
}
.page-sidebar-menu > li > ul.sub-menu > li > a {
  color: #647980 !important;
  font-size: 14px;
  padding-left: 46px !important;
  padding-right: 10px !important;
}
/*style page Accueil*/
.accueil .note-info {
  background-color: #fef5f6;
}
.portlet.box.yellow {
  background: none !important;
}
.accueil .note-info {
  margin-bottom: 0;
}
/*bloc publications*/
.accueil .portlet .image,
.accueil .portlet .txt {
  display: inline-block;
}
.accueil .portlet .txt {
  padding-left: 30px;
}
.accueil .portlet .txt a {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
}
.accueil .portlet .image {
  padding: 20px;
}
.accueil .portlet .image img {
  height: 130px;
  width: 80px;
}
.accueil .publication {
  margin-bottom: 0;
}
.accueil .encart {
  height: 90px;
  text-align: center;
}
/*bloc collaboratrices + outils marketing*/
.encart .collaboratrices,
.encart .outils {
  text-align: center;
}
.encart a {
  color: #fff;
  display: block;
  font-size: 27px;
  font-weight: 400 !important;
  padding-top: 23px;
  text-align: center;
}
.accueil .encart .portlet.box.red,
.accueil .encart .portlet.box.green {
  border: none;
}
.accueil .fa-file-text:before {
  font-size: 15px;
}
/*bloc collaboratrices*/
.encart.collabo {
  background-color: #FF5859 !important;
  background: url("/wp-content/themes/pme/assets/img/pme/glasses.png");
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 25px;
}
/*bloc outils marketing*/
.encart.outils {
  background-color: #00bcb8 !important;
  background: url("/wp-content/themes/pme/assets/img/pme/target.png");
  background-repeat: no-repeat;
  background-position: left center;
}
/*bloc nouvelles*/
.accueil .nouvelles .note-info {
  min-height: 220px;
  margin-bottom: 10px;
}
.accueil .nouvelles .note-info:last-child {
  margin-bottom: 0;
}
.accueil .portlet .image {
  padding: 0;
}
.accueil .publication {
  padding: 10px;
}
/*bloc direction de travail*/
.accueil .caption .fa-folder {
  color: #fff !important;
}
.accueil .directionTravail a {
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
  text-align: right;
  text-decoration: none;
}
.accueil .directionTravail .tuiles {
  background-position: 26px bottom !important;
  background-repeat: no-repeat !important;
  float: left;
  height: 165px;
  /* margin: 15px;*/
  text-align: right;
  width: 230px;
  margin-top: 20px;
  padding-right: 15px;
}
.accueil .directionTravail .personne,
.accueil .directionTravail .affaires,
.accueil .directionTravail .agricole {
  margin-right: 40px;
}
.accueil .directionTravail .personne {
  background: url("/wp-content/themes/pme/assets/img/pme/droit-personne.png");
  background-color: #0085BE;
}
.accueil .directionTravail .immobilier {
  background: url("/wp-content/themes/pme/assets/img/pme/droit-immobiler.png");
  background-color: #E77F37;
}
.accueil .directionTravail .affaires {
  background: url("/wp-content/themes/pme/assets/img/pme/droit-affaires.png");
  background-color: #A2CA47;
}
.accueil .directionTravail .gestion {
  background: url("/wp-content/themes/pme/assets/img/pme/comite.png");
  background-color: #0049a8;
}
.accueil .directionTravail .agricole {
  background: url("/wp-content/themes/pme/assets/img/pme/droit-agricole.png");
  background-color: #DAA53D;
}
.accueil .directionTravail .devAffaires {
  background: url("/wp-content/themes/pme/assets/img/pme/dev-affaires.png");
  background-color: #647981;
}
/*menu navigation gauche*/
.page-sidebar-menu > li > ul.sub-menu > li.current-menu-item > a {
  color: #ffffff !important;
}
.portlet.box.blue-dark.directiontrav {
  background: #fff !important;
  border: none;
  overflow: hidden;
}
/*bloc template direction de travail*/
/*encart produits info + doc récents*/
.middle,
.last {
  text-align: center;
}
.encart-docs {
  border: 1px solid #e7e7e7;
}
.encart-docs tr:hover {
  background: #f5f5f5;
}
.lienTout {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}
.encart-docs td.first {
  width: 250px;
}
/*bloc liste des membres*/
.listeDesMembres .portlet-body {
  margin-top: 13px;
}
/*bloc comptes rendus*/
.comptesRendus a.compte_rendu,
.ListeMembres a.liste_membre {
  line-height: 43px;
}
.comptesRendusSection .tab-content {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 35px;
}
.comptesRendusSection .tab-content .col-md-3 {
  padding: 0;
}
.comptesRendusSection .col-md-9 h1 {
  margin-bottom: 8px;
}
.comptesRendusSection .panel-body ul {
  list-style-type: none;
  padding-left: 0;
}
/*bloc produits informatiques generalités*/
.produitsInfoGral .col-md-8 {
  padding-left: 0;
}
.produitsInfoGral input {
  background: transparent;
  font-size: 12px;
  border: none;
  font-family: "pmeinter";
}
.produitsInfoGral .fleche {
  background: url("/wp-content/themes/pme/assets/img/pme/ferme.png");
}
/*bloc onglet documents*/
.documents .file-icon {
  text-align: center;
}
.documents .file-icon .fa.fa-file-text-o {
  color: #757575;
}
/*style publications*/
.publications .col-md-3 {
  margin-bottom: 30px;
}
/*menu collaboratrices*/
/*onglet boite a outils*/
.sousmenu-nav .nav-tabs li {
  background: #fff !important;
  border-bottom: 1px solid #e7e7e7;
}
.sousmenu-nav .nav-tabs li a {
  color: #666 !important;
  text-align: left;
}
.sousmenu-nav .nav-tabs li.active a {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}
.sousmenu-nav .nav-tabs li.active a,
.sousmenu-nav .nav-tabs li:hover a {
  background: #fff !important;
  border-bottom: 1px solid #fff!important;
  border-left: 1px solid #e7e7e7!important;
  border-right: 1px solid #e7e7e7!important;
  border-top: 1px solid #e7e7e7!important;
  border-bottom: none!important;
  color: #000;
  font-weight: 600;
  text-decoration: none!important;
}
.sousmenu-nav .nav-tabs li.active,
.sousmenu-nav .nav-tabs li:hover {
  border-bottom: none!important;
}
.soustab ul {
  padding-left: 0;
  list-style: none;
}
.soustab li {
  margin-bottom: 10px;
}
.soustab li i {
  padding-right: 70px;
}
.soustab li a {
  font-size: 14px;
}
.soustab .col-md-6 h4 {
  font-weight: 400 !important;
  margin-bottom: 30px;
}
.publications img {
  width: 250px;
}
/*page image du reseau*/
.images-tab {
  border: 1px solid #dddddd;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}
.images-tab div {
  border-right: 1px solid #dddddd;
  min-height: 142px;
  padding: 15px;
  text-align: center;
}
.images-tab div:last-child {
  border-right: none;
}
.images-tab div p {
  margin-top: 15px;
}
.images-tab div a:hover {
  color: #000;
}
/*onglet produits info details + style accordeons general*/
.container-fluid {
  padding: 0;
}
.accordion-group {
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
}
.accordion-body {
  padding: 15px;
}
.accordion-heading {
  height: 45px;
  border-bottom: 1px solid #eaeaea;
  background: #f5f5f5;
}
.accordion-heading a {
  font-weight: 200 !important;
  font-size: 20px;
  color: #000;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 42px;
}
/*menu appel à tous*/
.sidebar-search-wrapper {
  margin-top: 40px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 40px;
}
.sidebar-search-wrapper input {
  border: none;
}
.sidebar-search-wrapper .fa-search {
  color: #666;
  font-size: 25px;
}
.sidebar-search-wrapper .fa-search:hover {
  color: #eaeaea;
}
/*menu fournisseurs*/
.fournisseurs ul {
  padding-left: 20px;
  list-style: none;
  overflow: hidden;
}
.fournisseurs .listing li {
  float: left;
  margin-right: 30px;
  min-height: 150px;
  text-align: left;
  width: 155px;
}
.col-md-2.stamp {
  text-align: right;
}
.col-md-2.stamp .btn-xs {
  color: #fff;
  background: #DAA53D;
}
.prod-details .accordion-group {
  border: none;
}
.prod-details .accordion-heading {
  background: #fff;
  border: none;
}
.prod-details .accordion-heading a {
  font-weight: 700 !important;
  font-size: 15px;
}
.prod-details .col-md-10 {
  padding: 0;
}
.premiere {
  min-height: 1650px;
}
/*style calendrier events overide jquery ui*/
.fc-day-content {
  /*position: relative;*/
}
.ui-widget-header {
  background: #eeeeee !important;
  color: #000 !important;
}
.ui-dialog {
  max-width: 300px;
}
.ui-dialog-title {
  float: left;
  font-size: 11px !important;
  text-align: center;
  width: 85%;
  padding: 3px;
  text-transform: uppercase;
}
.fc-border-separate .fc-day-header {
  text-transform: uppercase;
  color: #000;
  font-weight: 200!important;
}
.ui-dialog-titlebar-close {
  background: url("/wp-content/themes/pme/assets/img/pme/ferme.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
  float: right;
  width: 13%;
  height: 40px;
  border: none;
}
.ui-dialog-titlebar-close:hover {
  background: url("/wp-content/themes/pme/assets/img/pme/ferme-hover.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  overflow: hidden;
}
#eventContent {
  border: none!important;
  padding: 11px 20px 0;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
  border: 1px solid #647980;
  border-radius: 5px;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  text-align: center;
  font-size: 14px;
}
.ui-widget {
  font-size: 12px !important;
  z-index: 100;
}
.ui-resizable-handle.ui-resizable-se {
  display: none!important;
}
/*forum onglet pages direction du travail*/
#bbpress-forums {
  background: none repeat scroll 0 0 #fff;
  min-height: 300px;
  padding-bottom: 44px;
}
#bbp-forum-0 {
  margin: auto;
  width: 85%;
}
#bbp-forum-0 tr {
  border-bottom: 1px solid #eee;
  height: 74px;
  min-height: 46px;
}
#bbp-forum-0 tr td.last,
#bbp-forum-0 .bbp-topic-freshness {
  text-align: right;
}
#bbp-forum-0 tr:first-child {
  line-height: 65px;
}
.bbp-topic-meta {
  margin-top: 10px;
}
#bbp-forum-0 .bbp-topic-reply-count {
  text-align: center;
  width: 21%;
}
#bbp-forum-0 .bbp-author-name {
  color: #647980;
  font-weight: bold;
}
.portlet.box > .portlet-body {
  border-style: none;
}
.portlet.calendar .fc-event-title {
  font-size: 12px;
  text-transform: lowercase;
}
.portlet.box.green-meadow.calendar {
  border: 1px solid #0085BE ;
}
.portlet.box.green-meadow.calendar .portlet-title {
  background: #0085BE;
}
/*style page blog page ensavoir + sur onglet nouvelles*/
.blog-page article {
  margin-bottom: 25px;
  border-bottom: 1px solid #647980;
}
.blog-page article .comment-metadata {
  margin-top: 5px;
}
.blog-page #commentform p {
  margin-bottom: 20px;
}
.blog-page article .reply {
  margin-top: 5px;
  margin-left: 10px;
}
.blog-page #commentform label {
  width: 20%;
}
.blog-page #commentform input,
.blog-page #commentform textarea {
  border: 1px solid #ddd;
  background: #f5f5f5;
}
.blog-page .comment-form-comment label {
  vertical-align: top;
}
.blog-page .comment-form-comment {
  margin-bottom: 20px;
}
.single-nouvelles .comment {
  width: 80%;
}
.single-nouvelles .comment-author.vcard .url {
  font-size: 15px;
}
.accordion-heading {
  background: #F5F5F5;
  border: 1px solid #dddddd;
}
/*page nouvelle en savoir +*/
.single-nouvelles .comment {
  position: relative;
}
.single-nouvelles .comment footer {
  overflow: hidden;
}
.single-nouvelles .comment .comment-author {
  float: left;
}
.single-nouvelles .comment .comment-metadata,
.single-nouvelles .comment .reply {
  float: right;
}
.single-nouvelles .comment-content {
  text-align: center;
}
.single-nouvelles .post-comment {
  margin-top: 85px;
}
#tab_1_1_1 .portlet.box {
  background: #ffffff !important;
}
/*calendar grand*/
.fc-button .fc-icon-wrap {
  top: 15%;
}
/*calendar all*/
/*icones font awesome*/
.fa-file:before,
.fa-link:before {
  padding-right: 15px;
}
#post-51 .fa.fa-calendar:hover,
#post-51 .fa.fa-comments:hover {
  color: #2a6496;
}
/*page appel à tous*/
/*forumes*/
#bbpress-forums a,
#bbpress-forums {
  font-size: 13px;
}
.nav-tabs > li.active {
  background-color: #a8a8a8;
}
/*general footer*/
.footer .footer-inner {
  float: right;
}
.credits,
.credits a {
  color: #fff;
}
.footer .footer-tools {
  display: none;
}
/*ajout css icones fonts*/
@charset "UTF-8";
@font-face {
  font-family: "pmeinter";
  src: url("../font/pmeinter.eot");
  src: url("../font/pmeinter.eot?#iefix") format("embedded-opentype"), url("../font/pmeinter.woff") format("woff"), url("../font/pmeinter.ttf") format("truetype"), url("../font/pmeinter.svg#pmeinter") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "pmeinter" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="logo-"]:before,
[class*=" logo-"]:before {
  font-family: "pmeinter" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo-frame:before {
  content: "a";
}
.logo-lunettes:before {
  content: "b";
}
.logo-arr-right:before {
  content: "c";
}

