/*
Theme Name: Twenty Fourteen
Description: Used to style the TinyMCE editor.
*/
/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Headings
 * 3.0 - Text Elements
 * 4.0 - Links
 * 5.0 - Alignment
 * 6.0 - Tables
 * 7.0 - Images
 * 8.0 - RTL
 * ----------------------------------------------------------------------------
 */
/**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */
/* line 27, ../scss/editor-style.scss */
html .mceContentBody {
  font-size: 100%;
  max-width: 474px;
}

/* line 32, ../scss/editor-style.scss */
body {
  color: #2b2b2b;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: baseline;
}

/**
 * 2.0 Headings
 * ----------------------------------------------------------------------------
 */
/* line 46, ../scss/editor-style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  margin: 36px 0 12px;
}

/* line 57, ../scss/editor-style.scss */
h1 {
  font-size: 26px;
  line-height: 1.3846153846;
}

/* line 62, ../scss/editor-style.scss */
h2 {
  font-size: 24px;
  line-height: 1;
}

/* line 67, ../scss/editor-style.scss */
h3 {
  font-size: 22px;
  line-height: 1.0909090909;
}

/* line 72, ../scss/editor-style.scss */
h4 {
  font-size: 20px;
  line-height: 1.2;
}

/* line 77, ../scss/editor-style.scss */
h5 {
  font-size: 18px;
  line-height: 1.3333333333;
}

/* line 82, ../scss/editor-style.scss */
h6 {
  font-size: 16px;
  line-height: 1.5;
}

/* line 87, ../scss/editor-style.scss */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/**
 * 3.0 Text Elements
 * ----------------------------------------------------------------------------
 */
/* line 102, ../scss/editor-style.scss */
address {
  font-style: italic;
  margin-bottom: 24px;
}

/* line 107, ../scss/editor-style.scss */
abbr[title] {
  border-bottom: 1px dotted #2b2b2b;
  cursor: help;
}

/* line 112, ../scss/editor-style.scss */
b,
strong {
  font-weight: 700;
}

/* line 117, ../scss/editor-style.scss */
cite {
  border: 0;
}

/* line 121, ../scss/editor-style.scss */
cite,
dfn,
em,
i {
  font-style: italic;
}

/* line 128, ../scss/editor-style.scss */
mark,
ins {
  background: #fff9c0;
  border: 0;
  color: inherit;
  text-decoration: none;
}

/* line 136, ../scss/editor-style.scss */
p {
  margin: 0 0 24px;
}

/* line 140, ../scss/editor-style.scss */
code,
kbd,
tt,
var,
samp,
pre {
  font-family: monospace, serif;
  font-size: 15px;
  line-height: 1.6;
}

/* line 151, ../scss/editor-style.scss */
pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 162, ../scss/editor-style.scss */
blockquote,
q {
  quotes: none;
}

/* line 167, ../scss/editor-style.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 175, ../scss/editor-style.scss */
blockquote {
  color: #767676;
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2631578947;
  margin: 0 0 24px;
}

/* line 184, ../scss/editor-style.scss */
blockquote cite,
blockquote small {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* line 192, ../scss/editor-style.scss */
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

/* line 198, ../scss/editor-style.scss */
blockquote strong,
blockquote b {
  font-weight: 400;
}

/* line 203, ../scss/editor-style.scss */
small {
  font-size: smaller;
}

/* line 207, ../scss/editor-style.scss */
big {
  font-size: 125%;
}

/* line 211, ../scss/editor-style.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 220, ../scss/editor-style.scss */
sup {
  bottom: 1ex;
}

/* line 224, ../scss/editor-style.scss */
sub {
  top: .5ex;
}

/* line 228, ../scss/editor-style.scss */
dl {
  margin: 0 0 24px;
}

/* line 232, ../scss/editor-style.scss */
dt {
  font-weight: bold;
}

/* line 236, ../scss/editor-style.scss */
dd {
  margin: 0 0 24px;
}

/* line 240, ../scss/editor-style.scss */
ul,
ol {
  list-style: none;
  margin: 0 0 24px 20px;
  padding-left: 0;
}

/* line 247, ../scss/editor-style.scss */
ul {
  list-style: disc;
}

/* line 251, ../scss/editor-style.scss */
ol {
  list-style: decimal;
}

/* line 255, ../scss/editor-style.scss */
li > ul,
li > ol {
  margin: 0 0 0 20px;
}

/* line 260, ../scss/editor-style.scss */
del {
  color: #767676;
}

/* line 264, ../scss/editor-style.scss */
hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 23px;
}

/**
 * 4.0 Links
 * ----------------------------------------------------------------------------
 */
/* line 277, ../scss/editor-style.scss */
a {
  color: #24890d;
  text-decoration: none;
}

/* line 282, ../scss/editor-style.scss */
a:visited {
  color: #24890d;
}

/* line 286, ../scss/editor-style.scss */
a:focus {
  outline: thin dotted;
}

/* line 290, ../scss/editor-style.scss */
a:active,
a:hover {
  color: #41a62a;
  outline: 0;
}

/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */
/* line 302, ../scss/editor-style.scss */
.alignleft {
  float: left;
  margin: 7px 24px 7px 0;
}

/* line 307, ../scss/editor-style.scss */
.alignright {
  float: right;
  margin: 7px 0 7px 24px;
}

/* line 312, ../scss/editor-style.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 7px auto;
}

/* line 318, ../scss/editor-style.scss */
blockquote.alignleft,
blockquote.alignright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  width: 50%;
}

/* line 326, ../scss/editor-style.scss */
blockquote.alignleft p,
blockquote.alignright p {
  margin-bottom: 17px;
}

/**
 * 6.0 Tables
 * ----------------------------------------------------------------------------
 */
/* line 337, ../scss/editor-style.scss */
.mceItemTable {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0 1px;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.2857142857;
  margin-bottom: 24px;
  width: 100%;
}

/* line 348, ../scss/editor-style.scss */
.mceItemTable th,
.mceItemTable caption {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
  font-weight: 700;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: baseline;
}

/* line 359, ../scss/editor-style.scss */
.mceItemTable td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  padding: 8px;
  vertical-align: baseline;
}

/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */
/* line 374, ../scss/editor-style.scss */
img {
  height: auto;
  max-width: 474px;
  vertical-align: middle;
}

/* line 380, ../scss/editor-style.scss */
.wp-caption {
  background: transparent;
  border: none;
  color: #767676;
  margin: 0 0 24px 0;
  max-width: 474px;
  padding: 0;
  text-align: left;
}

/* line 390, ../scss/editor-style.scss */
.wp-caption.alignleft {
  margin: 7px 14px 7px 0;
}

/* line 394, ../scss/editor-style.scss */
.wp-caption.alignright {
  margin: 7px 0 7px 14px;
}

/* line 398, ../scss/editor-style.scss */
.wp-caption.aligncenter {
  margin: 7px 0;
}

/* line 402, ../scss/editor-style.scss */
.wp-caption-dt {
  margin: 0;
}

/* line 406, ../scss/editor-style.scss */
.wp-caption .wp-caption-text,
.wp-caption-dd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
  padding: 0 10px 0 0;
  /* Avoid the caption to overflow the width of the image because wp-caption has 10px wider width */
  text-align: left;
}

/* line 419, ../scss/editor-style.scss */
.mceTemp + ul,
.mceTemp + ol {
  list-style-position: inside;
}

/**
 * 8.0 RTL
 * ----------------------------------------------------------------------------
 */
/* line 430, ../scss/editor-style.scss */
html .mceContentBody.rtl {
  direction: rtl;
  unicode-bidi: embed;
}

/* line 435, ../scss/editor-style.scss */
.rtl ol,
.rtl ul {
  margin-left: 0;
  margin-right: 24px;
}

/* line 441, ../scss/editor-style.scss */
.rtl .wp-caption,
.rtl tr th {
  text-align: right;
}

/* line 446, ../scss/editor-style.scss */
.rtl td {
  text-align: right;
}
