/**
 * Global Styles for older IE versions (previous to IE9).
 */
/* line 5, ../scss/ie.scss */
pre,
fieldset,
table,
th,
td,
input,
textarea {
  border: 1px solid #e5e5e5;
}

/* line 15, ../scss/ie.scss */
hr {
  background-color: #e5e5e5;
}

/* line 19, ../scss/ie.scss */
button,
input,
select,
textarea {
  vertical-align: middle;
}

/* line 27, ../scss/ie.scss */
input:focus,
textarea:focus {
  border: 1px solid #b2b2b2;
}

/* line 32, ../scss/ie.scss */
.site-content blockquote.alignleft,
.site-content blockquote.alignright {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/* line 38, ../scss/ie.scss */
.post-thumbnail,
a.post-thumbnail:hover {
  background: transparent;
}

/* line 43, ../scss/ie.scss */
.list-view .site-content .hentry {
  border-top: 1px solid #e5e5e5;
  padding-top: 48px;
}

/* line 48, ../scss/ie.scss */
.gallery-caption {
  background: #000;
  filter: alpha(opacity=0);
}

/* line 53, ../scss/ie.scss */
.gallery-item:hover .gallery-caption {
  filter: alpha(opacity=70);
}

/* line 57, ../scss/ie.scss */
.nav-links {
  border-top: 1px solid #e5e5e5;
}

/* line 61, ../scss/ie.scss */
.post-navigation a,
.image-navigation .previous-image,
.image-navigation .next-image,
.contributor {
  border-bottom: 1px solid #e5e5e5;
}

/* line 68, ../scss/ie.scss */
.contributor-avatar,
.comment-author .avatar {
  border: 1px solid #e5e5e5;
}

/* line 73, ../scss/ie.scss */
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid #e5e5e5;
}

/* line 79, ../scss/ie.scss */
.comment-list .reply {
  margin-top: 0;
}

/* line 83, ../scss/ie.scss */
#secondary {
  color: #b3b3b3;
}

/* line 87, ../scss/ie.scss */
.widget abbr[title] {
  border-color: #b3b3b3;
}

/* line 91, ../scss/ie.scss */
.widget pre,
.widget fieldset,
.widget table,
.widget th,
.widget td,
.widget input,
.widget textarea {
  border-color: #4d4d4d;
}

/* line 101, ../scss/ie.scss */
.widget blockquote,
.widget .wp-caption,
.widget_twentyfourteen_ephemera .entry-meta a {
  color: #b3b3b3;
}

/* line 107, ../scss/ie.scss */
.widget del {
  color: #666;
}

/* line 111, ../scss/ie.scss */
.widget hr {
  background-color: #4d4d4d;
}

/* line 115, ../scss/ie.scss */
.widget input,
.widget textarea {
  background-color: #1a1a1a;
}

/* line 120, ../scss/ie.scss */
.widget input:focus,
.widget textarea:focus {
  border-color: #262626;
}

/* line 125, ../scss/ie.scss */
.widget_calendar thead th {
  background-color: #1a1a1a;
}

/* line 129, ../scss/ie.scss */
.widget_twentyfourteen_ephemera > ol > li {
  border-bottom: 1px solid #4d4d4d;
}

/* line 133, ../scss/ie.scss */
.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_categories li ul,
.widget_nav_menu li ul,
.widget_pages li ul {
  border-top: 1px solid #4d4d4d;
}

/* line 147, ../scss/ie.scss */
.content-sidebar .widget pre,
.content-sidebar .widget fieldset,
.content-sidebar .widget table,
.content-sidebar .widget th,
.content-sidebar .widget td,
.content-sidebar .widget input,
.content-sidebar .widget textarea,
.content-sidebar .widget_archive li,
.content-sidebar .widget_categories li,
.content-sidebar .widget_links li,
.content-sidebar .widget_meta li,
.content-sidebar .widget_nav_menu li,
.content-sidebar .widget_pages li,
.content-sidebar .widget_recent_comments li,
.content-sidebar .widget_recent_entries li,
.content-sidebar .widget_categories li ul,
.content-sidebar .widget_nav_menu li ul,
.content-sidebar .widget_pages li ul {
  border-color: #e5e5e5;
}

/* line 168, ../scss/ie.scss */
.content-sidebar .widget hr {
  background-color: #e5e5e5;
}

/* line 172, ../scss/ie.scss */
.content-sidebar .widget input:focus,
.content-sidebar .widget textarea:focus {
  border: 1px solid #b2b2b2;
}

/* line 177, ../scss/ie.scss */
.content-sidebar .widget_calendar thead th {
  background-color: #fafafa;
}

/* line 181, ../scss/ie.scss */
.content-sidebar .widget_twentyfourteen_ephemera > ol > li {
  border-bottom: 1px solid #e5e5e5;
}

/* line 185, ../scss/ie.scss */
.site-footer,
.site-info,
.site-info a {
  color: #b3b3b3;
}

/* line 191, ../scss/ie.scss */
#supplementary + .site-info {
  border-top: 1px solid #4d4d4d;
}

/* line 195, ../scss/ie.scss */
.featured-content {
  background: #000;
}

/**
 * Internet Explorer 8
 */
/* line 204, ../scss/ie.scss */
.ie8 img.size-full,
.ie8 img.size-large,
.ie8 img.header-image,
.ie8 img.wp-post-image,
.ie8 img[class*="align"],
.ie8 img[class*="wp-image-"],
.ie8 img[class*="attachment-"] {
  height: auto;
  width: auto;
  /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
}

/* line 215, ../scss/ie.scss */
.ie8 .full-size-link:before,
.ie8 .parent-post-link:before,
.ie8 .site-content span + .byline:before,
.ie8 .site-content span + .comments-link:before,
.ie8 .site-content span + .edit-link:before,
.ie8 .site-content span + .entry-date:before {
  content: "";
}

/* line 224, ../scss/ie.scss */
.ie8 .attachment span.entry-date:before,
.ie8 .entry-content .edit-link a:before,
.ie8 .entry-meta .edit-link a:before,
.ie8 .site-content .byline a:before,
.ie8 .site-content .comments-link a:before,
.ie8 .site-content .entry-date a:before,
.ie8 .site-content .featured-post:before,
.ie8 .site-content .full-size-link a:before,
.ie8 .site-content .parent-post-link a:before,
.ie8 .site-content .post-format a:before {
  display: inline-block;
  font: normal 16px/1 Genericons;
  text-decoration: inherit;
  vertical-align: text-bottom;
}

/* line 240, ../scss/ie.scss */
.ie8 .site-content .entry-meta > span {
  margin-right: 10px;
}

/* line 244, ../scss/ie.scss */
.ie8 .site-content .format-video .post-format a:before {
  content: "\f104";
}

/* line 248, ../scss/ie.scss */
.ie8 .site-content .format-audio .post-format a:before {
  content: "\f109";
}

/* line 252, ../scss/ie.scss */
.ie8 .site-content .format-image .post-format a:before {
  content: "\f473";
  position: relative;
  top: 1px;
}

/* line 258, ../scss/ie.scss */
.ie8 .site-content .format-quote .post-format a:before {
  content: "\f106";
  margin-right: 2px;
}

/* line 263, ../scss/ie.scss */
.ie8 .site-content .format-gallery .post-format a:before {
  content: "\f103";
  margin-right: 4px;
}

/* line 268, ../scss/ie.scss */
.ie8 .site-content .format-aside .post-format a:before {
  content: "\f101";
  margin-right: 2px;
}

/* line 273, ../scss/ie.scss */
.ie8 .site-content .format-link .post-format a:before {
  content: "\f107";
  position: relative;
  top: 1px;
}

/* line 279, ../scss/ie.scss */
.ie8 .site-content .featured-post:before {
  content: "\f308";
  margin-right: 3px;
  position: relative;
  top: 1px;
}

/* line 286, ../scss/ie.scss */
.ie8 .site-content .entry-date a:before,
.ie8 .attachment .site-content span.entry-date:before {
  content: "\f303";
  margin-right: 1px;
  position: relative;
  top: 1px;
}

/* line 294, ../scss/ie.scss */
.ie8 .site-content .byline a:before {
  content: "\f304";
}

/* line 298, ../scss/ie.scss */
.ie8 .site-content .comments-link a:before {
  content: "\f300";
  margin-right: 2px;
}

/* line 303, ../scss/ie.scss */
.ie8 .entry-content .edit-link a:before,
.ie8 .entry-meta .edit-link a:before {
  content: "\f411";
}

/* line 308, ../scss/ie.scss */
.ie8 .site-content .full-size-link a:before {
  content: "\f402";
  margin-right: 1px;
}

/* line 313, ../scss/ie.scss */
.ie8 .site-content .parent-post-link a:before {
  content: "\f301";
}

/* line 317, ../scss/ie.scss */
.ie8 .main-content {
  float: left;
}

/* line 321, ../scss/ie.scss */
.ie8 .content-area {
  float: left;
  padding-top: 72px;
  width: 100%;
}

/* line 327, ../scss/ie.scss */
.ie8 .site-content {
  margin-right: 29.04761904%;
  margin-left: 17.61904761%;
}

/* line 332, ../scss/ie.scss */
.ie8 .search-box-wrapper,
.ie8 .featured-content {
  padding-left: 17.61904761%;
}

/* line 337, ../scss/ie.scss */
.ie8 .header-main {
  padding: 0 0 0 30px;
}

/* line 341, ../scss/ie.scss */
.ie8 .search-toggle {
  margin-right: 0;
}

/* line 345, ../scss/ie.scss */
.ie8 .search-box .search-field {
  width: 324px;
}

/* line 349, ../scss/ie.scss */
.ie8 .site-navigation li .current_page_item > a,
.ie8 .site-navigation li .current_page_ancestor > a,
.ie8 .site-navigation li .current-menu-item > a,
.ie8 .site-navigation li .current-menu-ancestor > a {
  background-color: #000;
}

/* line 356, ../scss/ie.scss */
.ie8 .primary-navigation {
  float: right;
  font-size: 11px;
  margin: 0 1px 0 -10px;
  padding: 0;
  text-transform: uppercase;
}

/* line 364, ../scss/ie.scss */
.ie8 .primary-navigation .menu-toggle {
  display: none;
  padding: 0;
}

/* line 369, ../scss/ie.scss */
.ie8 .primary-navigation .nav-menu {
  border-bottom: 0;
  display: block;
}

/* line 374, ../scss/ie.scss */
.ie8 .primary-navigation.toggled-on {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

/* line 380, ../scss/ie.scss */
.ie8 .primary-navigation li {
  border: 0;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  position: relative;
}

/* line 388, ../scss/ie.scss */
.ie8 .primary-navigation a {
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap;
}

/* line 394, ../scss/ie.scss */
.ie8 .primary-navigation ul ul {
  background-color: #24890d;
  float: left;
  margin: 0;
  position: absolute;
  top: 48px;
  left: -999em;
  z-index: 99999;
}

/* line 404, ../scss/ie.scss */
.ie8 .primary-navigation li li {
  border: 0;
  display: block;
  height: auto;
  line-height: 1.0909090909;
}

/* line 411, ../scss/ie.scss */
.ie8 .primary-navigation ul ul ul {
  left: -999em;
  top: 0;
}

/* line 416, ../scss/ie.scss */
.ie8 .primary-navigation ul ul a {
  padding: 18px 12px;
  white-space: normal;
  width: 176px;
}

/* line 422, ../scss/ie.scss */
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation li.focus > a {
  background-color: #24890d;
  color: #fff;
}

/* line 428, ../scss/ie.scss */
.ie8 .primary-navigation ul ul a:hover,
.ie8 .primary-navigation ul ul li.focus > a {
  background-color: #41a62a;
}

/* line 433, ../scss/ie.scss */
.ie8 .primary-navigation ul li:hover > ul,
.ie8 .primary-navigation ul li.focus > ul {
  left: auto;
}

/* line 438, ../scss/ie.scss */
.ie8 .primary-navigation ul ul li:hover > ul,
.ie8 .primary-navigation ul ul li.focus > ul {
  left: 100%;
}

/* line 443, ../scss/ie.scss */
.ie8 .archive-header,
.ie8 .page-header {
  margin: 0 auto 60px;
  padding: 0 10px;
}

/* line 449, ../scss/ie.scss */
.ie8 .site-content .has-post-thumbnail .entry-header {
  margin-top: -48px;
}

/* line 453, ../scss/ie.scss */
.ie8 .archive-header,
.ie8 .comments-area,
.ie8 .image-navigation,
.ie8 .page-header,
.ie8 .page-content,
.ie8 .post-navigation,
.ie8 .site-content .entry-header,
.ie8 .site-content .entry-content,
.ie8 .site-content .entry-summary,
.ie8 .site-content footer.entry-meta {
  margin-right: 54px;
  padding-right: 30px;
  padding-left: 30px;
}

/* line 468, ../scss/ie.scss */
.ie8 .list-view .site-content .hentry:first-child,
.ie8 .list-view .site-content .hentry.has-post-thumbnail {
  border-top: 0;
  padding-top: 0;
}

/* line 474, ../scss/ie.scss */
.ie8 .comment-list .trackback,
.ie8 .comment-list .pingback,
.ie8 .comment-list article {
  margin-bottom: 36px;
  padding-top: 36px;
}

/* line 481, ../scss/ie.scss */
.ie8 .comment-author .avatar {
  height: 34px;
  top: 2px;
  width: 34px;
}

/* line 487, ../scss/ie.scss */
.ie8 .comment-author,
.ie8 .comment-awaiting-moderation,
.ie8 .comment-content,
.ie8 .comment-list .reply,
.ie8 .comment-metadata {
  padding-left: 50px;
}

/* line 495, ../scss/ie.scss */
.ie8 .comment-list .children {
  margin-left: 20px;
}

/* line 499, ../scss/ie.scss */
.ie8 .full-width .site-content {
  margin-right: 0;
}

/* line 503, ../scss/ie.scss */
.ie8 .full-width .archive-header,
.ie8 .full-width .comments-area,
.ie8 .full-width .image-navigation,
.ie8 .full-width .page-header,
.ie8 .full-width .page-content,
.ie8 .full-width .post-navigation,
.ie8 .full-width .site-content .entry-header,
.ie8 .full-width .site-content .entry-content,
.ie8 .full-width .site-content .entry-summary,
.ie8 .full-width .site-content footer.entry-meta {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
}

/* line 518, ../scss/ie.scss */
.ie8 .full-width.singular .hentry.has-post-thumbnail {
  margin-top: -72px;
}

/* line 523, ../scss/ie.scss */
.ie8 .singular .hentry.has-post-thumbnail {
  margin-top: 0;
}

/* line 527, ../scss/ie.scss */
.ie8 .error404 .page-header {
  margin-bottom: 24px;
}

/* line 531, ../scss/ie.scss */
.ie8 .contributor-avatar {
  margin-left: -168px;
}

/* line 535, ../scss/ie.scss */
.ie8 .contributor-summary {
  float: left;
}

/* line 539, ../scss/ie.scss */
.ie8 .site:before {
  background-color: #000;
  content: "";
  display: block;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 17.61904761%;
  z-index: 2;
}

/* line 552, ../scss/ie.scss */
.ie8 #secondary {
  border: 0;
  clear: none;
  color: #b3b3b3;
  float: left;
  margin: 0 0 0 -100%;
  min-height: 100vh;
  padding: 0 30px;
  width: 12.85714285%;
}

/* line 563, ../scss/ie.scss */
.ie8 .site-description {
  display: block;
  margin: -3px 0 21px;
}

/* line 568, ../scss/ie.scss */
.ie8 .secondary-navigation {
  font-size: 11px;
  margin: 0 -30px 48px;
  width: calc(100% + 60px);
}

/* line 574, ../scss/ie.scss */
.ie8 .secondary-navigation li {
  border-top: 1px solid #4d4d4d;
  position: relative;
}

/* line 579, ../scss/ie.scss */
.ie8 .secondary-navigation a {
  padding: 10px 30px;
}

/* line 583, ../scss/ie.scss */
.ie8 .secondary-navigation ul ul {
  background-color: #24890d;
  position: absolute;
  top: 0;
  left: -999em;
  width: 222px;
  z-index: 99999;
}

/* line 592, ../scss/ie.scss */
.ie8 .secondary-navigation li li {
  border-top: 0;
}

/* line 596, ../scss/ie.scss */
.ie8 .secondary-navigation li:hover > a,
.ie8 .secondary-navigation li.focus > a {
  background-color: #24890d;
  color: #fff;
}

/* line 602, ../scss/ie.scss */
.ie8 .secondary-navigation ul ul a:hover,
.ie8 .secondary-navigation ul ul li.focus > a {
  background-color: #41a62a;
}

/* line 607, ../scss/ie.scss */
.ie8 .secondary-navigation ul li:hover > ul,
.ie8 .secondary-navigation ul li.focus > ul {
  left: 202px;
}

/* line 612, ../scss/ie.scss */
.ie8 .content-sidebar {
  border: 0;
  float: right;
  margin-left: -29.04761904%;
  padding: 72px 30px 24px;
  width: 29.04761904%;
}

/* line 620, ../scss/ie.scss */
.ie8 #supplementary {
  padding: 0;
}

/* line 624, ../scss/ie.scss */
.ie8 .footer-sidebar {
  font-size: 12px;
  line-height: 1.5;
}

/* line 629, ../scss/ie.scss */
.ie8 .footer-sidebar .widget,
.ie8 .primary-sidebar .widget {
  font-size: 12px;
  line-height: 1.5;
}

/* line 635, ../scss/ie.scss */
.ie8 .footer-sidebar .widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 30px;
  width: 25%;
}

/* line 644, ../scss/ie.scss */
.ie8 .footer-sidebar .widget h1,
.ie8 .primary-sidebar .widget h1 {
  font-size: 20px;
  line-height: 1.2;
}

/* line 650, ../scss/ie.scss */
.ie8 .footer-sidebar .widget h2,
.ie8 .primary-sidebar .widget h2 {
  font-size: 18px;
  line-height: 1.3333333333;
}

/* line 656, ../scss/ie.scss */
.ie8 .footer-sidebar .widget h3,
.ie8 .primary-sidebar .widget h3 {
  font-size: 16px;
  line-height: 1.5;
}

/* line 662, ../scss/ie.scss */
.ie8 .footer-sidebar .widget h4,
.ie8 .primary-sidebar .widget h4 {
  font-size: 14px;
  line-height: 1.7142857142;
}

/* line 668, ../scss/ie.scss */
.ie8 .footer-sidebar .widget h5,
.ie8 .primary-sidebar .widget h5 {
  font-size: 12px;
  line-height: 2;
}

/* line 674, ../scss/ie.scss */
.ie8 .footer-sidebar .widget h6,
.ie8 .primary-sidebar .widget h6 {
  font-size: 11px;
  line-height: 2.1818181818;
}

/* line 680, ../scss/ie.scss */
.ie8 .footer-sidebar .widget code,
.ie8 .footer-sidebar .widget kbd,
.ie8 .footer-sidebar .widget tt,
.ie8 .footer-sidebar .widget var,
.ie8 .footer-sidebar .widget samp,
.ie8 .footer-sidebar .widget pre,
.ie8 .primary-sidebar .widget code,
.ie8 .primary-sidebar .widget kbd,
.ie8 .primary-sidebar .widget tt,
.ie8 .primary-sidebar .widget var,
.ie8 .primary-sidebar .widget samp,
.ie8 .primary-sidebar .widget pre {
  font-size: 11px;
  line-height: 1.6363636363;
}

/* line 696, ../scss/ie.scss */
.ie8 .footer-sidebar .widget blockquote,
.ie8 .primary-sidebar .widget blockquote {
  font-size: 14px;
  line-height: 1.2857142857;
}

/* line 702, ../scss/ie.scss */
.ie8 .footer-sidebar .widget blockquote cite,
.ie8 .primary-sidebar .widget blockquote cite {
  font-size: 12px;
  line-height: 1.5;
}

/* line 708, ../scss/ie.scss */
.ie8 .footer-sidebar .widget input,
.ie8 .footer-sidebar .widget textarea,
.ie8 .primary-sidebar .widget input,
.ie8 .primary-sidebar .widget textarea {
  font-size: 12px;
  padding: 3px 2px 4px 4px;
}

/* line 716, ../scss/ie.scss */
.ie8 .footer-sidebar .widget input[type="button"],
.ie8 .footer-sidebar .widget input[type="reset"],
.ie8 .footer-sidebar .widget input[type="submit"],
.ie8 .primary-sidebar .widget input[type="button"],
.ie8 .primary-sidebar .widget input[type="reset"],
.ie8 .primary-sidebar .widget input[type="submit"] {
  padding: 5px 15px 4px;
}

/* line 725, ../scss/ie.scss */
.ie8 .footer-sidebar .widget .widget-title,
.ie8 .primary-sidebar .widget .widget-title {
  font-size: 11px;
  font-weight: 700;
  line-height: 1.6363636363;
  margin-bottom: 18px;
}

/* line 733, ../scss/ie.scss */
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .entry-title,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .entry-meta,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .wp-caption-text,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .post-format-archive-link,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .entry-content table,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .entry-title,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .entry-meta,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .wp-caption-text,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .post-format-archive-link,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .entry-content table {
  font-size: 11px;
  line-height: 1.6363636363;
}

/* line 747, ../scss/ie.scss */
.ie8 .footer-sidebar .widget_archive li,
.ie8 .footer-sidebar .widget_categories li,
.ie8 .footer-sidebar .widget_links li,
.ie8 .footer-sidebar .widget_meta li,
.ie8 .footer-sidebar .widget_nav_menu li,
.ie8 .footer-sidebar .widget_pages li,
.ie8 .footer-sidebar .widget_recent_comments li,
.ie8 .footer-sidebar .widget_recent_entries li,
.ie8 .primary-sidebar .widget_archive li,
.ie8 .primary-sidebar .widget_categories li,
.ie8 .primary-sidebar .widget_links li,
.ie8 .primary-sidebar .widget_meta li,
.ie8 .primary-sidebar .widget_nav_menu li,
.ie8 .primary-sidebar .widget_pages li,
.ie8 .primary-sidebar .widget_recent_comments li,
.ie8 .primary-sidebar .widget_recent_entries li {
  border-top: 0;
  padding: 0 0 6px;
}

/* line 767, ../scss/ie.scss */
.ie8 .footer-sidebar .widget_categories li ul,
.ie8 .footer-sidebar .widget_nav_menu li ul,
.ie8 .footer-sidebar .widget_pages li ul,
.ie8 .primary-sidebar .widget_categories li ul,
.ie8 .primary-sidebar .widget_nav_menu li ul,
.ie8 .primary-sidebar .widget_pages li ul {
  border-top: 0;
  margin-top: 0;
}

/* line 777, ../scss/ie.scss */
.ie8 .grid .featured-content .entry-header {
  border-color: #000;
  border-style: solid;
  border-width: 12px 10px;
  height: 96px;
  padding: 0;
}

/* line 785, ../scss/ie.scss */
.ie8 .featured-content {
  padding-left: 17.61904761%;
}

/* line 789, ../scss/ie.scss */
.ie8 .grid .featured-content .hentry {
  float: left;
  width: 33.3333333%;
}

/* line 794, ../scss/ie.scss */
.ie8 .grid .featured-content .hentry:nth-child(3n+1) {
  clear: both;
}

/* line 798, ../scss/ie.scss */
.ie8 .grid .featured-content .entry-header {
  height: 120px;
}

/* line 802, ../scss/ie.scss */
.ie8 .slider .featured-content .entry-title {
  font-size: 33px;
  line-height: 1.0909090909;
}

/* line 807, ../scss/ie.scss */
.ie8 .slider .featured-content .entry-header {
  min-height: inherit;
  padding: 24px 30px 48px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 3;
}

/* line 817, ../scss/ie.scss */
.ie8 .slider-control-paging {
  background: transparent;
  margin-top: -48px;
  padding-left: 24px;
  width: 50%;
}

/* line 824, ../scss/ie.scss */
.ie8 .slider-control-paging li {
  margin: 12px 12px 12px 0;
}

/* line 828, ../scss/ie.scss */
.ie8 .slider-control-paging a {
  height: 24px;
  width: 24px;
}

/* line 833, ../scss/ie.scss */
.ie8 .slider-control-paging a:before {
  top: 6px;
  left: 6px;
}

/* line 838, ../scss/ie.scss */
.ie8 .slider-direction-nav {
  clear: none;
  float: right;
  margin-top: -48px;
  width: 98px;
}

/* line 845, ../scss/ie.scss */
.ie8 .slider-direction-nav li:first-child {
  padding: 0 1px 0 0;
}

/* line 849, ../scss/ie.scss */
.ie8 .slider-direction-nav li {
  border: 0;
  padding: 0 0 0 1px;
}

/* line 854, ../scss/ie.scss */
.ie8 .slider-direction-nav a {
  height: 48px;
}

/* line 858, ../scss/ie.scss */
.ie8 .slider-direction-nav a:before {
  line-height: 48px;
}

/**
 * Internet Explorer 7
 */
/* line 867, ../scss/ie.scss */
.ie7 audio,
.ie7 canvas,
.ie7 video {
  display: inline;
  zoom: 1;
}

/* line 874, ../scss/ie.scss */
.ie7 button,
.ie7 input,
.ie7 select,
.ie7 textarea {
  vertical-align: middle;
}

/* line 881, ../scss/ie.scss */
.ie7 button,
.ie7 input[type="button"],
.ie7 input[type="reset"],
.ie7 input[type="submit"] {
  overflow: visible;
}

/* line 888, ../scss/ie.scss */
.ie7 .screen-reader-text {
  clip: rect(1px 1px 1px 1px);
}

/* line 892, ../scss/ie.scss */
.ie7 .site,
.ie7 .site-header {
  max-width: 100%;
}

/* line 897, ../scss/ie.scss */
.ie7 .search-toggle {
  line-height: 45px;
  margin-right: 190px;
  padding: 0 20px;
  text-transform: uppercase;
  width: auto;
}

/* line 905, ../scss/ie.scss */
.ie7 .search-toggle .screen-reader-text {
  color: #fff;
  position: relative;
  /* Override inherited `absolute` value set in style.css. */
}

/* line 910, ../scss/ie.scss */
.ie7 .search-box {
  height: 24px;
  padding: 12px 0;
}

/* line 915, ../scss/ie.scss */
.ie7 .search-box .search-field {
  margin: 0 10px;
  width: 33%;
}

/* line 920, ../scss/ie.scss */
.ie7 .site-navigation li {
  border-top: 1px solid #4d4d4d;
}

/* line 924, ../scss/ie.scss */
.ie7 .primary-navigation .nav-menu,
.ie7 .secondary-navigation {
  border-bottom: 1px solid #4d4d4d;
}

/* line 929, ../scss/ie.scss */
.ie7 .secondary-navigation {
  margin: 48px auto;
  max-width: 474px;
}

/* line 934, ../scss/ie.scss */
.ie7 .content-area {
  padding-top: 48px;
}

/* line 938, ../scss/ie.scss */
.ie7 .hentry {
  max-width: 100%;
}

/* line 942, ../scss/ie.scss */
.ie7 .menu-toggle {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  text-transform: uppercase;
  width: 200px;
}

/* line 951, ../scss/ie.scss */
.ie7 .post-thumbnail img {
  display: block;
  margin: 0 auto;
}

/* line 956, ../scss/ie.scss */
.ie7 .entry-meta .tag-links a {
  margin-left: 0;
}

/* line 960, ../scss/ie.scss */
.ie7 .content-sidebar {
  padding: 48px 10px;
}

/* line 964, ../scss/ie.scss */
.ie7 .singular .hentry.has-post-thumbnail {
  margin-top: -48px;
}

/* line 968, ../scss/ie.scss */
.ie7 .entry-meta > span,
.ie7 .widget_twentyfourteen_ephemera .entry-title {
  margin-right: 20px;
}

/* line 973, ../scss/ie.scss */
.ie7 #secondary {
  border-bottom: 1px solid #4d4d4d;
}

/* line 977, ../scss/ie.scss */
.ie7 .content-sidebar {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/* line 982, ../scss/ie.scss */
.ie7 .widget {
  margin: 0 auto 48px;
  max-width: 474px;
}

/* line 987, ../scss/ie.scss */
.ie7 .content-sidebar .widget_twentyfourteen_ephemera .widget-title {
  padding-top: 7px;
}

/* line 991, ../scss/ie.scss */
.ie7 .slider .featured-content .hentry {
  display: block;
}

/* line 995, ../scss/ie.scss */
.ie7 .featured-content .entry-header {
  min-height: 0;
}

/* line 999, ../scss/ie.scss */
.ie7 .slider-control-paging a {
  line-height: 40px;
  text-indent: 0;
}

/* line 1004, ../scss/ie.scss */
.ie7 .slider-control-paging .slider-active {
  color: #41a62a;
}

/* line 1008, ../scss/ie.scss */
.ie7 .slider-direction-nav {
  border-top: 2px solid #fff;
}

/* line 1012, ../scss/ie.scss */
.ie7 .slider-direction-nav li {
  border: 0;
  width: 49%;
}

/* line 1017, ../scss/ie.scss */
.ie7 .slider-direction-nav a {
  font-size: 16px;
  line-height: 45px;
  text-transform: uppercase;
}

/* line 1023, ../scss/ie.scss */
.ie7 .slider-direction-nav a:hover {
  background-color: #000;
  color: #41a62a;
}

/* line 1028, ../scss/ie.scss */
.ie7 .search-toggle {
  line-height: 45px;
  margin-right: 190px;
}

/* line 1033, ../scss/ie.scss */
.ie7 .featured-content .post-thumbnail,
.ie7 .slider .featured-content .post-thumbnail {
  padding-top: 0;
}

/* line 1038, ../scss/ie.scss */
.ie7 .featured-content .post-thumbnail img {
  position: relative;
}

/* line 1042, ../scss/ie.scss */
.ie7 .featured-content .entry-header {
  width: auto;
}

/* line 1046, ../scss/ie.scss */
.ie7 .grid .featured-content .hentry {
  float: left;
  margin: 0 auto;
  max-width: 672px;
  width: 33.333333%;
}

/* line 1053, ../scss/ie.scss */
.ie7 .slider .featured-content .entry-header {
  margin: 0 auto;
  max-width: 1038px;
}

/* line 1058, ../scss/ie.scss */
.ie7 .slider-control-paging {
  float: none;
  margin: -24px auto 0;
  max-width: 1038px;
  width: auto;
}

/**
 * RTL for Internet Explorer 8 & 7
 */
/* line 1070, ../scss/ie.scss */
.rtl .attachment a,
.rtl .gallery a,
.rtl .wp-caption a,
.rtl .widget_twentyfourteen_ephemera .entry-content a {
  display: inline;
}

/**
 * RTL overrides for Internet Explorer 8
 */
/* line 1082, ../scss/ie.scss */
.ie8 .rtl .site-content .entry-meta > span {
  margin-right: auto;
  margin-left: 10px;
}

/* line 1087, ../scss/ie.scss */
.ie8 .rtl .site-content .format-quote .post-format a:before {
  margin-right: auto;
  margin-left: 2px;
}

/* line 1092, ../scss/ie.scss */
.ie8 .rtl .site-content .format-gallery .post-format a:before {
  margin-right: auto;
  margin-left: 4px;
}

/* line 1097, ../scss/ie.scss */
.ie8 .rtl .site-content .format-aside .post-format a:before {
  margin-right: auto;
  margin-left: 2px;
}

/* line 1102, ../scss/ie.scss */
.ie8 .rtl .site-content .featured-post:before {
  margin-right: auto;
  margin-left: 3px;
}

/* line 1107, ../scss/ie.scss */
.ie8 .rtl .site-content .entry-date a:before,
.ie8 .rtl .attachment .site-content span.entry-date:before {
  margin-right: auto;
  margin-left: 1px;
}

/* line 1113, ../scss/ie.scss */
.ie8 .rtl .site-content .comments-link a:before {
  margin-right: auto;
  margin-left: 2px;
}

/* line 1118, ../scss/ie.scss */
.ie8 .rtl .site-content .full-size-link a:before {
  margin-right: auto;
  margin-left: 1px;
}

/* line 1123, ../scss/ie.scss */
.ie8 .rtl .main-content {
  float: right;
}

/* line 1127, ../scss/ie.scss */
.ie8 .rtl .content-area {
  float: right;
}

/* line 1131, ../scss/ie.scss */
.ie8 .rtl .site-content {
  margin-right: 17.61904761%;
  margin-left: 29.04761904%;
}

/* line 1136, ../scss/ie.scss */
.ie8 .rtl .search-box-wrapper,
.ie8 .rtl .featured-content {
  padding-right: 17.61904761%;
  padding-left: 0;
}

/* line 1142, ../scss/ie.scss */
.ie8 .rtl .header-main {
  padding: 0 30px 0 0;
}

/* line 1146, ../scss/ie.scss */
.ie8 .rtl .search-toggle {
  margin-right: auto;
  margin-left: 0;
}

/* line 1151, ../scss/ie.scss */
.ie8 .rtl .primary-navigation {
  float: left;
  margin: 0 -10px 0 1px;
}

/* line 1156, ../scss/ie.scss */
.ie8 .rtl .primary-navigation ul ul {
  float: right;
  right: -999em;
  left: auto;
}

/* line 1162, ../scss/ie.scss */
.ie8 .rtl .primary-navigation ul ul ul {
  right: -999em;
  left: auto;
}

/* line 1167, ../scss/ie.scss */
.ie8 .rtl .primary-navigation ul li:hover > ul,
.ie8 .rtl .primary-navigation ul li.focus > ul {
  right: auto;
  left: auto;
}

/* line 1173, ../scss/ie.scss */
.ie8 .rtl .primary-navigation ul ul li:hover > ul,
.ie8 .rtl .primary-navigation ul ul li.focus > ul {
  right: 100%;
  left: auto;
}

/* line 1179, ../scss/ie.scss */
.ie8 .rtl .entry-meta .tag-links a:before {
  right: -8px;
}

/* line 1183, ../scss/ie.scss */
.ie8 .rtl .archive-header,
.ie8 .rtl .comments-area,
.ie8 .rtl .image-navigation,
.ie8 .rtl .page-header,
.ie8 .rtl .page-content,
.ie8 .rtl .post-navigation,
.ie8 .rtl .site-content .entry-header,
.ie8 .rtl .site-content .entry-content,
.ie8 .rtl .site-content .entry-summary,
.ie8 .rtl .site-content footer.entry-meta {
  margin-right: auto;
  margin-left: 54px;
}

/* line 1197, ../scss/ie.scss */
.ie8 .rtl .comment-author,
.ie8 .rtl .comment-awaiting-moderation,
.ie8 .rtl .comment-content,
.ie8 .rtl .comment-list .reply,
.ie8 .rtl .comment-metadata {
  padding-right: 50px;
  padding-left: 0;
}

/* line 1206, ../scss/ie.scss */
.ie8 .rtl .comment-list .children {
  margin-right: 20px;
  margin-left: auto;
}

/* line 1212, ../scss/ie.scss */
.ie8 .rtl.full-width .site-content {
  margin-left: 0;
}

/* line 1216, ../scss/ie.scss */
.ie8 .rtl.full-width .archive-header,
.ie8 .rtl.full-width .comments-area,
.ie8 .rtl.full-width .image-navigation,
.ie8 .rtl.full-width .page-header,
.ie8 .rtl.full-width .page-content,
.ie8 .rtl.full-width .post-navigation,
.ie8 .rtl.full-width .site-content .entry-header,
.ie8 .rtl.full-width .site-content .entry-content,
.ie8 .rtl.full-width .site-content .entry-summary,
.ie8 .rtl.full-width .site-content footer.entry-meta {
  margin-left: auto;
}

/* line 1229, ../scss/ie.scss */
.ie8 .rtl .contributor-avatar {
  margin-right: -168px;
  margin-left: auto;
}

/* line 1234, ../scss/ie.scss */
.ie8 .rtl .contributor-summary {
  float: right;
}

/* line 1238, ../scss/ie.scss */
.ie8 .rtl .site:before {
  right: 0;
  left: auto;
}

/* line 1243, ../scss/ie.scss */
.ie8 .rtl #secondary {
  float: right;
  margin: 0 -100% 0 0;
}

/* line 1248, ../scss/ie.scss */
.ie8 .rtl .secondary-navigation ul ul {
  right: -999em;
  left: auto;
}

/* line 1253, ../scss/ie.scss */
.ie8 .rtl .secondary-navigation ul li:hover > ul,
.ie8 .rtl .secondary-navigation ul li.focus > ul {
  right: 202px;
  left: auto;
}

/* line 1259, ../scss/ie.scss */
.ie8 .rtl .content-sidebar {
  float: left;
  margin-right: -29.04761904%;
  margin-left: auto;
}

/* line 1265, ../scss/ie.scss */
.ie8 .rtl .footer-sidebar .widget {
  float: right;
}

/* line 1269, ../scss/ie.scss */
.ie8 .rtl .featured-content {
  padding-right: 17.61904761%;
  padding-left: 0;
}

/* line 1274, ../scss/ie.scss */
.ie8 .rtl.grid .featured-content .hentry {
  float: right;
}

/* line 1278, ../scss/ie.scss */
.ie8 .rtl.slider .featured-content .entry-header {
  right: 0;
  left: auto;
}

/* line 1283, ../scss/ie.scss */
.ie8 .rtl .slider-control-paging {
  padding-right: 24px;
  padding-left: 0;
}

/* line 1288, ../scss/ie.scss */
.ie8 .rtl .slider-control-paging li {
  margin: 12px 0 12px 12px;
}

/* line 1292, ../scss/ie.scss */
.ie8 .rtl .slider-control-paging a:before {
  right: 6px;
  left: auto;
}

/* line 1297, ../scss/ie.scss */
.ie8 .rtl .slider-direction-nav {
  float: left;
}

/* line 1301, ../scss/ie.scss */
.ie8 .rtl .slider-direction-nav li {
  padding: 0 1px 0 0;
}

/* line 1305, ../scss/ie.scss */
.ie8 .rtl .slider-direction-nav li:first-child {
  padding: 0 0 0 1px;
}

/**
 * RTL overrides for Internet Explorer 7
 */
/* line 1314, ../scss/ie.scss */
.ie7 .rtl.grid .featured-content .hentry {
  float: right;
}

/* line 1318, ../scss/ie.scss */
.ie7 .rtl .slider-control-paging {
  float: none;
  margin: -24px auto 0;
}

/* line 1323, ../scss/ie.scss */
.ie7 .rtl .entry-meta .tag-links a {
  margin-right: 0;
  margin-left: auto;
}

/* line 1328, ../scss/ie.scss */
.ie7 .rtl .search-toggle {
  margin-right: auto;
  margin-left: 190px;
}
