.orange .portlet.box > .portlet-body {border:none;}
.portlet.box.orange {border: 1px solid #F48120;}
button.menu-toggle {display: none;}
.header.navbar .search-form .submit  {margin-top: 0px;}

.mobile-handle {display: none;}
.header-inner {width: 400px; position: absolute; right: 0px;}


.calendarCell.fc-day {height: 88px; width: 14%; position: relative; }
.calendarCell.fc-day .fc-day-number {text-align: right; padding: 4px; position: absolute; top: 0px; right: 0px; }
.calendarHeader { text-align: center; }
.calendarHeader span.short { display: none; }
.calendarTable .fc-agenda-axis.ui-widget-header { text-align: center; font-weight: normal; width: 50px; }
.fc-day.fc-today.ui-state-highlight { border-color: #aaa; background-color: #fbf9ee; }
.calendarTable.fc-agenda-slots .fc-day { border-right: 1px solid #aaa; }
.calendarTable .fc-slot23-point5 td, .calendarTable .fc-slot23-point5 th { border-bottom: 1px solid #aaa; }

.calendarTable.calendarDay .calendarHeader span.short { display: none !important; }
.calendarTable.calendarDay .calendarHeader span.long { display: block !important; }

body.page-template-section_calendier_template .fc-header-right .fc-button { color: #444; }
body.page-template-section_calendier_template .fc-header-title h2 {margin-top: 0px; margin-left: 10px;}
body.page-template-section_calendier_template .fc-header {width: 95%;}
body.page-template-section_calendier_template .fc-header .fc-button {margin-top: 10px;}
body.page-template-section_calendier_template .fc-header .fc-button.fc-button-next, body.page-template-section_calendier_template .fc-header .fc-button.fc-button-prev  {margin-top: 5px;}

body.single-nouvelles div.entry-meta {margin-bottom: 15px;}
.page-content .page-breadcrumb.breadcrumb {padding-left: 0px;}
.fa.fa-comments {margin-right:5px;}
body.archive .row.blog-page {margin-top: 30px; margin-bottom: 30px; padding: 20px 10px; box-shadow: 2px 2px 10px #777;}
body.archive .row.blog-page.has_thumbnail {margin-top: 0px;}
body.archive hr {margin:0px;}

.accueil .tuiles.gestion:hover {background-color: #8eeaf1;}
.accueil .directionTravail .gestion {background-color: #35DFEA;}
.gestion .HoverTuiles li a, .gestion .HoverTuiles h2, .gestion .HoverTuiles ul {color: #000;}
.home .directionTravail .tuiles .HoverTuiles a:hover { font-size:16px;}
.home .directionTravail .tuiles .HoverTuiles h2 a:hover { font-size: 18px;}

.parent-pageid-224 .menuNavGeneral > li.active, .parent-pageid-224 .tabbable-custom .menuNavGeneral > li:hover, .parent-pageid-224 .menuNavGeneral > li.active a, .parent-pageid-224 .tabbable-custom .menuNavGeneral li a:hover, .page-id-224 .tabbable-custom .menuNavGeneral > li:hover, .page-id-224 .menuNavGeneral > li.active, .page-id-224 .menuNavGeneral > li.active a, .page-id-224 .tabbable-custom .menuNavGeneral li a:hover {background-color: #8eeaf1!important;}
.parent-pageid-224 .menuNavGeneral, .page-id-224 .menuNavGeneral {background-color: #35dfea!important;}
.parent-pageid-224 .menuNavGeneral, .page-id-224 .blue-dark .portlet-title {background-color: #35dfea;}
.blue-dark .comptesRendus, .blue-dark .ListeMembres {background-color: #35dfea;}
.blue-dark .portlet.box > .portlet-body {border: none;}
.page-id-224 .portlet.box.blue-dark {border: 1px solid #35dfea;}
.blue-dark .comptesRendus:hover, .blue-dark .ListeMembres:hover {background-color: #8eeaf1;}
.parent-pageid-224 .documents .note-success, .parent-pageid-224 .note-success {background-color: #8eeaf1; border-color: #35dfea;}
.parent-pageid-224 .tab-content #tab_1_1_2 {border: 1px solid #35dfea;}
.parent-pageid-224 .comptesRendusSection .portlet.box .portlet-title {background-color: #35dfea;}
.parent-pageid-224 .comptesRendusSection .portlet.box {border: 1px solid #35dfea;}

.page-id-15330 .page-sidebar-menu ul li.current-menu-item {background: #632263;}
.page-id-214 .page-sidebar-menu ul li.current-menu-item {background: #0085BE;}
.page-id-206 .page-sidebar-menu ul li.current-menu-item {background: #A2CA47;}
.page-id-229 .page-sidebar-menu ul li.current-menu-item {background: #DAA53D}
.page-id-425 .page-sidebar-menu ul li.current-menu-item {background: #E77F37;}
.parent-pageid-224 .page-sidebar-menu ul li.current-menu-item {background: #35DFEA!important;}
.page-id-224 .page-sidebar-menu ul li.current-menu-item {background: #35DFEA;}
.page-id-231 .page-sidebar-menu ul li.current-menu-item {background: #283b41;}

.page-id-59 .calendrier-general .fc-day-content span { display: inline-block; margin: 2px; width: 15px; height:15px; overflow: hidden; text-indent: -1000px; margin-left: 10px; }
.page-id-59 .calendrier-general .fc-sun .fc-day-content span:hover {left: -20px;}
.page-id-59 .calendrier-general .fc-sat .fc-day-content span:hover {left: -55px;}
.page-id-59 .calendrier-general .fc-day-content span.anniversaire {background-color:#ad33ff;}

.page-id-59 .calendrier-general .fc-day-content span.direction7 { background-color:#ff5859; }
.page-id-59 .calendrier-general .fc-day-content span.direction5 { background-color:#DAA53D; }
.page-id-59 .calendrier-general .fc-day-content span.direction2 { background-color:#0085BE; }
.page-id-59 .calendrier-general .fc-day-content span.direction1 { background-color:#A2CA47; }
.page-id-59 .calendrier-general .fc-day-content span.direction4 { background-color:#E77F37; }
.page-id-59 .calendrier-general .fc-day-content span.direction6 { background-color:#657a81; }
.page-id-59 .calendrier-general .fc-day-content span.direction3 { background-color:#35dfea; }


.page-id-59 .calendrier-general .fc-day-content span:hover {text-indent: initial; height:initial; width: initial; overflow: initial; cursor:pointer; border: 1px solid #737373; border-radius: 5px!important; padding-left: 10px; padding-right: 10px; top: 10px; left: -40px; box-shadow: 6px 6px 10px #c8c8c8; position: absolute; z-index:10; color:#fff;}
.page-id-59 .calendrier-general .fc-day-content span.empty {text-indent: initial; background-color:initial; height:initial; width: initial; overflow: initial;}


.calendrier-general #external-events li.direction7 .checker {background-color:#ff5859;}
.calendrier-general #external-events li.direction5 .checker {background-color:#DAA53D;}
.calendrier-general #external-events li.direction2 .checker {background-color:#0085BE;}
.calendrier-general #external-events li.direction1 .checker {background-color:#A2CA47;}
.calendrier-general #external-events li.direction4 .checker {background-color:#E77F37;}
.calendrier-general #external-events li.direction6 .checker {background-color:#657a81;}
.calendrier-general #external-events li.direction3 .checker {background-color:#35dfea;}
.calendrier-general #external-events li.anniversaire .checker {background-color: #ad33ff}

.page-id-398 h2 {font-size: 26px; background-color: #00bcb8; color: #fff; padding: 5px;}
.page-id-398 h1.entry-title {background: url("/extranet/wp-content/themes/pme/assets/img/pme/target.png");background-repeat: no-repeat; background-position: left top; height: 90px; padding-top: 25px; padding-left: 90px;}

.list-block li {display: block; float: left; width: 50%; padding-bottom: 20px;}
.blog-page .blog-article {clear: both;}

.AppelTous .direction2, .AppelTous .active.direction2 { background-color: #0085BE; }
.AppelTous .nav-tabs.direction2 {border-bottom: 10px solid #0085BE;}
.AppelTous li.direction2:hover, .AppelTous li.direction2:hover a {background-color: #36baff!important;}
.AppelTous .direction1, .AppelTous .active.direction1  { background-color: #A2CA47;}
.AppelTous .nav-tabs.direction1 {border-bottom: 10px solid #A2CA47;}
.AppelTous .direction1:hover, .AppelTous li.direction1:hover a {background-color: #c9e28a!important;}
.AppelTous .direction5, .AppelTous .active.direction5  {background-color: #DAA53D;}
.AppelTous .nav-tabs.direction5 {border-bottom: 10px solid #DAA53D;}
.AppelTous .direction5:hover, .AppelTous li.direction5:hover a {background-color: #DB8B3D!important;}
.AppelTous .direction4, .AppelTous .active.direction4  {background-color: #E77F37;}
.AppelTous .nav-tabs.direction4 {border-bottom: 10px solid #E77F37;}
.AppelTous .direction4:hover, .AppelTous li.direction4:hover a {background-color: #f9b882!important;}
.AppelTous .direction3, .AppelTous .active.direction3  {background-color: #35dfea;}
.AppelTous .nav-tabs.direction3 {border-bottom: 10px solid #35DFEA;}
.AppelTous .direction3:hover, .AppelTous li.direction3:hover a {background-color: #8eeaf1!important;}
.AppelTous .direction6, .AppelTous .active.direction6  {background-color: #283b41;}
.AppelTous .nav-tabs.direction6 {border-bottom: 10px solid #283b41;}
.AppelTous .direction6:hover, .AppelTous li.direction6:hover a{background-color: #657A81!important;}

.AppelTous .nav-tabs > li {border-right: 1px solid #fff;}
.AppelTous .nav-tabs li.active a,  .AppelTous .nav-tabs li:hover a{border-right: none!important; border-left: none!important;}
.AppelTous .sousmenu-nav .nav-tabs li a:hover, .AppelTous .sousmenu-nav .nav-tabs li.active:hover, .AppelTous .sousmenu-nav .nav-tabs li.active:hover a {color: #fff!important;}


.page-template-direction_travail_page_template #liens-utiles { padding: 20px; }

.boiteOutils .sousmenu-nav .nav-tabs li.active a, .boiteOutils .sousmenu-nav .nav-tabs li a:hover {color: #fff!important;}

.boiteOutils .sousmenu-nav .nav-tabs li.active.drt-affaires a, .boiteOutils .sousmenu-nav .nav-tabs li.active.drt-affaires {background-color: #A2CA47!important;}
.boiteOutils .sousmenu-nav .nav-tabs li.drt-affaires:hover a, .boiteOutils .sousmenu-nav .nav-tabs li.drt-affaires:hover {background-color: #c9e28a!important;}
.boiteOutils .sousmenu-nav .nav-tabs.drt-affaires{border-bottom: 10px solid #A2CA47;}

.boiteOutils .sousmenu-nav .nav-tabs li.active.drt-perso a, .boiteOutils .sousmenu-nav .nav-tabs li.active.drt-perso {background-color: #0085BE!important;}
.boiteOutils .sousmenu-nav .nav-tabs li.drt-perso:hover a, .boiteOutils .sousmenu-nav .nav-tabs li.drt-perso:hover {background-color: #36baff!important;}
.boiteOutils .sousmenu-nav .nav-tabs.drt-perso{border-bottom: 10px solid #0085BE;}

.boiteOutils .sousmenu-nav .nav-tabs li.active.drt-immo a, .boiteOutils .sousmenu-nav .nav-tabs li.active.drt-immo {background-color: #E77F37!important;}
.boiteOutils .sousmenu-nav .nav-tabs li.drt-immo:hover a, .boiteOutils .sousmenu-nav .nav-tabs li.drt-immo:hover {background-color: #f9b882!important; }
.boiteOutils .sousmenu-nav .nav-tabs.drt-immo{border-bottom: 10px solid #E77F37;}

.boiteOutils .sousmenu-nav .nav-tabs li.active.drt-agri a, .boiteOutils .sousmenu-nav .nav-tabs li.active.drt-agri {background-color : #DAA53D!important;}
.boiteOutils .sousmenu-nav .nav-tabs li.drt-agri:hover a, .boiteOutils .sousmenu-nav .nav-tabs li.drt-agri:hover {background-color: #DB8B3D!important;}
.boiteOutils .sousmenu-nav .nav-tabs.drt-agri{border-bottom: 10px solid #DAA53D;}

.boiteOutils .sousmenu-nav .nav-tabs li.active.drt-dev a, .boiteOutils .sousmenu-nav .nav-tabs li.active.drt-dev {background-color: #657A81 !important;}
.boiteOutils .sousmenu-nav .nav-tabs li.drt-dev:hover a,  .boiteOutils .sousmenu-nav .nav-tabs li.drt-dev:hover {background-color:#9babb1!important; }
.boiteOutils .sousmenu-nav .nav-tabs.drt-dev{border-bottom: 10px solid #657A81;}
.boiteOutils .soustab ul li a {position: relative; display: block; padding-left: 30px;}
.boiteOutils .soustab ul li a i {position: absolute; padding-right: 30px; left: 0px;}


.sousmenu-nav .nav-tabs li.active a, .sousmenu-nav .nav-tabs li:hover a {border-top : none!important;}

.note-success table {width: 100%;}

body.post-type-archive-publications div.publications .publication-item img {width: auto; height: 300px;}

.page-template-direction_travail_page_template #bbpress-forums .bbp-breadcrumb {display : none;}
.page-template-direction_travail_page_template #bbpress-forums .bbp-forum-description {margin-top: 15px;}
.page-template-direction_travail_page_template #bbpress-forums #new-topic-0 {display : none;}
.page-template-direction_travail_page_template #bbpress-forums .forum-link {text-align: center;}
.page-template-direction_travail_page_template #bbpress-forums .forum-link a {background: #657A81; border-color: #283b41; border-style: solid; border-width: 1px 1px 3px; box-shadow: none; font-weight: bold; padding: 10px 20px; display: inline-block; margin-right: auto; margin-left: auto;}
.page-template-direction_travail_page_template #bbpress-forums .forum-link a {color: #fff;}
.page-template-direction_travail_page_template #bbpress-forums #new-topic-0 {display: none;}
#bbpress-forums li.bbp-topic-title { float: left; text-align: left; width: 55%;}
#bbpress-forums ul.forum-titles li.bbp-footer {display: none;}
#bbpress-forums li.bbp-topic-voice-count{display: none;}
#bbpress-forums .bbp-pagination {display: none;}
#bbpress-forums ul.forum-titles {list-style-type: none; padding-left: 0px;}
#bbpress-forums li.bbp-body ul.topic li, #bbpress-forums ul.bbp-topics {list-style-type: none; padding-left: 0px;}
li.bbp-forum-reply-count, li.bbp-topic-reply-count, #bbp-forum-0 .bbp-topic-reply-count {float: left; text-align: center; width: 15%;}
li.bbp-topic-freshness {float: left; text-align: center; width: 30%;}
#bbpress-forums li.bbp-body ul.topic {padding-left: 0px;}
#bbpress-forums .bbp-forum-description, #bbpress-forums .bbp-topic-description {display:none;}
#bbpress-forums li.bbp-header {clear: both; background: #eaeaea; border-top: 1px solid #eee; font-weight: 700; padding: 8px; text-align: center; height: 40px;}
.topic #bbpress-forums li.bbp-header, .bbp-user-page li.bbp-header {display: none;}
#bbpress-forums div.odd, #bbpress-forums ul.odd {background-color: #fbfbfb;}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {border-bottom: 1px solid #eee;overflow: hidden;padding: 8px;}
#bbpress-forums div.even, #bbpress-forums ul.even {background-color: #fff;}
.page-template-direction_travail_page_template #bbpress-forums .bbp-template-notice {padding-left: 15px; padding-top: 10px;}
#bbpress-forums .bbp-topic-permalink
#bbpress-forums .bbp-topic-meta, #bbpress-forums .bbp-topic-started-by, #bbpress-forums .bbp-topic-started-by a, #bbpress-forums .bbp-topic-freshness a, #bbpress-forums .bbp-topic-freshness .bbp-topic-freshness-author  {font-size: 11px;}
.topic #bbpress-forums .bbp-footer, #bbpress-forums .bbp-admin-links {display:none;}
#bbpress-forums .bbp-replies {list-style-type: none; padding-left: 0px;}
.forum #bbpress-forums .bbp-submit-wrapper button#bbp_topic_submit {background: #657A81; border-color: #283b41; border-style: solid; border-width: 1px 1px 3px; box-shadow: none;font-weight: bold; padding: 10px 20px; display: inline-block; margin-top: 20px; color: #fff;}
.bbp-the-content-wrapper textarea.bbp-the-content {border: 1px solid #cccccc;}
div#bbp-user-navigation li:first-child {display: none;}

.post-comment .comment-form-comment label { display: block; }
.post-comment #comment { width: 100%; }
.post-comment .form-submit { text-align: right; }
body #fep-new-post #fep-post-title { font-size: 20px; width: 100%; }
.bbp-reply-ip {display:none;}
body.single-topic #bbpress-forums div.odd, body.single-topic #bbpress-forums div.even { overflow: auto; padding-bottom: 20px; padding-top: 20px; padding-left: 20px;}
body.single-topic #bbpress-forums .bbp-reply-author {float: left; margin-top: 30px;}
body.single-topic #bbpress-forums .bbp-reply-content { margin-left: 120px; margin-right: 20px; margin-top: 30px;}
body.single-topic #bbpress-forums .bbp-reply-permalink {display: none;}
body.single-topic #bbpress-forums .bbp-reply-header .bbp-meta {position: relative;}
body.single-topic #bbpress-forums .bbp-reply-header .bbp-reply-post-date { position: absolute; top: 20px; left: 20px;}
body.single-topic #bbpress-forums .bbp-reply-form fieldset.bbp-form label {margin-top: 20px;}
body.single-topic #bbpress-forums .bbp-reply-form fieldset.bbp-form .bbp-submit-wrapper button { margin-top: 20px; background: #657A81; border-color: #283b41; border-style: solid; border-width: 1px 1px 3px; box-shadow: none; font-weight: bold; padding: 10px 20px; display: inline-block; margin-top: 20px; color: #fff;}
body.topic-tag #bbp-forum-0 li.bbp-topic-reply-count {width: 15%;}
body.topic-tag .bbp-search-form { margin-bottom: 20px;}
body.bbp-search #bbp-search-results {list-style-type: none;}
body.bbp-search #bbp-search-results li.bbp-header, body.bbp-search #bbp-search-results li.bbp-footer {display: none;}
body.bbp-search #bbpress-forums .bbp-reply-author, body.bbp-search #bbpress-forums .bbp-topic-author {float: left; margin-top: 20px;}
body.bbp-search #bbpress-forums .bbp-reply-content, body.bbp-search #bbpress-forums .bbp-topic-content { margin-left: 120px; margin-right: 20px; margin-top: 20px;}
body.bbp-search #bbp-search-results .bbp-reply-title h3, body.bbp-search #bbp-search-results .bbp-topic-title h3 {font-size : 18px;}
body.bbp-search #bbp-search-results div.odd, body.bbp-search #bbp-search-results div.even { overflow: auto; border-bottom: 1px solid #eee; padding-bottom: 20px;}
body.bbp-search #bbp-search-results .bbp-reply-header, body.bbp-search #bbp-search-results .bbp-topic-header { margin-top: 20px;}
body.forum-archive #forums-list-0, body.forum-archive #forums-list-0 ul {list-style-type: none}
body.forum-archive .bbp-forum-info {float: left; text-align: left; width: 40%;}
body.forum-archive .bbp-forum-topic-count {float: left; text-align: center; width: 15%;}
body.forum-archive .bbp-forum-reply-count {float: left; text-align: center; width: 15%;}
body.forum-archive .bbp-forum-freshness {float: left; text-align: left; width: 30%;}
body.forum-archive .bbp-breadcrumb {margin-top: 20px;}


body.bbp-user-page #bbpress-forums .bbp-reply-author {float: left; margin-top: 30px;}
body.bbp-user-page #bbpress-forums .bbp-reply-content { margin-left: 120px; margin-right: 20px; margin-top: 30px;}
body.bbp-user-page #bbpress-forums div.odd, body.bbp-user-page #bbpress-forums div.even { overflow: auto; padding-bottom: 20px; padding-top: 20px; padding-left: 20px;}
body.bbp-user-page #bbpress-forums .bbp-reply-header {position: relative;}
body.bbp-user-page #bbpress-forums .bbp-reply-header .bbp-meta { position: absolute; top: 20px; left: 20px;}
body.bbp-user-page #bbpress-forums .bbp-footer {display: none;}

#bbp-single-user-details #bbp-user-avatar {float: left;}
#bbp-single-user-details #bbp-user-navigation {margin-left: 150px;}
body.bbp-user-page #bbp-user-body, body.bbp-user-edit #bbp-user-body {clear: left; margin-top: 130px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile h2 {display: none;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile h3 { font-size: 14px; font-weight: 400!important;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form {margin-top: 30px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form #password {margin-top: 20px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form.password { margin-top: 0px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form.password input#pass1{ margin-bottom: 0px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form.password input#pass2{ margin-bottom: 0px; margin-top: 10px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form.password  #pass-strength-result {margin-bottom: 20px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form input { display: block; margin-bottom: 10px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form select {display: block; margin-bottom: 10px;}
body.bbp-user-edit #bbp-user-body form#bbp-your-profile fieldset.bbp-form textarea { display: block;}
body.bbp-user-edit .entry-content { margin-left: 20px;}
body.bbp-user-edit #bbp-user-body fieldset.submit {margin-top:30px;}
body.bbp-user-edit #bbp-user-body fieldset.submit button#bbp_user_edit_submit { background: #657A81; border-color: #283b41; border-style: solid; border-width: 1px 1px 3px; box-shadow: none; font-weight: bold; padding: 10px 20px; display: inline-block; color: #fff;}
div#bbp-user-navigation li:last-child {display : none;}
div#bbp-user-navigation li:last-child {display : none;}
div#bbp-user-navigation li:nth-child(4) {display : none;}
div#bbp-user-navigation .bbp-user-topics-created-link a, div#bbp-user-navigation .bbp-user-replies-created-link a {font-size: 16px;}



@media (max-width: 1300px) {
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .ListeMembres {margin-left: 5%; margin-right: 0px; height:210px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .comptesRendus {height:210px; margin-right:0px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 a .fa {font-size: 100px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 a span {font-size: 24px; width: 60%; text-align:center;}
	body.home #main-content .entry-content.accueil .directiontrav .directionTravail .tuiles {width: 100%;}

	.calendarHeader span.long { display: none; }
	.calendarHeader span.short { display: block; }
}

@media (min-width: 992px) {
body.archive .col-md-9.blog-article {margin-left:25%;}


}

@media (max-width: 991px) {
	body.post-type-archive-publications div.publications .publication-item img {width: 80%; height: auto;}
	.page-id-59 .portlet.calendar .fc-button {top: -284px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .ListeMembres {margin-left: 15px; margin-right: 0px; height:240px; width: 48%;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .comptesRendus {height:240px; margin-right:15px; margin-left: 0px; width:47%;}

	body.home #main-content .entry-content.accueil .premiere {min-height: auto; margin-bottom: 25px;}
	body.home #main-content .entry-content.accueil .directiontrav {margin-top: 25px;}
	body.home #main-content .entry-content.accueil .directiontrav .directionTravail .tuiles {margin-right: 40px; width: 230px;}
	button.menu-toggle:before {content: "\f0c9"; font-family: FontAwesome; font-size: 18px; width: 40px; height: 28px; position: absolute; background-color: #647980; z-index: 9999; color: #ddd; top:0px; left:0px;}
	button.menu-toggle {display: block; position: absolute; top:-60px; width: 40px; height: 28px; overflow: hidden; border: none;}
	.page-sidebar #primary-menu {display:none;}
	.page-sidebar #primary-menu.open {display: block; background-color: #c1cacd;}
	h1.site-title {display:none;}
	.header.navbar {height: 100px;}
	.header.navbar .navbar-nav {padding-top: 30px;}
	.page-sidebar {margin: 0px;}
	.locales #date {display:none;}
	#primary-menu ul.page-sidebar-menu li.collabo:hover a {background-color: #474747;}
	.header.navbar.navbar-fixed-top { background-image: url("/extranet/wp-content/themes/pme/assets/img/pme/pme-logo.png"); background-repeat: no-repeat; background-position: center center;}

	a#search-handle {cursor: pointer;}
	a#search-handle:before {content:"\f002"; font-family: FontAwesome; font-size: 24px; color:#fff; position: absolute;
    top: 32px; right: 215px;}
    .searchbox.open #search-handle {display:none;}
    body.search-open {margin-top: 40px!important;}
    div.searchbox.open form.search-form {display:block; width: 98%;}
    body.search-open .header-inner {width: 100%;}
	body.search-open form.search-form .input-box {border: none!important; width: 100%;}
	body.search-open div.searchbox.open {position: absolute; top: -40px; width: 100%; margin-left: 10px;}
	body.search-open div.searchbox.open form.search-form .input-box .submit {background: url("/extranet/wp-content/themes/pme/assets/img/search-icon.png") !important; height: 13px;}
	body.search-open form.search-form .form-container input.search-field {width:80%;}

	body.search-open form.search-form .form-container input.search-field::-webkit-input-placeholder {color:#aaa!important;}
	body.search-open form.search-form .form-container input.search-field:-moz-placeholder {color:#aaa!important;}
	body.search-open form.search-form .form-container input.search-field:-ms-input-placeholder {color:#aaa!important;}
	body.search-open form.search-form .form-container input.search-field::-moz-placeholder {color:#aaa!important;}

	body.archive .list-block {padding-left: 15px;}

	body.archive .portlet.box.blue { margin-top: 60px ;}
}


@media (max-width:767px) {
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .ListeMembres {margin-left: 0px; margin-right: 0px; height:200px; margin-bottom: 25px; width: 100%;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .comptesRendus {height:200px; margin-right:0px; margin-left:0px; margin-bottom: 25px; width: 100%;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 a .fa {font-size: 90px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 a span {font-size: 18px; width: 60%; text-align:center;}
	.portlet > .portlet-title > .caption {font-size: 16px;}
	h1 {font-size: 24px;}
	.page-id-398 h2 {font-size: 20px;}
	.encart a {font-size: 22px;}
	.accueil .portlet .txt a {font-size: 22px;}
	.accueil .nouvelles .note-info h3 {font-size: 20px;}
	body.home #main-content .entry-content.accueil .directiontrav .directionTravail span {font-size: 18px;}
	.page-sidebar.collapse {display: block;}

	h3.page-title {font-size: 24px;}
	body.archive .blog-page h3 {font-size: 22px;}

	.blog-tag-data h4 {font-size: 18px;}
	h2.comments-title {font-size: 22px;}
	h3.comment-reply-title {font-size: 20px;}

	.accordion .accordion-heading a.accordion-toggle {font-size: 18px;}

	body.archive .publications .archives {margin-top: 30px;}
	body.archive .row.blog-page {margin-left: 10px; margin-right: 10px;}

	.page-template-appels_nous_template ul.nav.nav-tabs.nav-justified {border-bottom: none;}
	.page-template-appels_nous_template ul.nav.nav-tabs.nav-justified li.active a:before {font-family: FontAwesome; content: "\f054"; padding-right: 10px;}
	.page-template-appels_nous_template ul.nav.nav-tabs.nav-justified li a br {display: none;}

	.page-template-section_boites_outil_template .tab-content .nav.nav-tabs.nav-justified li {width: 20%;}

	body.page-template-section_calendier_template .fc-header-title h2 {font-size: 24px;}
	#bbpress-forums .bbp-topic-form fieldset.bbp-form legend {font-size: 18px;}


}

@media (max-width: 650px) {
	.tabbable-custom .nav-tabs li {display: block; border-right: none; margin-right: 0px; padding-top: 6px;}
	.tabbable-custom .nav-tabs.menuNavGeneral li {display: none;}
	.tabbable-custom .nav-tabs.menuNavGeneral li.active {display: block;}
	.tabbable-custom .mobile-dd.open .nav-tabs.menuNavGeneral li {display: block;}

	.mobile-handle {display: block; position:absolute; top: 18px; right:30px;}
	.mobile-handle a {color:#fff; font-size: 30px; text-decoration:none!important;}
	.mobile-handle.open .fa-angle-down:before {content: "\f106";}
	.mobile-dd {height: 50px; overflow: hidden; margin-bottom: 10px;}
	.mobile-dd.open {height: auto; margin-bottom: 0px;}

	.page-template-section_boites_outil_template .nav.nav-tabs.nav-justified li a br {display: none;}
	.page-template-section_boites_outil_template .tab-content .nav.nav-tabs.nav-justified li {width: 100%;}

	.boiteOutils .sousmenu-nav .nav-tabs li.active a:before {font-family: FontAwesome; content: "\f054"; padding-right: 10px;}
	.sousmenu-nav .nav-tabs li.active a {border-right: none!important;}
	.boiteOutils .sousmenu-nav .nav.nav-tabs.nav-justified {border-bottom: none;}

}


@media (max-width: 580px) {
	.locales #date {padding-right: 10px;}
	body.home #main-content .entry-content.accueil .directiontrav .directionTravail .tuiles {width: 100%;}
	.header.navbar.navbar-fixed-top {background-size: 55px auto;}

	.header.navbar {height: 80px;}
	.header.navbar .navbar-nav {padding-top: 16px;}
	button.menu-toggle {top:-54px}
	a#search-handle:before {top: 18px; right: 110px;}
	body.bbp-user-page #bbpress-forums .bbp-reply-author {margin-top: 35px}
}

@media (max-width: 480px) {
	.portlet > .portlet-title > .caption {font-size: 15px;}
	h1 {font-size: 22px;}
	.encart a {font-size: 20px; padding-top: 32px;}
	.accueil .portlet .txt a {font-size: 20px;}
	.accueil .nouvelles .note-info h3 {font-size: 18px;}
	body.home #main-content .entry-content.accueil .directiontrav .directionTravail span {font-size: 16px;}
	.accueil .portlet .txt p {font-size: 13px;}
	.accueil .portlet .txt {padding-left: 10px;}

	h3.page-title {font-size: 20px;}
	body.archive .blog-page h3 {font-size: 20px;}
	.blog-tag-data h4 {font-size: 16px;}
	h2.comments-title {font-size: 20px;}
	.page-content .page-breadcrumb.breadcrumb li, .page-content .page-breadcrumb.breadcrumb li a, .blog-tag-data-inner li a, .blog-page .comment-metadata {font-size: 12px;}
	h3.comment-reply-title {font-size: 18px;}
	.blog-page #commentform p,.blog-page #commentform p label, .blog-page #commentform p input {font-size: 13px;}
	body.archive .list-block {font-size: 12px;}

	body.single-nouvelles .post-comment {margin-top: 40px;}
	.accordion .accordion-heading a.accordion-toggle {font-size: 16px;}
	.page-id-398 h2 {font-size: 18px;}

	body.page-template-section_calendier_template .fc-header-title h2 {font-size: 18px;}
	.listeDesMembres .portlet-body {overflow-x: auto;}
	#bbpress-forums .bbp-topic-form fieldset.bbp-form legend {font-size: 16px;}
	#bbpress-forums .bbp-topic-form fieldset.bbp-form label {font-size: 13px;}
	#bbpress-forums .bbp-topic-form fieldset.bbp-form .bbp-template-notice p {font-size: 13px;}

}

@media (max-width:460px) {
	body.page-template-direction_travail_page_template-php #tab_1_1_1 a .fa {font-size: 60px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 a span {font-size: 16px; width: 60%; text-align:center;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .ListeMembres {height: 175px;}
	body.page-template-direction_travail_page_template-php #tab_1_1_1 .comptesRendus {height: 175px;}
	a#search-handle:before {right: 90px;}
	body.bbp-user-page #bbp-user-replies-created h2.entry-title {font-size: 22px;}
	body.bbp-user-page #bbpress-forums .bbp-reply-author {float: none; margin-top: 50px;}
	body.bbp-user-page #bbpress-forums .bbp-reply-content {margin-left: 0px;}
}

@media (max-width: 400px) {
	li.bbp-forum-reply-count, li.bbp-topic-reply-count{font-size: 12px;}
	li.bbp-topic-freshness {text-align: right; width: 35%; font-size: 12px;}
	#bbpress-forums li.bbp-topic-title { font-size: 12px; width: 50%;}
	.topic #bbpress-forums .bbp-replies {padding-left: 0px;}
	body.single-topic #bbpress-forums .bbp-reply-content p {font-size: 13px;}
	body.single-topic #bbpress-forums .bbp-reply-content {margin-left: 0px;}
	body.single-topic #bbpress-forums .bbp-reply-author {float: none;}
	body.single-topic #bbpress-forums .bbp-reply-author a img { width: 50px; height: 50px;}
	body.single-topic #bbpress-forums .bbp-reply-author .bbp-author-role, body.single-topic #bbpress-forums .bbp-reply-author .bbp-author-name {font-size: 12px;}
	#bbp-forum-0 .bbp-topic-freshness {text-align: right;}
	body.forum-archive #forums-list-0 { padding-left: 0px;}
	body.forum-archive .bbp-forum-info {width: 35%;}
	body.forum-archive .bbp-forum-reply-count {width: 20%;}
	div#bbp-user-navigation .bbp-user-topics-created-link a, div#bbp-user-navigation .bbp-user-replies-created-link a {font-size: 14px;}




}

@media (max-width: 350px) {
	.portlet.calendar .fc-button { padding-right:0px; padding-left: 3px;}
	body.page-template-section_calendier_template .fc-header-right .fc-button {padding-right: 0px; padding-left: 3px;}
	body.page-template-section_calendier_template .fc-header-title h2 {font-size: 16px; margin-left: 5px;}
	body.page-template-section_calendier_template .fc-header {width: 100%;}
}
