/* line 1, ../scss/print.scss */
body {
  background-color: #fff !important;
}

/* line 5, ../scss/print.scss */
.header {
  display: none;
}

/* line 9, ../scss/print.scss */
.page-sidebar {
  display: none;
}

/* line 13, ../scss/print.scss */
.theme-panel {
  display: none;
}

/* line 17, ../scss/print.scss */
.hidden-print {
  display: none;
}

/* line 21, ../scss/print.scss */
.footer {
  display: none;
}

/* line 25, ../scss/print.scss */
.no-page-break {
  page-break-after: avoid;
}

/* line 29, ../scss/print.scss */
.page-container {
  margin: 0px !important;
  padding: 0px !important;
}

/* line 34, ../scss/print.scss */
.page-content {
  min-height: auto !important;
  padding: 0px 20px 20px !important;
  margin: 0 !important;
}
