* {
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 10pt;
}

body { 
	font-family: bitstream charter, arial, helvetica, sans-serif;
	font-size: 1.0em;
}

strong {
	font-weight: bolder;
}

.active {
	background-color: yellow;
}

table {
	margin: 24px;
	width: 90%;
}

table, tr, td {
	border: none;
}

td {
	padding: 4px 4px 24px 8px;
	vertical-align: top;
	text-align: justify;
}
