/******************************/
/* EVALUATIONS ELEMENTS STYLE */
/******************************/

div.evalform h2 {
	width: 100%;
	padding-bottom: 1px;
	font-size: 1.2em;
	text-decoration: none;
	border-bottom: 1px solid #CC6633;
	margin-top: 32px;
	margin-bottom: 24px;
}

div.etudes_succursales_coordonnees_entry th {
	font-size: 0.9em;
	text-align: left;
	padding-left: 12px;
}
div.etudes_succursales_coordonnees_entry textarea {
	width: 95%;
}

div.notaires_entry table th {
	height: 26px;
	font-size: 0.9em;
	padding-left: 4px;
	text-align: left;
}
div.notaires_entry table td {
	height: 26px;
	font-size: 0.8em;
	text-align: left;
}
div.notaires_titres_entry table thead th {
	height: 26px;
	width: 33%;
	font-size: 0.9em;
	padding-left: 4px;
	text-align: center;
}
div.notaires_titres_entry table tbody td {
	height: 54px;
	font-size: 0.8em;
	padding-left: 4px;
	text-align: center;
}
div.notaires_titres_entry select {
	width: 100%;
}

div.employes_entry table th {
	height: 26px;
	font-size: 0.9em;
	padding-left: 4px;
	text-align: left;
}
div.employes_entry table td {
	height: 26px;
	font-size: 0.8em;
	padding-left: 4px;
	text-align: left;
}

div.produits_visibles_entry table {
	border: 0px;
}
div.produits_visibles_entry td {
	border: 0px;
	width: 25%;
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;
}

div.papeterie_utilisee_entry th {
	text-align: center;
}
div.papeterie_utilisee_entry td {
	text-align: center;
}

div.domaines_daffaires_entry th {
	text-align: left;
}
div.domaines_daffaires_entry td {
	text-align: left;
}

div.formations_domaines_daffaires_entry table {
	border: 0px;
}
div.formations_domaines_daffaires_entry td {
	border: 0px;
	width: 25%;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
}

div.s8_nb_clients_greffe_entry table {
	text-align: left;
}
div.s8_nb_clients_greffe_entry th {
	text-align: left;
}
div.s8_nb_clients_greffe_entry td {
	text-align: left;
}

div.s8_produits_services_reso_gestion_entry th {
	text-align: left;
}
div.s8_produits_services_reso_gestion_entry td {
	height: 32px;
	text-align: left;
}

div.s9_nb_testaments_entry table {
	text-align: left;
}
div.s9_nb_testaments_entry th {
	width: 50%;
	text-align: left;
}
div.s9_nb_testaments_entry td {
	text-align: left;
}

div.produits_articles_promotionnels_entry th {
	text-align: left;
}
div.produits_articles_promotionnels_entry td {
	text-align: left;
}

div.answer_compare_1 {
	padding-bottom: 12px;
}
div.answer_compare_1 * {
	color: orange;
}
div.answer_compare_1 textarea, div.answer_compare_1 input.text, div.answer_compare_1 select, div.answer_compare_1 div, div.answer_compare_1 table, div.answer_compare_1 th, div.answer_compare_1 td {
	border-color: orange;
}
div.answer_compare_2 {
	padding-bottom: 12px;
}
div.answer_compare_2 * {
	color: green;
}
div.answer_compare_2 textarea, div.answer_compare_2 input.text, div.answer_compare_2 select, div.answer_compare_2 div, div.answer_compare_2 table, div.answer_compare_2 th, div.answer_compare_2 td {
	border-color: green;
}
div.answer_compare_3 {
	padding-bottom: 12px;
}
div.answer_compare_3 * {
	color: purple;
}
div.answer_compare_3 textarea, div.answer_compare_3 input.text, div.answer_compare_3 select, div.answer_compare_3 div, div.answer_compare_3 table, div.answer_compare_3 th, div.answer_compare_3 td {
	border-color: purple;
}
div.answer_compare_4 {
	padding-bottom: 12px;
}
div.answer_compare_4 * {
	color: red;
}
div.answer_compare_4 textarea, div.answer_compare_4 input.text, div.answer_compare_4 select, div.answer_compare_4 div, div.answer_compare_4 table, div.answer_compare_4 th, div.answer_compare_4 td {
	border-color: red;
}

div.hdp a, div.bdp a {
	border: 0;
}
div.hdp a img, div.bdp a img {
	border: 0;
	position: relative;
	top: -4em;
	left: 25px;
	float: left;
}
div.hdp, div.bdp {
	border: 0;
	position: fixed;
	right: 40px;
	float: none;
}
div.hdp {
	top: 316px;
}
div.bdp {
	top: 416px;
}
div.hdp_ie, div.bdp_ie {
	display: none;
}
