/******************************/
/* FACTURATION ELEMENTS STYLE */
/******************************/

.must {
	border-color: #FF0000;
}

div.noticeDiv {
	border: none;
	width: 572px;
}
div.warningDiv {
	border: none;
	width: 572px;
}
div.errorDiv {
	border: none;
	width: 572px;
}
div.noticeBox {
	border: 2px solid green;
	color: black;
	background-color: white;
	padding: 4px;
	margin-bottom: 4px;
}
div.warningBox {
	border: 2px solid black;
	color: black;
	background-color: yellow;
	padding: 4px;
	margin-bottom: 4px;
}
div.errorBox {
	border: 2px solid black;
	color: black;
	background-color: red;
	padding: 4px;
	margin-bottom: 4px;
}

.printblock {
	display: none;
}

table.rapport_global {
	border: 2px solid #000000;
}

table.rapport_global tr td {
	border: 1px solid #000000;
}

table.rapport_global tr td.etude_info_nom {
	background-color: #FFFFCC;
}

table.rapport_global tr td.etude_info_label {

}

table.rapport_global tr td.etude_info_value {

}

table.rapport_global tr td.paiement_label {
	font-weight: bolder;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr td.paiement_value {
}

table.rapport_global tr td.pos {
	color: #CC0000;
}

table.rapport_global tr td.neg {
	color: #33CC33;
}


table.rapport_factures {
	border: 2px solid #000000;
}

table.rapport_factures tr td {
	border: 1px solid #000000;
}

table.rapport_factures tr td.etude_info_nom {
	background-color: #FFFFCC;
}

table.rapport_factures tr td.etude_info_label {

}

table.rapport_factures tr td.etude_info_value {

}

table.rapport_factures tr td.facture_label {
	font-weight: bolder;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_factures tr td.facture_value {
}


