div#logintab {
	height: 24px;
	margin-top: -15px;
	padding-bottom: 4px;
}
div#logintab input {
	vertical-align: middle;
}

div#mainmenu {
	height: 30px;
}

div#content {
	height: 556px;
}

div#livetab table#evals th {
	height: 12px;
}
div#livetab table#evals td {
	height: 12px;
}
div#livetab table#evals td.eval_list {
	width: 150px;
}

div.hdp_ie a, div.bdp_ie a {
	border: 0;
	text-decoration: none;
}
div.hdp_ie a img, div.bdp_ie a img {
	border: 0;
}
div.hdp, div.bdp {
	display: none;
}
div.hdp_ie, div.bdp_ie {
	display: block;
	position: absolute;
	margin-left: 382px;
	margin-top: -19px;
}

input.submit, input.submit:hover,
input.submit_inline, input.submit_inline:hover,
input.hta_button, input.hta_button:hover {
	overflow: visible;
}

input.hta_button {
	margin-top: 4px;
}
