div#logintab {
	height: 26px;
	margin-top: -8px;
	padding-bottom: 4px;
}

input.submit, input.submit:hover,
input.submit_inline, input.submit_inline:hover,
input.hta_button, input.hta_button:hover {
	overflow: visible;
}

/*div#livetab table#evals td.eval_list {
	border-bottom: 2px solid #CC6633;
}*/

div#ratiotab table#ratios td.ratio_list {
	border-bottom: 2px solid #CC6633;
}

.must {
	border: 1px solid #FF0000;
}

input.hta_button {
	margin-top: -42px;
}

div.notice.ie7fix {
	margin-top: -10px;
}
