* {
	display: none;
}

html, body, #header, #container, #footer {
	display: block;
}

.noscript {
	display: block;
	margin-top: 24px;
	text-align: center;
	color: red;
	font-size: 16px;
	font-weight: bold;
}