/**********************/
/* ALL-STYLE DEFAULTS */
/**********************/

* {
	margin: 0px;
	padding: 0px;
}

.void {
}

/*********************/
/* SITE LAYOUT STYLE */
/*********************/

html {
	font-size: 10pt;
}

body { 
	font-family: bitstream charter, arial, helvetica, sans-serif;
	font-size: 1.0em;
}



div#header {
	width: 100%;
	height: 138px;
	background: transparent url("../img/top.jpeg") no-repeat top left;
}

div#logintab label {
	display: inline;
	padding-left: 24px;
}
div#logintab input {
	width: 120px;
	border: 1px solid #9C7542;
	padding: 2px 4px 2px 4px;
}
div#logintab input.submit {
	width: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 24px;
	padding: 2px 4px 2px 4px;
}


div#mainmenu ul {
	padding-top: 7px;
}
div#mainmenu ul li {
	display: inline;
	padding-right: 7px;
	padding-left: 7px;
	list-style-type: none;
	font-weight: bold;
	font-size: 12px;
}

div#livetab table#evals {
	width: 100%;
	border: 0px;
	background-color: #D3D3D3;
}
div#livetab table#evals th {
	width: 142px;
	min-height: 12px;
	text-align: right;
	vertical-align: middle;
	font-size: 0.9em;
	font-weight: bold;
}
div#livetab table#evals th.eval_list {
	border: 0px;
	border-bottom: 2px solid #9C7542;
}
div#livetab table#evals td.eval_list {
	width: 150px;
	min-height: 12px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	border-bottom: 2px solid #9C7542;
}
div#livetab table#evals td.eval_current {
	background-color: #FFFFFF;
	border-right: 2px solid #9C7542;
	border-bottom: 0px solid #FFFFFF;
	border-left: 2px solid #9C7542;
}
div#livetab table#evals td.last {
	border-right: 0px;
}
div#livetab table#evals td.eval_current {
	color: #9C7542;
}

div#livetab span.comparatif {
	font-size: 1.1em;
	font-weight: bold;
}
div#livetab a.comparatif {
	font-size: 1.1em;
	font-weight: bold;
}
div#livetab a.close {
	font-size: 1.1em;
	font-weight: bold;
}
div#livetab table#evals th.eval_info {
	background-color: #FFFFFF;
	border: 0px;
}
div#livetab table#evals td.eval_info {
	min-height: 12px;
	background-color: #FFFFFF;
	border: 0px;
	text-align: left;
	vertical-align: middle;
}
div#livetab table#evals span.eval_info_item {
	margin-right: 10px;
	text-align: left;
	vertical-align: middle;
}
div#livetab .eval_compare_1 {
	color: orange;
}
div#livetab .eval_compare_2 {
	color: green;
}
div#livetab .eval_compare_3 {
	color: purple;
}
div#livetab .eval_compare_4 {
	color: red;
}
div#livetab table#evals th.eval_actions {
	background-color: #FFFFFF;
	border: 0px;
	border-top: 2px dotted #9C7542;
}

div#livetab table#evals td.eval_actions {
	min-height: 12px;
	background-color: #FFFFFF;
	border: 0px;
	border-top: 2px dotted #9C7542;
	text-align: left;
	vertical-align: middle;
}
div#livetab table#evals span.eval_actions_item {
	margin-right: 16px;
	text-align: left;
	vertical-align: middle;
}
div#livetab table#evals th.eval_feedback {
	background-color: #FFFFFF;
	border: 0px;
	border-top: 2px dotted #9C7542;
}
div#livetab table#evals td.eval_feedback {
	min-height: 12px;
	background-color: #FFFFFF;
	border: 0px;
	border-top: 2px dotted #9C7542;
	text-align: left;
	vertical-align: middle;
}



div#indextab_a li, div#indextab_b li {
	color: #000000;
	padding-left: 7px;
	padding-right: 7px;
	display: inline;
}
div#indextab_a li.prev, div#indextab_a li.next, div#indextab_b li.prev, div#indextab_b li.next {
	font-size: 13px;
}
div#indextab_a li.current, div#indextab_b li.current {
	font-weight: bold;
	color: #9C7542;
}
div#indextab_a a div#indextab_b a {
	color: #253767;
}
div#indextab_a a:hover, div#indextab_b a:hover {
	font-weight: bold;
	color: #253767;
}

div#footer {
	width: 100%;
	height: 24px;
	padding-top: 14px;
	padding-bottom: 4px;
	text-align: center;
}


a {
	color: #253767;
	text-decoration: none;
}
a:visited {
	color: #253767;
	text-decoration: none;
}
a:hover {
	color: #9C7542;
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
	color: #253767;
	margin-top: 2px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
h2 {
	font-size: 1.1em;
	color: #9C7542;
	margin-top: 2px;
	margin-bottom: 18px;
	text-transform: uppercase;
	text-decoration: underline;
}

p {
	text-align: left;
	width: 80%;
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
}

.g {
	padding-left: 3px;
	padding-right: 3px;
	color: #008000;
}

b, strong, .strong {
	font-weight: bold;
}

.must {
	white-space: pre;
}

.na {
	color: #D3D3D3;
}

.note {
	font-size: 0.8em;
	vertical-align: bottom;
	padding-left: 8px;
}

.hint {
	display: block;
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 8px;
}

.warning {
	color: #808080;
	font-weight: bold;
}

.readonly {
	color: #808080;
}
div.warnings {
	background-color: gold;	
}


.menuIn {
	margin-top: 4px;
	margin-bottom: 42px;
	margin-left: 16px;
}
.menuIn ul {
	list-style-type: none;
	list-style-image: url("../img/puce.jpeg")
}
div.menuIn ul li {
	margin-bottom: 5px;
}


table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border-spacing: 0px;
	font-size: 0.9em;
	border: 1px solid #253767;
}

td {
	border: 1px solid #253767;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 0.8em;
}
th {
	border: 1px solid #253767;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 1.0em;
	font-weight: normal;
}

table thead th {
	text-align: right;
}
table thead td {
	text-align: center;
}
table tbody th {
	text-align: left;
}
table tbody td {
	text-align: right;
}




.entry, .entry_short {
	width: 100%;
	margin-bottom: 30px;
}

.entry_long {
	width: 100%;
	margin-bottom: 60px;
}

div.suggestion {
	width: 97%;
	border: 1px dotted #253767;
	margin-top: 12px;
	margin-bottom: 48px;
	padding: 6px 6px 6px 6px;
	font-style: italic;
}

label {
	display: block;
	padding-bottom: 8px;
	font-size: 1.0em;
}

textarea {
	width: 98%;
}

input {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1.0em;
}
input.text, input.text_long {
	width: 300px;
}
input.text_short {
	width: 100px;
}

input.numerique {
	width:85px;
	text-align:right;
}

input.radio {
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: bottom;
}
input.checkbox {
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.radio_label, .checkbox_label {
	margin-right: 8px;
	margin-left: 8px;
	vertical-align: bottom;
}

input.submit {
	margin-top: 16px;
	margin-bottom: 16px;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}
input.submit_inline {
	margin-top: 16px;
	margin-bottom: 0px;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}
input.submit:hover, input.submit_inline:hover {
	border: 1px solid #D3D3D3;
	color: #D3D3D3;
	background-color: #253767;
	cursor: pointer;
}
input.submit:active, input.submit_inline:active {
	border: 1px solid #253767;
	color: #D3D3D3;
	background-color: #253767;
}

select {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1em;
}
option {
	padding-left: 6px;
	padding-right: 12px;
}
option.default {
	color: #D3D3D3;
}

textarea {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1em;
}

.answer {
	color: #00008B;
	font-weight: bold;
}
.answer a {
	color: #00008B;
	font-weight: bold;
}
.answer a:hover {
	color: #00008B;
	font-weight: bold;
	text-decoration: underline;
}
.answer a:visited {
	color: #00008B;
	font-weight: bold;
}
img.answer {
	border: 2px solid #253767;
}

.formFeedback {
	padding-bottom: 8px;
}

.success {
	color: #008000;
	text-decoration: none;
}

.error {
	color: #FF0000;
	text-decoration: none;
}
.error a {
	color: #FF0000;
	text-decoration: none;
}
.error a:visited {
	color: #FF0000;
	text-decoration: none;
}
.error a:hover {
	color: #FF0000;
	text-decoration: underline;
}


table.resultsTable {
	width: auto;
	border: 0px;
	border-style: none;
}
table.resultsTable td {
	text-align: left;
	font-size: 0.9em;
	border: none;
	vertical-align: top;
}
table.resultsTable th {
	font-weight: bold;
	color: #9C7542;
	border: none;
	vertical-align: bottom;
}
.altTr {
	background-color: #EEEEEE;
}
table.searchTable {
	width: auto;
	border: 0px;
	border-style: none;
}
table.searchTable td {
	text-align: left;
	font-size: 1.0em;
	border: none;
	vertical-align: top;
}

table.searchTable th {
	font-weight: bold;
	color: #9C7542;
}

table.backup_list tr.latest {
	color: green;
}



div.conception {
	text-align: center;
}

div.copy {
	text-align: center;
}

div.warnings {
	border-style: solid;
	border-color: black;
	padding: 5px;
	margin-bottom:5px;
}
input.sous_total {
	#background-color: white;
	width:70px;
	margin-left: -40px;
	text-align:right;
}
input.argent{
	text-align:right;
	width:85px;
	}
input.total {
	text-weight:bold;
	width:70px; 
	text-align:right;
}
#ratios label {
	display:inline;
	float:left;
	width:72%;
}
#minMaxSalaires label {
	display:ineline;
	float:left;
	width:54%;
}
#minMax {
	width:81%;
	text-align:right;
}
#ratios input {
	float:left;
}
#ratios input.navigation {
	margin-right:20px;
	}
#ratios h2 {
	float:left;
}
#infosEtude {
	float:left;
	font-weight:bold;
	width:70%;	
}

#ratios select {
	float:left;
}
#etapes {
	font-weight:bold;
	float:right;
	text-align:left;
	width:15%;
}
#navigation_notes{
	float:left;	
}
label.sous_total {
}
label.total {
	font-weight: bold;
	font-size: 13px;
	margin-top:10px;
}
label.grand_total {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;	
}
div.notes {
	margin: 5px;
	#font-size:10px;
}
#ratiosForm label {
	margin-top: 5px;
}

div#container {

	width:640px;
	position: absolute;
	top: 4px;
	left: 4px;
}

div#content {
	width: 595px;
	min-height: 526px;
	padding-top: 26px;
	padding-right: 14px;
	padding-bottom: 12px;
	padding-left: 10px;
	border-top: 0px;
	border-right: 8px solid #9C7542;
	border-bottom: 4px solid #9C7542;
	border-left: 8px solid #9C7542;
}

div#ratios{
	
	}
div#mainmenu {
	width:620px;
	height: 32px;
	min-height: 32px;
	background-color: #FFFFFF;
	border-top: 8px solid #9C7542;
	border-bottom: 4px solid #9C7542;
	border-left: 8px solid #9C7542;
	border-right: 8px solid #9C7542;
	text-align: center;
}
div#logintab {
	width: 620px;
	height: 24px;
	margin-top: -18px;
	text-align: right;
	font-size: 0.8em;
	color: #000000;
}

div#livetab {
	display:none;
	width:620px;
	border-top: 0px;
	border-right: 8px solid #9C7542;
	border-bottom: 2px solid #9C7542;
	border-left: 8px solid #9C7542;
	font-size: 1.0em;
}
#ratios input {
	border:none;
}

div#foot, div#statsHeader{
	display:none;
}