* {
	margin: 0px;
	padding: 0px;
}

.void {
}

html {
	font-size: 10pt;
}

body { 
	font-family: bitstream charter, arial, helvetica, sans-serif;
	font-size: 1.0em;
}

strong {
	font-weight: bolder;
}

div#printbar {
	display: none;
}

div#legalpaper {
	width: 1600px;
	margin: 0px;
}

div#legalpaper table.stats16 tbody tr td {
	font-size: 8pt;
}

div#legalpaper h1 {
	font-size: 24px;
	text-align: center;
	padding-bottom: 16px;
}

div#legalpaper h2 {
	font-size: 22px;
	text-align: center;
	padding-bottom: 8px;
}

div#legalpaper h3 {
	font-size: 10pt;
	font-weight: bolder;
}

div#legalpaper td.description {
	width: 300px;
}

div#legalpaper table.stats {
	margin-bottom: 24px;
}

div#legalpaper table.stats {
	width: 100%;
	border: 1px solid black;
}

div#legalpaper table.stats td {
	border: 1px solid black;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
}

div#legalpaper table.stats thead tr td {
	font-weight: bold;
	text-align: center;
}
div#legalpaper table.stats tfoot tr td {
	font-weight: bold;
	text-align: center;	
}

div#legalpaper .soustitre {
	font-size: 12pt;
	font-variant: small-caps;
}

div#legalpaper table.stats .valeur {
	margin: 0px;
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
}

div#legalpaper table.stats thead tr td.moyenne,
div#legalpaper table.stats thead tr td.nom,
div#legalpaper table.stats tfoot tr td.moyenne,
div#legalpaper table.stats tfoot tr td.nom {
	width: 120px;
	height: 40px;
	font-size: 12pt;
	font-weight: bolder;
	font-variant: small-caps;
}

div#legalpaper table.stats16 thead tr td.moyenne,
div#legalpaper table.stats16 thead tr td.nom,
div#legalpaper table.stats16 tfoot tr td.moyenne,
div#legalpaper table.stats16 tfoot tr td.nom {
	width: 80px;
}
div#legalpaper table.stats11 thead tr td.moyenne,
div#legalpaper table.stats11 thead tr td.nom,
div#legalpaper table.stats11 tfoot tr td.moyenne,
div#legalpaper table.stats11 tfoot tr td.nom {
	width: 200px;
}
div#legalpaper table.stats3 thead tr td.moyenne,
div#legalpaper table.stats3 thead tr td.nom,
div#legalpaper table.stats3 tfoot tr td.moyenne,
div#legalpaper table.stats3 tfoot tr td.nom {
	width: 200px;
}

div#legalpaper table.stats thead tr td.l {
	width: 300px;
}

div#legalpaper table.stats thead tr td.description {
	padding: 3px;
	text-align: left;
}
div#legalpaper table.stats tfoot tr td.description {
	padding: 3px;
	text-align: left;
}

div#legalpaper table.stats tbody tr td.description {
	height: 40px;
	padding: 3px;
	text-align: left;
}

div#legalpaper table.stats thead tr td.l {
	text-align: left;
}
div#legalpaper table.stats tfoot tr td.l {
	text-align: left
}

div#legalpaper table.stats td.odd {
	background-color: #D3D3D3;
}
div#legalpaper table.stats td.even {
	background-color: #FFFFFF;
}


div#legalpaper table.stats tbody tr td.total {
	font-weight: bold;
}
div#legalpaper table.stats tbody tr td.total1 {
	font-weight: bold;
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 0px;
	height: 21px;
	background-color: #D3D3D3;
}
div#legalpaper table.stats tbody tr td.total2 {
	font-weight: bold;
	border-top: none;
	padding-top: 0px;
	padding-bottom: 3px;
	height: 21px;
	background-color: #E3E3E3;
}

div#legalpaper table.stats td.sectionName {
	border-left: none;
	border-right: none;
}
body div#legalpaper table.stats td.sectionName.l {
	border-left: 1px solid black;
}
body div#legalpaper table.stats td.sectionName.r {
	border-right: 1px solid black;
}

div#legalpaper table.stats .moyenne {
	width: 100px;
}

div#legalpaper table.division-outer-box {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-top: 16px;
	margin-bottom: 16px;
}
div#legalpaper table.division-outer-box tr td {
	text-align: center;
	border: 0px;
	padding: 0px;
}
div#legalpaper table.division {
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: inline;
}
div#legalpaper table.division tr td {
	border: 0px;
	text-align: center;
}
div#legalpaper table.division tr td.dividande {
	border-bottom: 1px solid black;
}

span.num {
	font-weight: bold;
}

div#legalpaper table.legende {
	width: 100%;
}
div#legalpaper table.legende tr td {
	text-align: left;
	vertical-align: top; 
}
div#legalpaper span.legende {
	font-variant: small-caps;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}
ul.legende li {
	list-style-type: none;
	font-variant: small-caps;
	font-size: 12px;
}

hr.pagebreak {
	border: none;
	color: #FFFFFF;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	page-break-after: always;
}
