/******************************/
/* FACTURATION ELEMENTS STYLE */
/******************************/

div#header,
div#logintab,
div#mainmenu,
div#printpage {
	display: none;
}

div#content-wide {
	width: 100%;
	border: none;
}

h1,
h2 {
	color: #000000;
}

hr.pagebreak {
	border: none;
	color: #FFFFFF;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	page-break-after: always;
}

.printblock {
	display: block;
}

table.rapport_global {
	border: 2px solid #000000;
}

table.rapport_global tr td {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

table.rapport_global tr td.rc {
	border-left: 2px solid #000000;
}

table.rapport_global tr.titre td {
	height: 40px;
	vertical-align: middle;
	font-weight: bolder;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr.etude td {
	height: 40px;
	vertical-align: middle;
}

table.rapport_global tr.total_ristournes td {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr.total_paiements td {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr.solde td {
	font-weight: bolder;
	border-top: 2px solid #000000;
}

table.rapport_global tr td.pos {
	color: #CC0000;
}

table.rapport_global tr td.neg {
	color: #33CC33;
}

