/******************************/
/* FACTURATION ELEMENTS STYLE */
/******************************/

div#header,
div#logintab,
div#mainmenu,
div#printpage {
	display: none;
}

div#content-wide {
	width: 100%;
	border: none;
}

h1,
h2 {
	color: #000000;
}

hr.pagebreak {
	border: none;
	color: #FFFFFF;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	page-break-after: always;
}

.printblock {
	display: block;
}

table.rapport_global {
	border: 2px solid #000000;
}

table.rapport_global tr td {
	border: 1px solid #000000;
}

table.rapport_global tr td.etude_info_nom {
	background-color: #FFFFFF;
}

table.rapport_global tr td.etude_info_label {

}

table.rapport_global tr td.etude_info_value {

}

table.rapport_global tr td.paiement_label {
	font-weight: bolder;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr td.paiement_value {
}

table.rapport_global tr td.pos {
	color: #FFFFFF;
}

table.rapport_global tr td.neg {
	color: #FFFFFF;
}


table.rapport_factures {
	border: 2px solid #000000;
}

table.rapport_factures tr td {
	border: 1px solid #000000;
}

table.rapport_factures tr td.etude_info_nom {
	background-color: #FFFFFF;
}

table.rapport_factures tr td.etude_info_label {

}

table.rapport_factures tr td.etude_info_value {

}

table.rapport_factures tr td.facture_label {
	font-weight: bolder;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_factures tr td.facture_value {
}

