/*************************/
/* RATIOS ELEMENTS STYLE */
/*************************/

div#ratiotab {
	width: 730px;
	border-top: 0px;
	border-right: 8px solid #CC6633;
	border-bottom: 2px solid #CC6633;
	border-left: 8px solid #CC6633;
	font-size: 1.0em;
}
div#ratiotab table#ratios {
	width: 100%;
	border: 0px;
	background-color: #D3D3D3;
}
div#ratiotab table#ratios th {
	width: 142px;
	min-height: 12px;
	text-align: right;
	vertical-align: middle;
	font-size: 0.9em;
	font-weight: bold;
}
div#ratiotab table#ratios th.ratio_list {
	border: 0px;
	border-bottom: 4px solid #CC6633;
}
div#ratiotab table#ratios td.ratio_list {
	width: 150px;
	min-height: 12px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	border-bottom: 4px solid #CC6633;
}
div#ratiotab table#ratios td.ratio_current {
	background-color: #FFFFFF;
	border-top: 0px solid #FFFFFF;
	border-right: 2px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 2px solid #CC6633;
}
div#ratiotab table#ratios td.last {
	border-right: 0px;
}
div#ratiotab table#ratios td.ratio_current {
	color: #CC6633;
}

input.argent {
	text-align: right;
	width: 120px;
}
input.sous_total {
	text-align: right;
	width: 120px;
}
input.total {
	text-align: right;
	width: 120px;
}
#ratios input.navigation {
	margin-right: 20px;
}
#infosEtude {
	float: left;
	font-weight: bold;
	width: 70%;	
}
#etapes {
	font-weight: bold;
	float: right;
	text-align: left;
	margin-right: -12px;
	margin-bottom: 16px;
	width: 15%;
}
.navigation_notes {
	float: left;
	display: none;
}
#ratiosForm label {
	margin-top: 0;
}
label.total {
	font-weight: bold;
	font-size: 13px;
	margin-top: 10px;
}
label.grand_total {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;	
}
input.diff {
	vertical-align: bottom;
}
div.diff {
	margin-top: 8px;
}
table.ratio_form {
	border: none;
	font-size: 1em;
	padding: 0;
	margin: 0;
	width: 560px;
}
table.ratio_form td {
	border: none;
	vertical-align: top;
	font-size: 1em;
	padding: 0;
	padding-bottom: 9px;
	text-align: left;
}
table.ratio_form td.n {
	width: 24px;
	text-align: left;
	font-weight: bolder;
}
table.ratio_form td.l {
	text-align: left;
	padding-right: 12px;
}
table.ratio_form td.m {
	text-align: right;
	padding-right: 4px;
}
table.ratio_form td.r {
	padding-top: 3px;
	text-align: left;
	border-bottom: 0;
}
table.ratio_form tr.diff td {
	padding-top: 9px;
	border-bottom: 1px solid #000000;
	vertical-align: middle;
}
table.ratio_form tr.total td {
	padding-top: 9px;
	vertical-align: middle;
}
table.ratio_form td label {
	padding: 0;
	margin: 0;
}
table.ratio_form td input {
	text-align: right;
}
table.ratio_form td select {
	text-align: right;
	margin-right: 4px;
}

table.ratio_form p {
	text-align: justify;
}

.must {
	border-color: #FF0000;
}

div.noticeDiv {
	border: none;
	width: 572px;
}
div.warningDiv {
	border: none;
	width: 572px;
}
div.errorDiv {
	border: none;
	width: 572px;
}
div.noticeBox {
	border: 2px solid green;
	color: black;
	background-color: white;
	padding: 4px;
	margin-bottom: 4px;
}
div.warningBox {
	border: 2px solid black;
	color: black;
	background-color: yellow;
	padding: 4px;
	margin-bottom: 4px;
}
div.errorBox {
	border: 2px solid black;
	color: black;
	background-color: red;
	padding: 4px;
	margin-bottom: 4px;
}
