/**********************/
/* ALL-STYLE DEFAULTS */
/**********************/

* {
	margin: 0;
	padding: 0;
}

.void {
}

#debug {
	position: absolute;
	margin-top: 0;
	margin-left: 760px;
	padding: 10px;
	border-style: solid;
	border-color: black;
	width: 200px;
	height: 750px;
}

/*********************/
/* SITE LAYOUT STYLE */
/*********************/

html {
	font-size: 10pt;
}

body { 
	font-family: bitstream charter, arial, helvetica, sans-serif;
	font-size: 1.0em;
}

div#container {
	width: 746px;
	position: absolute;
	top: 4px;
	left: 4px;
}

div#header {
	width: 100%;
	height: 138px;
	background: transparent url("../img/top.jpeg") no-repeat top left;
}

div#logintab {
	display: none;
}
div#logintab label {
	display: none;
}
div#logintab input {
	display: none;
}
div#logintab input.submit {
	display: none;
}

div#mainmenu {
	display: none;
}
div#mainmenu ul {
	display: none;
}
div#mainmenu ul li {
	display: none;
}

div#livetab {
	display: none;
}

div#content {
	width: 586px;
	min-height: 526px;
	padding-top: 26px;
	padding-right: 14px;
	padding-bottom: 24px;
	padding-left: 130px;
	border-top: none;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	background: transparent url("../img/bord.jpeg") no-repeat top left;
}

div#content-wide {
	width: 682px;
	min-height: 526px;
	padding-top: 26px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	border-top: none;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	background: #FFFFFF;
}

div#indextab_a {
	width: 730px;
	height: 24px;
	padding-top: 7px;
	border-top: 2px solid #CC6633;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	color: #CC6633;
	background-color: #D3D3D3;
	font-size: 14px;
	text-align: center;
}
div#indextab_b {
	width: 730px;
	height: 24px;
	padding-top: 7px;
	border-top: none;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	color: #CC6633;
	background-color: #D3D3D3;
	font-size: 14px;
	text-align: center;
}
div#indextab_a li, div#indextab_b li {
	color: #000000;
	padding-left: 7px;
	padding-right: 7px;
	display: inline;
}
div#indextab_a li.prev, div#indextab_a li.next, div#indextab_b li.prev, div#indextab_b li.next {
	font-size: 13px;
}
div#indextab_a li.current, div#indextab_b li.current {
	font-weight: bold;
	color: #CC6633;
}
div#indextab_a a div#indextab_b a {
	color: #253767;
}
div#indextab_a a:hover, div#indextab_b a:hover {
	font-weight: bold;
	color: #253767;
}

div#footer {
	width: 100%;
	height: 24px;
	padding-top: 14px;
	padding-bottom: 4px;
	text-align: center;
}



/************************/
/* TEXT ELEMENTS STYLES */
/************************/

a {
	color: #253767;
	text-decoration: none;
}
a:visited {
	color: #253767;
	text-decoration: none;
}
a:hover {
	color: #CC6633;
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
	color: #253767;
	margin-top: 2px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
h2 {
	font-size: 1.1em;
	color: #CC6633;
	margin-top: 2px;
	margin-bottom: 18px;
	text-transform: uppercase;
	text-decoration: underline;
}
h3 {
	color: #000000;
	margin-top: 2px;
	margin-bottom: 12px;
	margin-left: 0;
	padding-left: 0;
}

p {
	text-align: left;
	width: 80%;
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 0;
}

.g {
	padding-left: 3px;
	padding-right: 3px;
	color: #008000;
}

b, strong, .strong {
	font-weight: bold;
}

.must {
	white-space: pre;
}

.na {
	color: #D3D3D3;
}

.note {
	font-size: 0.9em;
	vertical-align: bottom;
	padding-left: 2px;
}

.hint {
	display: block;
	font-size: 0.9em;
	margin-top: 4px;
	margin-bottom: 8px;
}

.warning {
	color: #808080;
	font-weight: bold;
}

.readonly {
	color: #444444;
}
div.warnings {
	background-color: gold;	
}


/*************************/
/* IN-CONTENT MENU STYLE */
/*************************/

.menuIn {
	margin-top: 4px;
	margin-bottom: 42px;
	margin-left: 16px;
}
.menuIn ul {
	list-style-type: none;
	list-style-image: url("../img/puce.jpeg")
}
div.menuIn ul li {
	margin-bottom: 5px;
}



/***********************/
/* DEFAULT TABLE STYLE */
/***********************/

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-spacing: 0;
	font-size: 0.9em;
	border: 1px solid #253767;
}
td {
	border: 1px solid #253767;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 0.8em;
}
th {
	border: 1px solid #253767;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 1.0em;
	font-weight: normal;
}

table thead th {
	text-align: right;
}
table thead td {
	text-align: center;
}
table tbody th {
	text-align: left;
}
table tbody td {
	text-align: right;
}



/***********************/
/* FORM ELEMENTS STYLE */
/***********************/

.entry, .entry_short {
	width: 100%;
	margin-bottom: 30px;
}

.entry_long {
	width: 100%;
	margin-bottom: 60px;
}

.boxed {
	border: 1px solid #D3D3D3;
	padding: 8px;
	width: 90%;
}

div.suggestion {
	width: 97%;
	border: 1px dotted #253767;
	margin-top: 12px;
	margin-bottom: 48px;
	padding: 6px 6px 6px 6px;
	font-style: italic;
}

label {
	display: block;
	padding-bottom: 8px;
	font-size: 1.0em;
}

label.inline {
	display: inline;
	padding-right: 8px;
	font-size: 1.0em;
	vertical-align: baseline;
}

textarea {
	width: 98%;
}

input {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1.0em;
	margin-right: 4px;
}
input.text, input.text_long {
	width: 300px;
}
input.text_short {
	width: 100px;
}

input.numerique {
	width:85px;
	text-align:right;
}

input.radio {
	display: inline;
	padding: 0;
	margin: 0;
	border: none;
	vertical-align: bottom;
}
input.checkbox {
	display: inline;
	padding: 0;
	margin: 0;
	border: none;
}

.radio_label, .checkbox_label {
	margin-right: 8px;
	margin-left: 8px;
	vertical-align: bottom;
}

input.submit {
	margin-top: 16px;
	margin-bottom: 8px;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}
input.submit_inline {
	margin-top: 16px;
	margin-bottom: 0;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}
input.submit:hover, input.submit_inline:hover {
	border: 1px solid #D3D3D3;
	color: #D3D3D3;
	background-color: #253767;
	cursor: pointer;
}
input.submit:active, input.submit_inline:active {
	border: 1px solid #253767;
	color: #D3D3D3;
	background-color: #253767;
}

select {
	border: 1px solid #253767;
	/*padding: 2px 4px 2px 4px;*/
	/*font-size: 1em;*/
	padding: 4px;
	font-size: 0.8em;
}
option {
	padding-left: 6px;
	padding-right: 12px;
}
option.default {
	color: #7D7D7D;
}

textarea {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1em;
}

.answer {
	color: #00008B;
	font-weight: bold;
}
.answer a {
	color: #00008B;
	font-weight: bold;
}
.answer a:hover {
	color: #00008B;
	font-weight: bold;
	text-decoration: underline;
}
.answer a:visited {
	color: #00008B;
	font-weight: bold;
}
img.answer {
	border: 2px solid #253767;
}

.formFeedback {
	margin-bottom: 12px;
}

.success {
	color: #008000;
	text-decoration: none;
}

.error {
	color: #FF0000;
	margin-bottom: 2px;
	text-decoration: none;
}
.error a {
	color: #FF0000;
	text-decoration: none;
}
.error a:visited {
	color: #FF0000;
	text-decoration: none;
}
.error a:hover {
	color: #FF0000;
	text-decoration: underline;
}

img.pop:hover {
	cursor: pointer;
}

/*********************************/
/* SEARCH SECTION ELEMENTS STYLE */
/*********************************/

table.resultsTable {
	width: auto;
	border: none;
	border-style: none;
}
table.resultsTable td {
	text-align: left;
	font-size: 0.9em;
	border: none;
	vertical-align: top;
}
table.resultsTable th {
	font-weight: bold;
	color: #CC6633;
	border: none;
	vertical-align: bottom;
}
.altTr {
	background-color: #EEEEEE;
}
table.searchTable {
	width: auto;
	border: none;
	border-style: none;
}
table.searchTable td {
	text-align: left;
	font-size: 1.0em;
	border: none;
	vertical-align: top;
}

table.searchTable th {
	font-weight: bold;
	color: #CC6633;
}

table.backup_list tr.latest {
	color: green;
}



/*************************/
/* FOOTER ELEMENTS STYLE */
/*************************/

div.conception {
	text-align: center;
}
div.copy {
	text-align: center;
}



/************************/
/* OTHER ELEMENTS STYLE */
/************************/

a.current {
	color: #CC6633;
}

img.print {
	width: 30px;
	height: 30px;
	border: none;
	margin-right: 4px;
	vertical-align: -40%;
}

.highlight {
	background-color: yellow;
}

div.notice {
	border: 2px solid black;
	background-color: yellow;
	margin: 8px 0 8px 0;
	padding: 4px;
	text-align: left;
	font-size: 0.9em;
}

div.hta_rw {
	margin-top: -4px;
	border: 1px solid black;
}
div.hta_rw table {
	border: none;
}
div.hta_rw table td {
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
}

div.hta_ro {
	border: 2px solid #253767;
	margin: 4px 60px 12px 0;
	padding: 4px;
}

.hta_chrcount {
	padding-top: 12px;
	font-weight: bolder;
}

input.hta_button {
	margin: 0;
	margin-top: -8px;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}



table.noborder,
table.noborder td,
table.noborder th {
	border: 0;
	text-align: left;
}
