/*************************/
/* reseauiq ELEMENTS STYLE */
/*************************/

input.argent {
	text-align: right;
	width: 120px;
}
input.sous_total {
	text-align: right;
	width: 120px;
}
input.total {
	text-weight:bold;
	text-align: right;
	width: 120px;
}
#reseauiq input.navigation {
	margin-right: 20px;
}
#infosEtude {
	float: left;
	font-weight: bold;
	width: 70%;	
}

.navigation_notes {
	float: left;
	display: none;
}
#reseauiqForm label {
	margin-top: 5px;
}
label.total {
	font-weight: bold;
	font-size: 13px;
	margin-top: 10px;
}
label.grand_total {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;	
}
input.diff {
	vertical-align: bottom;
}
div.diff {
	margin-top: 8px;
}
table.reseauiq_form {
	border: none;
	font-size: 1em;
	padding: 0;
	margin: 0;
	width: 560px;
}
table.reseauiq_form td {
	border: none;
	font-size: 1em;
	padding: 0;
	height: 48Px;
}
table.reseauiq_form td.n {
	text-align: left;
}
table.reseauiq_form td.l {
	text-align: left;
}
table.reseauiq_form td.m {
	text-align: right;
	padding-right: 4px;
}
table.reseauiq_form td.r {
	text-align: left;
	border-bottom: 0;
}
table.reseauiq_form td.diff {
	padding-top: 9px;
	border-bottom: 1px solid #000000;
	vertical-align: bottom;
}
table.reseauiq_form td.total {
	padding-top: 20px;
}
table.reseauiq_form td label {
	padding: 0;
	margin: 0;
}
table.reseauiq_form td input {
	text-align: right;
}
table.reseauiq_form td select {
	text-align: right;
	margin-right: 4px;
}

.must {
	border-color: #FF0000;
}

div.noticeDiv {
	border: none;
	width: 572px;
}
div.warningDiv {
	border: none;
	width: 572px;
}
div.errorDiv {
	border: none;
	width: 572px;
}
div.noticeBox {
	border: 2px solid green;
	color: black;
	background-color: white;
	padding: 4px;
	margin-bottom: 4px;
}
div.warningBox {
	border: 2px solid black;
	color: black;
	background-color: yellow;
	padding: 4px;
	margin-bottom: 4px;
}
div.errorBox {
	border: 2px solid black;
	color: black;
	background-color: red;
	padding: 4px;
	margin-bottom: 4px;
}


table.rapportDetails {
	width: 500px;
	border: 2px solid black;
}
table.rapportDetails td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
}
table.rapportDetails td.l {
	text-align: left;
}
table.rapportDetails td.r {
	text-align: right;
}


table.rapportSommaireForOne {
	width: 500px;
	border: 2px solid #CC6633;
}
table.rapportSommaireForOne td {
	border-top: 1px solid #CC6633;
	border-bottom: 1px solid #CC6633;
	border-left: none;
	border-right: none;
}
table.rapportSommaireForOne td.l {
	text-align: left;
}
table.rapportSommaireForOne td.r {
	text-align: right;
}


table.rapportSommaireForAll {
	border: 2px solid black;
}
table.rapportSommaireForAll tr th,
table.rapportSommaireForAll tr td {
	height: 36px;
	vertical-align: middle;
}
table.rapportSommaireForAll tr.odd td {
	background-color: #D0D0D0;
}
table.rapportSommaireForAll tr.even td {
	background-color: #FFFFFF;
}
table.rapportSommaireForAll tr td.titre {
	text-align: center;
	font-weight: bolder;
	border-bottom: 2px solid black;
}
table.rapportSommaireForAll tr td.etude {
	text-align: left;
}
table.rapportSommaireForAll tr th.total {
	text-align: left;
	font-weight: bolder;
	border-top: 2px solid black;
}
table.rapportSommaireForAll tr td.total {
	text-align: right;
	font-weight: bolder;
	border-top: 2px solid black;
}
