/******************************/
/* FACTURATION ELEMENTS STYLE */
/******************************/

.must {
	border-color: #FF0000;
}

div.noticeDiv {
	border: none;
	width: 572px;
}
div.warningDiv {
	border: none;
	width: 572px;
}
div.errorDiv {
	border: none;
	width: 572px;
}
div.noticeBox {
	border: 2px solid green;
	color: black;
	background-color: white;
	padding: 4px;
	margin-bottom: 4px;
}
div.warningBox {
	border: 2px solid black;
	color: black;
	background-color: yellow;
	padding: 4px;
	margin-bottom: 4px;
}
div.errorBox {
	border: 2px solid black;
	color: black;
	background-color: red;
	padding: 4px;
	margin-bottom: 4px;
}

table.rapport_global {
	border: 2px solid #000000;
}

table.rapport_global tr td {
	border: 1px solid #000000;
}

table.rapport_global tr.odd td {
	background-color: #D0D0D0;
}

table.rapport_global tr.even td {
	background-color: #FFFFFF;
}

table.rapport_global tr td.rc {
	border-left: 2px solid #000000;
}

table.rapport_global tr.titre td {
	height: 40px;
	vertical-align: middle;
	font-weight: bolder;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr.etude td {
	height: 40px;
	vertical-align: middle;
}

table.rapport_global tr.total_ristournes td {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr.total_paiements td {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

table.rapport_global tr.solde td {
	font-weight: bolder;
	border-top: 2px solid #000000;
}

table.rapport_global tr td.pos {
	color: #CC0000;
}

table.rapport_global tr td.neg {
	color: #33CC33;
}

.printblock {
	display: none;
}
