/**********************/
/* ALL-STYLE DEFAULTS */
/**********************/

* {
	margin: 0;
	padding: 0;
}

.void {
}

input#lieu { width: 560px; }
input#note { width: 560px; }
#debug {
	position: absolute;
	margin-top: 0;
	margin-left: 760px;
	padding: 10px;
	border-style: solid;
	border-color: black;
	width: 200px;
	height: 750px;
}

/*********************/
/* SITE LAYOUT STYLE */
/*********************/

html {
	font-size: 10pt;
}

body {
	font-family: bitstream charter, arial, helvetica, sans-serif;
	font-size: 1.0em;
}

div#container {
	/*width: 746px;
	position: absolute;
	top: 4px;
	left: 4px;*/
}

div#header {
	width: 100%;
	height: 138px;
	background: transparent url("../img/top.jpeg") no-repeat top left;
}

div#logintab {
	width: 100%;
	height: 24px;
	margin-top: -10px;
	text-align: right;
	font-size: 0.8em;
	color: #000000;
}
div#logintab label {
	display: inline;
	padding-left: 24px;
}
div#logintab input {
	width: 120px;
	border: 1px solid #CC6633;
	padding: 2px 4px 2px 4px;
}
div#logintab input.submit {
	width: 80px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 24px;
	margin-right: 0;
	padding: 2px 4px 2px 4px;
}

div#mainmenu {
	width: 730px;
	height: 32px;
	min-height: 32px;
	background-color: #FFFFFF;
	border-top: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	border-right: 8px solid #CC6633;
	text-align: center;
}
div#mainmenu ul {
	padding-top: 7px;
}
div#mainmenu ul li {
	display: inline;
	padding-right: 7px;
	padding-left: 7px;
	list-style-type: none;
	font-weight: bold;
	font-size: 12px;
}

div#livetab {
	width: 100%;
	border-top: 0;
	border-right: 8px solid #CC6633;
	border-bottom: 2px solid #CC6633;
	border-left: 8px solid #CC6633;
	font-size: 1.1em;
}
div#livetab table#evals {
	width: 100%;
	border: 0;
	background-color: #D3D3D3;
}
div#livetab table#evals th {
	width: 142px;
	min-height: 12px;
	text-align: right;
	vertical-align: middle;
	font-size: 0.9em;
	font-weight: bold;
	padding: 5px;
}
div#livetab table#evals th.eval_list {
	border: 0;
	border-bottom: 4px solid #CC6633;
}
div#livetab table#evals td.eval_list {
	width: 150px;
	min-height: 12px;
	text-align: center;
	vertical-align: middle;
	border: 0;
	border-bottom: 4px solid #CC6633;
}
div#livetab table#evals td.eval_current {
	background-color: #FFFFFF;
	border-top: none;
	border-right: 2px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 2px solid #CC6633;
}
div#livetab table#evals td.last {
	border-right: 0;
}
div#livetab table#evals td.eval_current {
	color: #CC6633;
}
div#livetab span.comparatif {
	font-size: 1.1em;
	font-weight: bold;
}
div#livetab a.comparatif {
	font-size: 1.1em;
	font-weight: bold;
}
div#livetab a.close {
	font-size: 1.1em;
	font-weight: bold;
}
div#livetab table#evals th.eval_info {
	background-color: #FFFFFF;
	border: 0;
}
div#livetab table#evals td.eval_info {
	min-height: 12px;
	background-color: #FFFFFF;
	border: none;
	text-align: left;
	vertical-align: middle;
}
div#livetab table#evals span.eval_info_item {
	margin-right: 10px;
	text-align: left;
	vertical-align: middle;
}
div#livetab .eval_compare_1 {
	color: orange;
}
div#livetab .eval_compare_2 {
	color: green;
}
div#livetab .eval_compare_3 {
	color: purple;
}
div#livetab .eval_compare_4 {
	color: red;
}
div#livetab table#evals th.eval_actions {
	background-color: #FFFFFF;
	border: none;
	border-top: 2px dotted #CC6633;
}
div#livetab table#evals td.eval_actions {
	min-height: 12px;
	background-color: #FFFFFF;
	border: none;
	border-top: 2px dotted #CC6633;
	text-align: left;
	vertical-align: middle;
}
div#livetab table#evals span.eval_actions_item {
	margin-right: 16px;
	text-align: left;
	vertical-align: middle;
}
div#livetab table#evals th.eval_feedback {
	background-color: #FFFFFF;
	border: none;
	border-top: 2px dotted #CC6633;
}
div#livetab table#evals td.eval_feedback {
	min-height: 12px;
	background-color: #FFFFFF;
	border: none;
	border-top: 2px dotted #CC6633;
	text-align: left;
	vertical-align: middle;
}

div#content {
	width: 586px;
	min-height: 526px;
	padding-top: 26px;
	padding-right: 14px;
	padding-bottom: 24px;
	padding-left: 130px;
	border-top: none;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	background: transparent url("../img/bord.jpeg") no-repeat top left;
}

div#content-wide {
	width: 682px;
	min-height: 526px;
	padding-top: 26px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	border-top: none;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;
	background: #FFFFFF;
}

div#indextab_a {
	/*width: 730px;
	height: 24px;
	padding-top: 7px;
	border-top: 2px solid #CC6633;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;*/
	color: #CC6633;
	/*background-color: #D3D3D3;*/
	font-size: 14px;
	text-align: center;
}
div#indextab_b {
	/*width: 730px;
	height: 24px;
	padding-top: 7px;
	border-top: none;
	border-right: 8px solid #CC6633;
	border-bottom: 4px solid #CC6633;
	border-left: 8px solid #CC6633;*/
	color: #CC6633;
	/*background-color: #D3D3D3;*/
	font-size: 14px;
	text-align: center;
}
div#indextab_a li, div#indextab_b li {
	color: #000000;
	padding-left: 7px;
	padding-right: 7px;
	display: inline;
	margin-left: 5px;
}

#content div#indextab_a li, #content div#indextab_b li {
	margin-left: 5px;
}

div#indextab_a li.prev, div#indextab_a li.next, div#indextab_b li.prev, div#indextab_b li.next {
	font-size: 13px;
}
div#indextab_a li.current, div#indextab_b li.current {
	font-weight: bold;
	color: #CC6633;
}
div#indextab_a a div#indextab_b a {
	color: #253767;
}
div#indextab_a a:hover, div#indextab_b a:hover {
	font-weight: bold;
	color: #253767;
}

div#footer {
	width: 100%;
	height: 24px;
	padding-top: 14px;
	padding-bottom: 4px;
	text-align: center;
}



/************************/
/* TEXT ELEMENTS STYLES */
/************************/

a {
	color: #253767;
	text-decoration: none;
}
a:visited {
	color: #253767;
	text-decoration: none;
}
a:hover {
	color: #CC6633;
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
	color: #253767;
	margin-top: 2px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
h2 {
	font-size: 1.1em;
	color: #CC6633;
	margin-top: 2px;
	margin-bottom: 18px;
	text-transform: uppercase;
	text-decoration: underline;
}
h3 {
	color: #000000;
	margin-top: 2px;
	margin-bottom: 12px;
	margin-left: 0;
	padding-left: 0;
}

p {
	text-align: left;
	width: 80%;
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 0;
}

.g {
	padding-left: 3px;
	padding-right: 3px;
	color: #008000;
}

b, strong, .strong {
	font-weight: bold;
}

.must {
	white-space: pre;
}

.na {
	color: #D3D3D3;
}

.note {
	font-size: 0.9em;
	vertical-align: bottom;
	padding-left: 2px;
}

.hint {
	display: block;
	font-size: 0.9em;
	margin-top: 4px;
	margin-bottom: 8px;
}

.warning {
	color: #808080;
	font-weight: bold;
}

.readonly {
	color: #444444;
}
div.warnings {
	background-color: gold;
}


/*************************/
/* IN-CONTENT MENU STYLE */
/*************************/

.menuIn {
	margin-top: 4px;
	margin-bottom: 42px;
	margin-left: 16px;
}
.menuIn ul {
	list-style-type: none;
	list-style-image: url("../img/puce.jpeg")
}
div.menuIn ul li {
	margin-bottom: 5px;
}



/***********************/
/* DEFAULT TABLE STYLE */
/***********************/

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-spacing: 0;
	font-size: 0.9em;
	border: 1px solid #253767;
}
td {
	border: 1px solid #253767;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 0.8em;
}
th {
	border: 1px solid #253767;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 1.0em;
	font-weight: normal;
}

table thead th {
	text-align: right;
}
table thead td {
	text-align: center;
}
table tbody th {
	text-align: left;
}
table tbody td {
	text-align: right;
}



/***********************/
/* FORM ELEMENTS STYLE */
/***********************/

.entry, .entry_short {
	width: 100%;
	margin-bottom: 30px;
}

.entry_long {
	width: 100%;
	margin-bottom: 60px;
}

.boxed {
	border: 1px solid #D3D3D3;
	padding: 8px;
	width: 90%;
}

div.suggestion {
	width: 97%;
	border: 1px dotted #253767;
	margin-top: 12px;
	margin-bottom: 48px;
	padding: 6px 6px 6px 6px;
	font-style: italic;
}

label {
	display: block;
	padding-bottom: 8px;
	font-size: 1.0em;
}

label.inline {
	display: inline;
	padding-right: 8px;
	font-size: 1.0em;
	vertical-align: baseline;
}

textarea {
	width: 98%;
}

input {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1.0em;
	margin-right: 4px;
}
input.text, input.text_long {
	width: 300px;
}
input.text_short {
	width: 100px;
}

input.numerique {
	width:85px;
	text-align:right;
}

input.radio {
	display: inline;
	padding: 0;
	margin: 0;
	border: none;
	vertical-align: bottom;
}
input.checkbox {
	display: inline;
	padding: 0;
	margin: 0;
	border: none;
}

.radio_label, .checkbox_label {
	margin-right: 8px;
	margin-left: 8px;
	vertical-align: bottom;
}

input.submit {
	margin-top: 16px;
	margin-bottom: 8px;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}
input.submit_inline {
	margin-top: 16px;
	margin-bottom: 0;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}
input.submit:hover, input.submit_inline:hover {
	border: 1px solid #D3D3D3;
	color: #D3D3D3;
	background-color: #253767;
	cursor: pointer;
}
input.submit:active, input.submit_inline:active {
	border: 1px solid #253767;
	color: #D3D3D3;
	background-color: #253767;
}

select {
	border: 1px solid #253767;
	/*padding: 2px 4px 2px 4px;*/
	/*font-size: 1em;*/
	padding: 4px;
	font-size: 0.8em;
}
option {
	padding-left: 6px;
	padding-right: 12px;
}
option.default {
	color: #7D7D7D;
}

textarea {
	border: 1px solid #253767;
	padding: 2px 4px 2px 4px;
	font-size: 1em;
}

.answer {
	color: #00008B;
	font-weight: bold;
}
.answer a {
	color: #00008B;
	font-weight: bold;
}
.answer a:hover {
	color: #00008B;
	font-weight: bold;
	text-decoration: underline;
}
.answer a:visited {
	color: #00008B;
	font-weight: bold;
}
img.answer {
	border: 2px solid #253767;
}

.formFeedback {
	margin-bottom: 12px;
}

.success {
	color: #008000;
	text-decoration: none;
}

.error {
	color: #FF0000;
	margin-bottom: 2px;
	text-decoration: none;
}
.error a {
	color: #FF0000;
	text-decoration: none;
}
.error a:visited {
	color: #FF0000;
	text-decoration: none;
}
.error a:hover {
	color: #FF0000;
	text-decoration: underline;
}

img.pop:hover {
	cursor: pointer;
}

/*********************************/
/* SEARCH SECTION ELEMENTS STYLE */
/*********************************/

table.resultsTable {
	width: auto;
	border: none;
	border-style: none;
}
table.resultsTable td {
	text-align: left;
	font-size: 0.9em;
	border: none;
	vertical-align: top;
}
table.resultsTable th {
	font-weight: bold;
	color: #CC6633;
	border: none;
	vertical-align: bottom;
}
.altTr {
	background-color: #EEEEEE;
}
table.searchTable {
	width: auto;
	border: none;
	border-style: none;
}
table.searchTable td {
	text-align: left;
	font-size: 1.0em;
	border: none;
	vertical-align: top;
}

table.searchTable th {
	font-weight: bold;
	color: #CC6633;
}

table.backup_list tr.latest {
	color: green;
}



/*************************/
/* FOOTER ELEMENTS STYLE */
/*************************/

div.conception {
	text-align: center;
}
div.copy {
	text-align: center;
}



/************************/
/* OTHER ELEMENTS STYLE */
/************************/

a.current {
	color: #CC6633;
}

img.print {
	width: 30px;
	height: 30px;
	border: none;
	margin-right: 4px;
	vertical-align: -40%;
}

.highlight {
	background-color: yellow;
}

div.notice {
	border: 2px solid black;
	background-color: yellow;
	margin: 8px 0 8px 0;
	padding: 4px;
	text-align: left;
	font-size: 0.9em;
}

div.hta_rw {
	margin-top: -4px;
	border: 1px solid black;
}
div.hta_rw table {
	border: none;
}
div.hta_rw table td {
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
}

div.hta_ro {
	border: 2px solid #253767;
	margin: 4px 60px 12px 0;
	padding: 4px;
}

.hta_chrcount {
	padding-top: 12px;
	font-weight: bolder;
}

input.hta_button {
	margin: 0;
	margin-top: -8px;
	border: 1px solid #253767;
	color: #253767;
	background-color: #D3D3D3;
	cursor: pointer;
}



table.noborder,
table.noborder td,
table.noborder th {
	border: 0;
	text-align: left;
}

div#jfe_participants ul li { list-style-type: none; float: left; width: 40%; margin-right: 5%; padding-bottom: 5px; }
div#jfe_participants ul li label { display: inline; }

div#cag_participants ul li { list-style-type: none; float: left; width: 40%; margin-right: 5%; padding-bottom: 5px; }
div#cag_participants ul li label { display: inline; }

div#caga_participants ul li { list-style-type: none; float: left; width: 40%; margin-right: 5%; padding-bottom: 5px; }
div#caga_participants ul li label { display: inline; }

ul.sujets li { float: left; list-style-type: none; width: 130px; margin-right: 10px; }
ul.sujets li input { width: 120px; }

ul.activites li { float: left; list-style-type: none; width: 185px; margin-right: 10px; }
ul.activites li input { width: 170px; }

#content ul li { margin-left: 20px; }

body.event-inscription #header { height: 125px; }
body.event-inscription #logintab { display: none; }
body.event-inscription #mainmenu { display: none; }
body.event-inscription div#content > h1 { display: none; }
body.event-inscription div#content { padding-top: 10px; }
body.event-inscription .direction_travail_event ul li { margin-bottom: 10px; }
body.event-inscription .direction_travail_event ul li strong { font-size: 16px; }
body.event-inscription .direction_travail_event ul li.confirmation { list-style-type: none; margin-top: 30px; width: 100%; text-align: center; font-weight: bold; margin-left: -40px !important;
border: solid 1px #EEE; padding: 20px; }

table.sortable tr th { text-align: center; font-weight: bold; padding: 10px; background-color: #CCC; cursor: pointer; }
table.sortable tr td { text-align: center; padding: 10px; font-size: 12px; }
table.sortable tr td p { font-size: 12px; text-align: center; padding: 10px 0px 0px 0px; width: 100%; font-weight: normal; }
table.sortable tr td.date { white-space: nowrap; }
table.sortable tr td.suivi { white-space: nowrap; }
table.sortable tr td.deadline { white-space: nowrap; }
table.sortable tr td.titre { font-weight: bold; }
table.sortable tr.short { cursor: pointer; border-top: solid 2px #444; }
table.sortable tr.long { display: none; }

table.sortable tr.short { background-color: rgba(0,255,0,0.1); }
table.sortable tr.active { background-color: rgba(0,255,0,0.1); }
table.sortable tr.cancelled { background-color: rgba(255,0,0,0.1); }
table.sortable tr.completed { background-color: rgba(0,0,255,0.1); }

#dossiers .container { max-width: 100%; }
#dossiers ul.filter-suivi { list-style-type: none; }
#dossiers ul.filter-suivi li { display: inline-block; padding-right: 20px; width: 120px; }
#dossiers ul.filter-suivi li input { float: left; margin-right: 10px; }
#dossiers ul.filter-suivi li div.checker { float: left; }

#dossiers #add-button { cursor: pointer; font-size: 16px; }
#dossiers #add-form { position: relative; display: none; padding: 20px; background-color: #EEE; border-radius: 10px !important; box-sizing: border-box; margin: 0px 0px 20px -20px; }
#dossiers #add-form.error { display: block; }
#dossiers #add-form a.close { position: absolute; top: 40px; right: 40px; color: #000; font-size: 32px; font-weight: bold; opacity: 0.8; z-index: 100; }
#dossiers #add-form form .suivi { display: none; }
#dossiers form label { font-weight: bold; }
#dossiers form .secteurs label span.radio_label { font-weight: normal; }
#dossiers form .titre { margin-top: 10px; }
#dossiers form .description { margin-top: 10px; }

#dossiers form input.submit { background-color: #2ead2a; border: none; color: #FFF; border-radius: 10px; padding: 5px 10px; }

#dossiers .dossiers-list .mandat { position: relative; width: 100%; padding: 20px; box-sizing: border-box; box-shadow: 2px 2px 10px #888; margin-bottom: 10px; padding-bottom: 60px; }

#dossiers .dossiers-list .mandat .apply-bar { display: none; width: 100%; height: 40px; bottom: 0px; position: absolute; left: 0px; background-color: #888; text-align: center; padding: 5px; box-sizing: border-box; overflow: hidden; }
#dossiers .dossiers-list .mandat.active .apply-bar { display: block; }
#dossiers .dossiers-list .mandat .apply-bar a.apply { cursor: pointer; color: #FFF; font-size: 20px; font-weight: bold; text-decoration: none; }
#dossiers .dossiers-list .mandat .apply-bar a.apply:hover { text-decoration: none !important; }

#dossiers .dossiers-list .mandat .suivi { position: absolute; width: 20px; background-color: #28a3d2; left: 0px; top: 0px; height: 100%; text-align: center; z-index: 100; }
#dossiers .dossiers-list .mandat .suivi span { transform: rotate(-90deg); transform-origin: left top 0; color: #FFF; font-weight: bold; display: block; position: absolute; margin-left: 0px; min-width: 200px; height: 20px; bottom: 0px; text-align: left; text-transform: uppercase; font-size: 14px; }
#dossiers .dossiers-list .mandat.active .suivi { background-color: #28a3d2; }
#dossiers .dossiers-list .mandat.completed .suivi { background-color: #2ead2a; }
#dossiers .dossiers-list .mandat.cancelled .suivi { background-color: #E56060; }

/*#dossiers .dossiers-list .mandat.applique .apply-bar { display: none; }*/

#dossiers .dossiers-list .mandat #edit-form .suivi { background-color: transparent; position: relative; width: 100%; left: auto; top: auto; height: 100%; text-align: left; clear: both; }
#dossiers .dossiers-list .mandat #edit-form { background-color: #EEE; padding: 10px; margin-top: 20px; width: 103%; }
#dossiers form input#deadline { display: block; }
#dossiers form .cancel-link { cursor: pointer; }

#dossiers .dossiers-list .mandat .add-comment-form { display: none; padding: 10px; text-align: right; }
#dossiers .dossiers-list .mandat .apply-form { display: none; padding: 10px; text-align: right; }

#dossiers .dossiers-list .mandat .apply-form input.submit { background-color: #28a3d2; }

#dossiers .dossiers-list .mandat .comments-list { display: none; }
#dossiers .dossiers-list .mandat.active .comments-list { display: block; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment { position: relative; padding: 10px 30px; border-top: solid 1px #EEE; background-color: #EEE; margin: 10px 10px 0px 30px; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment.deletable .tools a { font-size: 18px; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment .tools .delete-comment { display: none; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment.deletable .tools .delete-comment { display: inline; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment p.by { font-size: 12px; font-style: italic; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment.enfant { margin-left: 60px; background-color: #FFF; border: solid 1px #EEE; }
#dossiers .dossiers-list .mandat .comments-list .comments .comment.enfant .tools a.reply { display: none; }


#dossiers .dossiers-list .applications { display: none; position: absolute; width: 50%; background-color: #FFF; padding: 20px; height: 320px; z-index: 100; box-shadow: 2px 2px 10px #000; border-radius: 0px !important; left: 25%; margin-left: 0px; margin-top: 5px; min-width: 320px; overflow: hidden; padding-top: 40px; }
#dossiers .dossiers-list .applications .scroll { overflow-y: scroll; width: 100%; height: 100%; }

#dossiers .dossiers-list .applications .close { opacity: 0.5; position: absolute; top: 20px; z-index: 1000; right: 20px; }

#dossiers .dossiers-list .mandat .applications .application { position: relative; padding: 10px 30px; border-top: solid 1px #EEE; background-color: #EEE; margin: 10px 10px 0px 30px; }
#dossiers .dossiers-list .mandat .applications .application p.by { font-size: 12px; font-style: italic; }



#dossiers .dossiers-list .mandat div.etude { font-size: 10px; font-style: italic; }
#dossiers .dossiers-list .mandat h2 { color: #444; text-decoration: none; font-weight: bold !important; margin-top: 10px; }
#dossiers .dossiers-list .mandat p.ville,
#dossiers .dossiers-list .mandat p.deadline,
#dossiers .dossiers-list .mandat p.budget { margin-bottom: 0px; }

#dossiers .dossiers-list .mandat .tools { position: absolute; top: 15px; right: 15px; font-size: 20px; display: none; z-index: 100; }
#dossiers .dossiers-list .mandat .tools a { padding: 5px; cursor: pointer; }
#dossiers .dossiers-list .mandat.user_can_edit .tools { display: block; }

#dossiers .dossiers-list .mandat .comments-list { width: 100%; padding: 10px 20px 10px 0px; margin: 20px 0px 0px 0px; border-top: dotted 2px #EEE; }
#dossiers .dossiers-list .mandat a.comment { display: block; text-align: center;cursor: pointer; font-size: 16px; }
#dossiers .dossiers-list .mandat a.comment:hover { text-decoration: none !important; }
#dossiers .dossiers-list .mandat a.comment span {  font-size: 24px;  }
#dossiers .dossiers-list .mandat .edit-form { display: none; }

#dossiers .p_a label input { float: left; display: block; margin-right: 5px; width: 20px; }
#dossiers .p_a label span { display: block; margin-left: 5px; float: left; width: 300px; }
#dossiers .p_a label { color: #888; clear: both; }
#dossiers .p_a div div { padding-left: 20px; display: none; }
#dossiers .p_a div.open { padding-bottom: 15px; }
#dossiers .p_a div.open div { display: block; }
#dossiers .p_a div.open > label { background-color: #ddd; padding: 5px; }




