<table border="0" cellpadding="5" width="100%">
	<tr>
		<td width="150px">
			<a id="notairesAssocies"></a>
			<strong class="<?php echo $class['notairesAssocies'] ?>">Notaires associ&eacute;(e)s et/ou actionnaires&nbsp;:</strong>
		</td>
		<td>
			<u>Notaires associ&eacute;(e)s ou actionnaires d'une soci&eacute;t&eacute;.</u> Si le nombre fluctue pendant l'ann&eacute;e,
			inscrire le nombre d'associ&eacute;s au 31 d&eacute;cembre + une proportion pour les associ&eacute;s qui se sont ajout&eacute;s
			ou qui ont quitt&eacute; au cours de l'ann&eacute;e (en proportion des mois). Exemple&nbsp;: si une &eacute;tude compte 5 associ&eacute;s
			au 31 d&eacute;cembre et que l'un des associ&eacute;s s'est joint &agrave; l'&eacute;tude en septembre&nbsp;: le nombre d'associ&eacute;s
			sera de 4,3 notaires. &Agrave; l'inverse, si l'&eacute;tude compte 4 associ&eacute;s au 31 d&eacute;cembre et qu'un associ&eacute; a
			quitt&eacute; la soci&eacute;t&eacute; en septembre de l'ann&eacute;e concern&eacute;e, le nombre d'associ&eacute;s sera de 4,8 notaires.
			Toujours arrondir &agrave; une d&eacute;cimale.
		</td>
	</tr>
	<tr>
		<td>
			<a id="notairesSalaries"></a>
			<strong class="<?php echo $class['notairesSalaries'] ?>">Notaires salari&eacute;(e)s qui pratiquent&nbsp;:</strong>
		</td>
		<td>
			Tous les <u>notaires de la soci&eacute;t&eacute; qui ne sont pas des notaires associ&eacute;(e)s ou actionnaires, mais qui pratiquent.</u> Les notaires collaborateur(trice)s sont exclu(e)s de cette cat&eacute;gorie. Si le nombre fluctue pendant l'ann&eacute;e, inscrire le nombre de salari&eacute;s au 31 d&eacute;cembre + une proportion pour les notaires salari&eacute;s qui se sont ajout&eacute;s ou qui ont quitt&eacute; au cours de l'ann&eacute;e (en proportion des mois). Pour exemple de calcul, voir la d&eacute;finition de notaires associ&eacute;(e)s. 
		</td>
	</tr>
	<tr>
		<td>
			<a id="employesNonNotaires"></a>
			<strong class="<?php echo $class['employesNonNotaires'] ?>">Collaborateurs(trices)&nbsp;:</strong>
		</td>
		<td>
			Le nombre total des <u>ressources non notaires associ&eacute;(e)s, actionnaires ou salari&eacute;(e)s</u> de la soci&eacute;t&eacute;, <strong>affect&eacute;es &agrave; quelques t&acirc;ches que ce soit</strong> (production de dossiers, r&eacute;ception, copies, administration, recherches, stagiaire en notariat ou autre, etc.). Cette cat&eacute;gorie inclut les notaires collaborateur(trice)s, c'est-&agrave;-dire, les notaires qui ne pratiquent pas. Si le nombre fluctue pendant l'ann&eacute;e, inscrire le nombre de collaborateurs(trices) au 31 d&eacute;cembre + une proportion pour les ressources qui se sont ajout&eacute;es ou qui ont quitt&eacute; au cours de l'ann&eacute;e (en proportion des mois). Pour exemple de calcul, voir la d&eacute;finition de notaires associ&eacute;(e)s.
		</td>
	</tr>
	<tr>
		<td>
			<a id="stagiairesEnNotariat"></a>
			<strong class="<?php echo $class['stagiairesEnNotariat'] ?>">Stagiaires en notariat&nbsp;:</strong>
		</td>
		<td>
			Le nombre de stagiaires en notariat au cours de la p&eacute;riode, qui est inclus dans le nombre de collaborateur(trice)s sera dor&eacute;navant
			mentionn&eacute; dans les donn&eacute;es g&eacute;n&eacute;rales.
		</td>
	</tr>
</table>
