<table border="0" cellpadding="5" width="100%">
	<tr>
		<td width="250px">
			<a id="facturation"></a>
			<strong class="<?php echo $class['facturation'] ?>">Facturation (F)&nbsp;:</strong>
		</td>
		<td>
			Facturation totale incluant les honoraires, les d&eacute;bours factur&eacute;s et les taxes.
		</td>
	</tr>
	<tr>
		<td>
			<a id="chiffreAffaires"></a>
			<strong class="<?php echo $class['chiffreAffaires'] ?>">Chiffre d'affaires (CA)&nbsp;:</strong>
		</td>
		<td>
			Facturation totale sans les taxes incluant les honoraires et les d&eacute;bours factur&eacute;s.
		</td>
	</tr>
	<tr>
		<td>
			<a id="honoraires"></a>
			<strong class="<?php echo $class['honoraires'] ?>">Honoraires (H)&nbsp;:</strong>
		</td>
		<td>
			Honoraires factur&eacute;s aux clients.
		</td>
	</tr>
	<tr>
		<td>
			<a id="deboursRefactures"></a>
			<strong class="<?php echo $class['deboursRefactures'] ?>">D&eacute;bours &laquo;&nbsp;refactur&eacute;s&nbsp;&raquo; (DR)&nbsp;:</strong>
		</td>
		<td>
			D&eacute;bours factur&eacute;s aux clients (poste revenu).
		</td>
	</tr>
	<tr>
		<td>
			<a id="beneficesNets"></a>
			<strong class="<?php echo $class['beneficesNets'] ?>">B&eacute;n&eacute;fices nets (BN)&nbsp;:</strong>
		</td>
		<td>
			Chiffre d'affaires moins les d&eacute;penses - voir les r&eacute;sultats aux &eacute;tats financiers.
		</td>
	</tr>
	<tr>
		<td>
			<a id="prelevements"></a>
			<strong class="<?php echo $class['prelevements'] ?>">Pr&eacute;l&egrave;vements (P)&nbsp;:</strong>
		</td>
		<td>
			Pr&eacute;l&egrave;vement - 72 500$ / associ&eacute; - salaire moyen de l'associ&eacute;.
		</td>
	</tr>
	<tr>
		<td>
			<a id="salaires"></a>
			<strong class="<?php echo $class['salaires'] ?>">Salaires (S)&nbsp;:</strong>
		</td>
		<td>
			Salaires totaux de l'&eacute;tude incluant les charges sociales et avantages.
		</td>
	</tr>
	<tr>
		<td>
			<a id="salairesCollaborateurs"></a>
			<strong class="<?php echo $class['salairesCollaborateurs'] ?>">Salaires - collaborateurs (trices) (SC)&nbsp;:</strong>
		</td>
		<td>
			Salaires, charges sociales et avantages des collaborateurs (trices) (excluant notaires salari&eacute; (e) s).
		</td>
	</tr>
	<tr>
		<td>
			<a id="salairesNotaires"></a>
			<strong class="<?php echo $class['salairesNotaires'] ?>">Salaires - notaires (SN)&nbsp;:</strong>
		</td>
		<td>
			Salaires, charges sociales et avantages des notaires salari&eacute;s.
		</td>
	</tr>
	<tr>
		<td>
			<a id="loyer"></a>
			<strong class="<?php echo $class['loyer'] ?>">Loyer&nbsp;:</strong>
		</td>
		<td>
			<strong>Si locataire&nbsp;:</strong> le loyer vers&eacute; au propri&eacute;taire + tous les frais aff&eacute;rents pay&eacute;s directement.<br />
			<strong>Si propri&eacute;taire&nbsp;:</strong> frais d'int&eacute;r&ecirc;ts + tous les frais aff&eacute;rents &agrave; l'immeubles.
		</td>
	</tr>
	<tr>
		<td>
			<a id="tempsProductif"></a>
			<strong class="<?php echo $class['tempsProductif'] ?>">Temps productif (facturable)&nbsp;:</strong>
		</td>
		<td>
			Temps consacr&eacute; &agrave; la r&eacute;alisation d'un mandat (dossier) pour lequel une facture sera ou devrait &ecirc;tre produite.
		</td>
	</tr>
	<tr>
		<td>
			<a id="tempsNonProductif"></a>
			<strong class="<?php echo $class['tempsNonProductif'] ?>">Temps non productif (non-facturable)&nbsp;:</strong>
		</td>
		<td>
			Temps consacr&eacute; aux r&eacute;unions, &agrave; la formation, &agrave; la gestion et &agrave; l'administration g&eacute;n&eacute;rale de
			 l'&eacute;tude, aux relations publiques et &agrave; la promotion, aux conversations t&eacute;l&eacute;phoniques non 
			 productives (non facturable) (c'est &agrave; dire non reli&eacute;es &agrave; un mandat pr&eacute;cis), aux 
			 t&acirc;ches reli&eacute;es &agrave; la r&eacute;ception. Enfin, sans limiter la g&eacute;n&eacute;ralit&eacute; de ce qui pr&eacute;c&egrave;de, 
			 tout le temps qui ne peut &ecirc;tre consid&eacute;r&eacute; comme productif &laquo;&nbsp;facturable&nbsp;&raquo;.
		</td>
	</tr>
</table>
