<table border="0" cellpadding="5" width="100%">
    <tr>
        <td width="250px">
            <a id="facturation"></a>
            <strong class="<?php echo $class['facturation'] ?>">Facturation (F)&nbsp;:</strong>
        </td>
        <td>
            Facturation totale incluant les honoraires, les d&eacute;bours factur&eacute;s et les taxes.
        </td>
    </tr>
    <tr>
        <td>
            <a id="chiffreAffaires"></a>
            <strong class="<?php echo $class['chiffreAffaires'] ?>">Chiffre d'affaires (CA)&nbsp;:</strong>
        </td>
        <td>
            Revenus totaux inscrits aux &eacute;tats financiers, sans les taxes, incluant les honoraires, les d&eacute;bours factur&eacute;s et les autres revenus (Ex. : int&eacute;r&ecirc;ts sur comptes en souffrance, etc.).
        </td>
    </tr>
    <tr>
        <td>
            <a id="honoraires"></a>
            <strong class="<?php echo $class['honoraires'] ?>">Honoraires (H)&nbsp;:</strong>
        </td>
        <td>
            Honoraires factur&eacute;s aux clients.
        </td>
    </tr>
    <tr>
        <td>
            <a id="deboursRefactures"></a>
            <strong class="<?php echo $class['deboursRefactures'] ?>">D&eacute;bours &laquo;&nbsp;refactur&eacute;s&nbsp;&raquo; (DR)&nbsp;:</strong>
        </td>
        <td>
            D&eacute;bours factur&eacute;s aux clients (poste revenu).
        </td>
    </tr>
    <tr>
        <td>
            <a id="beneficesNets"></a>
            <strong class="<?php echo $class['beneficesNets'] ?>">B&eacute;n&eacute;fices nets (BN)&nbsp;:</strong>
        </td>
        <td>
            Chiffre d'affaires moins les d&eacute;penses totales + les salaires, charges sociales et avantages vers&eacute;s aux ou pour les actionnaires. (voir les r&eacute;sultats aux &eacute;tats financiers).
        </td>
    </tr>
    <tr>
        <td>
            <a id="prelevements"></a>
            <strong class="<?php echo $class['prelevements'] ?>">Pr&eacute;l&egrave;vements (P)&nbsp;:</strong>
        </td>
        <td>
            Revenus moyens d'un associ&eacute;(e) et/ou actionnaire = 119 810 $/ann&eacute;e - selon la derni&egrave;re enqu&ecirc;te sur la profession de la CNQ.
        </td>
    </tr>
    <tr>
        <td>
            <a id="salaires"></a>
            <strong class="<?php echo $class['salaires'] ?>">Salaires (S)&nbsp;:</strong>
        </td>
        <td>
            Salaires totaux de l'&eacute;tude incluant les charges sociales et avantages, mais excluant les salaires vers&eacute;s aux notaires associ&eacute;(e)s et/ou actionnaires.
        </td>
    </tr>
    <tr>
        <td>
            <a id="salairesCollaborateurs"></a>
            <strong class="<?php echo $class['salairesCollaborateurs'] ?>">Salaires - collaborateurs (trices) (SC)&nbsp;:</strong>
        </td>
        <td>
            Salaires, charges sociales et avantages des collaborateurs (trices) (excluant notaires salari&eacute;(e)s qui pratiquent).
        </td>
    </tr>
    <tr>
        <td>
            <a id="salairesNotaires"></a>
            <strong class="<?php echo $class['salairesNotaires'] ?>">Salaires - notaires (SN)&nbsp;:</strong>
        </td>
        <td>
            Salaires, charges sociales et avantages des notaires salari&eacute;s qui pratiquent.
        </td>
    </tr>
    <tr>
        <td>
            <a id="loyer"></a>
            <strong class="<?php echo $class['loyer'] ?>">Loyer&nbsp;:</strong>
        </td>
        <td>
            <strong>Si locataire&nbsp;:</strong> le loyer vers&eacute; au propri&eacute;taire + tous les frais aff&eacute;rents pay&eacute;s directement.<br />
            <strong>Si propri&eacute;taire&nbsp;:</strong> frais d'int&eacute;r&ecirc;ts + tous les frais aff&eacute;rents &agrave; l'immeuble.
        </td>
    </tr>
    <tr>
        <td>
            <a id="tempsProductif"></a>
            <strong class="<?php echo $class['tempsProductif'] ?>">Temps productif (facturable)&nbsp;:</strong>
        </td>
        <td>
            Temps consacr&eacute; &agrave; la r&eacute;alisation d'un mandat (dossier) pour lequel une facture sera ou devrait &ecirc;tre produite.
        </td>
    </tr>
    <tr>
        <td>
            <a id="tempsNonProductif"></a>
            <strong class="<?php echo $class['tempsNonProductif'] ?>">Temps non productif (non facturable)&nbsp;:</strong>
        </td>
        <td>
            Temps consacr&eacute; aux r&eacute;unions, &agrave; la formation, &agrave; la gestion et &agrave; l'administration g&eacute;n&eacute;rale de
            l'&eacute;tude, aux relations publiques et &agrave; la promotion, aux conversations t&eacute;l&eacute;phoniques non
            productives (non facturables) (c'est-&agrave;-dire non reli&eacute;es &agrave; un mandat pr&eacute;cis), aux
            t&acirc;ches reli&eacute;es &agrave; la r&eacute;ception. Enfin, sans limiter la g&eacute;n&eacute;ralit&eacute; de ce qui pr&eacute;c&egrave;de,
            tout le temps qui ne peut &ecirc;tre consid&eacute;r&eacute; comme productif &laquo;&nbsp;facturable&nbsp;&raquo;.
        </td>
    </tr>
    <tr>
        <td>
            <a id="seuilRentabilite"></a>
            <strong class="<?php echo $class['seuilRentabilite'] ?>">Seuil de rentabilit&eacute;&nbsp;:</strong>
        </td>
        <td>
            Le seuil de rentabilit&eacute; est le montant du chiffre d'affaires &agrave; r&eacute;aliser au cours d'un exercice financier pour atteindre un &eacute;quilibre, c'est-&agrave;-dire un r&eacute;sultat &eacute;gal &agrave; z&eacute;ro (le total des d&eacute;penses = le total du chiffre d'affaires (honoraires + d&eacute;bours refactur&eacute;s aux clients). Quand le seuil de rentabilit&eacute; est d&eacute;pass&eacute; l'entreprise notariale r&eacute;alise des b&eacute;n&eacute;fices et quand le seuil de rentabilit&eacute; n'est pas atteint, elle r&eacute;alise une perte.
        </td>
    </tr>
    <tr>
        <td>
        <a id="pointMort"></a>
            <strong class="<?php echo $class['pointMort'] ?>">Point mort&nbsp;:</strong>
        </td>
        <td>
            Le seuil de rentabilit&eacute; peut se d&eacute;cliner en nombre de jours - cette d&eacute;clinaison est appel&eacute; alors le point mort.
        </td>
    </tr>
</table>
