@charset "UTF-8";

@font-face {
  font-family: "pmeinter";
  src:url("../font/pmeinter.eot");
  src:url("../font/pmeinter.eot?#iefix") format("embedded-opentype"),
    url("../font/pmeinter.woff") format("woff"),
    url("../font/pmeinter.ttf") format("truetype"),
    url("../font/pmeinter.svg#pmeinter") format("svg");
  font-weight: normal;
  font-style: normal;

}

/* gère le layout des directions de travail */
@import "directions/directions";

/* gère les couleurs des directions de travail  */
@import "directions/colors";
@import "directions/orange";
@import "directions/red";
@import "directions/blue-dark";
@import "directions/green";
@import "directions/blue";
@import "directions/corail";
@import "directions/grey";





/* -------------------------------------------------------------------------- */
                   /** ∆∆      GÉNÉRAL      ∆∆ **/                                                   
/* -------------------------------------------------------------------------- */

#wpadminbar {
  display: none;
}

html {
  margin-top: 0 !important;
}

.site-title {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 30px;
  margin: 10px 0 30px 0;
}

.listing li {
  float: left;
  margin-right: 30px;
  width: 150px;
}

.listing img {
    filter: url(../filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    max-width: 100%;
}

.listing a:hover img {
    filter: none;
    -webkit-filter: grayscale(0);
}
.blog-page .blog-tag-data li i {
    color: #000;
}

.panel-group {
  margin-bottom: 0;
}

.panel {
  border-width: 0;

  .panel-heading {
    border: 1px solid #ddd !important;
  } 
}

.panel .panel {
  border-width: 1px;

  .panel-heading {
    border-width: 0 !important;
    border-bottom: 0 solid #ddd !important;
  } 

  .panel-body {
    border-top: 1px solid #ddd !important;
  }

}   

.panel-body {
  padding: 5px 0 0 15px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 solid #ddd;
}

.panel-group .panel + .panel {
    margin-top: 10px;
}
.panel-body .panel-group .panel + .panel {
    margin-top: 5px;
}

/* -------------------------------------------------------------------------- */
                   /** ∆∆      MENU      ∆∆ **/                                                   
/* -------------------------------------------------------------------------- */

.header .navbar-nav li.dropdown.user .dropdown-toggle i.fa {
  color: #FFF !important;
  font-size: 25px;
  vertical-align: middle;
}

.page-sidebar-menu {
  .accueil i.fa:before {
    content: "\f015";
  }

  .nouvelles i.fa:before {
    content: "\f0ac";
  }

  .calendrier i.fa:before {
    content: "\f073";
  }

  .appel i.fa:before {
    content: "\f0a1";
  }

  .directions i.fa:before {
    content: "\f07b";
  }

  .collaboratrices i.fa:before {
    content: "\f0ac";
  }

  .img-reseau i.fa:before {
    content: "\f03e";
  }

  .publications i.fa:before {
    content: "\f15c";
  }

  .bd i.fa:before {
    content: "\f080";
  }

  .fournisseurs i.fa:before {
    content: "\f0d1";
  }
}


/* -------------------------------------------------------------------------- */
                   /** ∆∆      METEO      ∆∆ **/                                                   
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'weather';
  src: url('../font/artill_clean_icons-webfont.eot');
  src: url('../font/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/artill_clean_icons-webfont.woff') format('woff'),
       url('../font/artill_clean_icons-webfont.ttf') format('truetype'),
       url('../font/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.locales {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #0087CE;

  #date {
    padding-right: 80px;
    text-align: right;
  }

  #weather {
    i {
      font-family: weather;
      font-weight: normal;
      font-style: normal;
      line-height: 1.0;
    }

    a {
      color: #0087CE;
      cursor: pointer;
    }

    .js-geolocation {
      font-size: 12px;
      margin-right: 20px;
    }

    .city {
      font-size: 22px;

      &:hover {
        color: #000;
        text-decoration: none;
      }

      i {
        display: inline-block;
        text-align: right;
        width: 80px;
        line-height: 20px;
        font-size: 80px;
      }
    }

    .icon-0:before { content: ":"; }
    .icon-1:before { content: "p"; }
    .icon-2:before { content: "S"; }
    .icon-3:before { content: "Q"; }
    .icon-4:before { content: "S"; }
    .icon-5:before { content: "W"; }
    .icon-6:before { content: "W"; }
    .icon-7:before { content: "W"; }
    .icon-8:before { content: "W"; }
    .icon-9:before { content: "I"; }
    .icon-10:before { content: "W"; }
    .icon-11:before { content: "I"; }
    .icon-12:before { content: "I"; }
    .icon-13:before { content: "I"; }
    .icon-14:before { content: "I"; }
    .icon-15:before { content: "W"; }
    .icon-16:before { content: "I"; }
    .icon-17:before { content: "W"; }
    .icon-18:before { content: "U"; }
    .icon-19:before { content: "Z"; }
    .icon-20:before { content: "Z"; }
    .icon-21:before { content: "Z"; }
    .icon-22:before { content: "Z"; }
    .icon-23:before { content: "Z"; }
    .icon-24:before { content: "E"; }
    .icon-25:before { content: "E"; }
    .icon-26:before { content: "3"; }
    .icon-27:before { content: "a"; }
    .icon-28:before { content: "A"; }
    .icon-29:before { content: "a"; }
    .icon-30:before { content: "A"; }
    .icon-31:before { content: "6"; }
    .icon-32:before { content: "1"; }
    .icon-33:before { content: "6"; }
    .icon-34:before { content: "1"; }
    .icon-35:before { content: "W"; }
    .icon-36:before { content: "1"; }
    .icon-37:before { content: "S"; }
    .icon-38:before { content: "S"; }
    .icon-39:before { content: "S"; }
    .icon-40:before { content: "M"; }
    .icon-41:before { content: "W"; }
    .icon-42:before { content: "I"; }
    .icon-43:before { content: "W"; }
    .icon-44:before { content: "a"; }
    .icon-45:before { content: "S"; }
    .icon-46:before { content: "U"; }
    .icon-47:before { content: "S"; }

    .forecast {
      color: #FFFFFF;
      background-color: #2980B9;
      display: none;
      position: absolute;
      right: 18px;
      top: 80px;
      width: 400px;
      z-index: 999;
    }

    .current {
      height: 155px;
      position: relative;
      
      i {
        font-size: 150px;
        line-height: 180px;
        text-align: center;
        width: 45%;
        @include inline-block();
      }

      .temp {
        font-size: 82px;
        text-align: center;
        width: 55%;
        @include inline-block();
      }

      .range {
          font-size: 16px;
          margin-left: -10px;
      }
    }

    .item {
        background-color: #4DB3DD;
        margin-bottom: 0;
        border-right: 1px solid #2980B9;
        display: inline-block;
        float: left;
        font-size: 14px;
        height: 105px;
        padding: 10px 10px 0;
        text-align: center;
        width: 20%;
        @include box-sizing(border-box);
        
        &:last-child {
          border: none;
        }

        .temp {
            font-size: 18px;
        }
        
        i {
          font-size: 70px;
          line-height: 0.7em;
        }

        .day {
            color: #FFFFFF;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }
  }  
}

/* -------------------------------------------------------------------------- */
                   /** ∆∆      MIRA      ∆∆ **/                                                   
/* -------------------------------------------------------------------------- */

/*style general*/
body {
    background-color: #e0e4e6 !important;
}
.page-container {
    background: #c1cacd;
     margin: 42px auto 0;
     max-width: 1300px;
}

p {
  font-size: 14px;
}

a:hover{
    text-decoration: underline !important;
}
.page-numbers.current{
  border:none;
  font-weight: bold
}
.page-numbers {
    border: 1px solid #a9a9a9;
    color: #666;
    display: inline-block;
    height: 20px;
    margin-right: 3px;
    margin-top: 5px;
    text-align: center;
    width: 14px;
    text-decoration: none;

}

.page-numbers:hover{
  text-decoration: none;
  font-weight: bold;
}
.next.page-numbers, .prev.page-numbers{
  width:60px;
  border:none
}
.next.page-numbers:hover, .prev.page-numbers:hover, .page-numbers:hover{
  color: #666
}
/*style general*/
  /*style meteo*/
  .locales #weather a{
    color: #000;
  }
  .locales #weather .city:hover, .locales #weather .city i:hover{
    color: $blue;
  }
  .locales #weather .js-geolocation{
    display: none;
  }
  .locales #weather .item{
    min-height: 127px;
  }
  .locales #weather .forecast, .locales #weather .forecast i, .locales #weather .forecast span, .locales #weather .forecast .temp{
    color: #fff!important
  } 
  .locales #weather .current{
    background:#1589cc;
  }
  .locales #weather .item{
    background:#20bae6;
  }
  .locales{
    z-index: 100;
  }

  /*style sidebar menu nav*/
  .page-sidebar-menu .collabo, .page-sidebar-menu .collabo:hover{
      background: url("/wp-content/themes/pme/assets/img/pme/lunettes-icone.png") no-repeat scroll 8px center transparent !important;
      margin-right: 0;     
  }
  .page-sidebar-menu .collabo a{
    padding-left: 30px;
  }
  .page-sidebar-menu .collabo:hover a {
    background: url("/wp-content/themes/pme/assets/img/pme/lunettes-icone.png") no-repeat scroll 8px center #A2AFB3 !important;
  }

  .page-sidebar-menu > li > ul.sub-menu > li > a {
      color: #647980 !important;
      font-size: 14px;
      padding-left: 46px !important;
      padding-right: 10px !important;
  }
/*style page Accueil*/
 .accueil .note-info{
    background-color: $red-light-extra;
}

.portlet.box.yellow{
  background:none!important

}
.accueil .note-info{
  margin-bottom: 0;

}

.accueil .lienHome{
  color: #fff;
}
.accueil .lienHome:hover{ 
  font-weight: 600;
}
  /*bloc publications*/
  .accueil .portlet .image, .accueil .portlet  .txt{
    display: inline-block;
  }
  .accueil .portlet .txt{
    padding-left: 30px;
  }
  .accueil .portlet .txt a {
      color: #000000;
      font-size: 25px;
      font-weight: 400;
  }

  .accueil .portlet .image{
    padding: 20px;
    
  }
    .accueil .portlet .image img{
      height: 130px;
      width: 80px;
    }
  .accueil .publication{
    margin-bottom: 0;
  }

  .accueil .encart{
    
    height: 90px;
    text-align: center;
  }


  /*bloc collaboratrices + outils marketing*/
  .encart .collaboratrices, .encart .outils{
    
    text-align: center;
  }
  .encart a {
      color: #fff;
      display: block;
      font-size: 27px;
      font-weight: 400 !important;
      padding-top: 23px;
      text-align: center;
  }

  .accueil .encart .portlet.box.red, .accueil .encart .portlet.box.green{
    border:none;
  }
  
  .accueil .fa-file-text:before{
    font-size: 15px;

  }

    /*bloc collaboratrices*/
    .encart.collabo{
      background-color: #FF5859 !important;
      background:url("/wp-content/themes/pme/assets/img/pme/glasses.png");
      background-repeat: no-repeat;
      background-position: left center;
      margin-bottom: 25px;
    } 
    
    /*bloc outils marketing*/
    .encart.outils{
      background-color: #00bcb8 !important;
      background:url("/wp-content/themes/pme/assets/img/pme/target.png");
      background-repeat: no-repeat;
      background-position: left center;
    }   

  /*bloc nouvelles*/
  .accueil .nouvelles .note-info{
    margin-bottom: 10px;
    background: $green-light-extra;
  }
  .accueil .nouvelles .note-info:last-child{
    margin-bottom: 0
  }
  .accueil .portlet .image{
    padding:0;
  }
  .accueil .publication{
    padding: 10px
  }



  /*bloc direction de travail*/
  .menuNavGeneral > li.active a:hover{
    color: #fff!important
  };
  .accueil .caption .fa-folder {
    color: #fff !important;
  }
  .accueil .directionTravail span {
      color: #fff;
      font-size: 20px;     
      padding-top: 20px;
      text-align: right;
      text-decoration: none;
  }
  .accueil .directionTravail .tuiles {
      background-position: 26px bottom !important;
      background-repeat: no-repeat !important;
      float: left;
      height: 165px;
     /* margin: 15px;*/
      text-align: right;
      width: 230px;
      margin-top: 20px;
      padding-right: 15px
  }
  .accueil .directionTravail .personne, .accueil .directionTravail .affaires, .accueil .directionTravail .agricole{
    margin-right: 40px;
  } 

  .accueil .directionTravail .personne{
    background:url("/wp-content/themes/pme/assets/img/pme/droit-personne.png");
    background-color: $blue;
    
  
  }
  .accueil .directionTravail .immobilier{
    background:url("/wp-content/themes/pme/assets/img/pme/droit-immobiler.png");
    background-color: $orange
    
  }

  .accueil .directionTravail .affaires{
      background:url("/wp-content/themes/pme/assets/img/pme/droit-affaires.png");
      background-color: $green
      
  }

  .accueil .directionTravail .gestion{
      background:url("/wp-content/themes/pme/assets/img/pme/comite.png");
      background-color: $blue-ext-blue-dark-regular-ark;
      
  }

  .accueil .directionTravail .agricole{
      background:url("/wp-content/themes/pme/assets/img/pme/droit-agricole.png");
      background-color: $red
      
  }
  .accueil .directionTravail .devAffaires{
      background:url("/wp-content/themes/pme/assets/img/pme/dev-affaires.png");
      background-color:$grey;
      
  }
  /*tuiles hover*/
  .HoverTuiles{
    display: none;
  }
  .accueil .tuiles:hover span{
    display: none;

  }
  .accueil .tuiles:hover .HoverTuiles{
    display: block;    
  }
    .HoverTuiles{
      text-align:left;
      padding:10px;  
    }    
      .HoverTuiles h2 {
        font-size: 15px;
        margin: 0 0 10px;
        width: 130px;
        height: 30px;
      }
      .HoverTuiles ul{
       padding-left: 15px;
      }
      .HoverTuiles li{
       padding-bottom: 2px;
      }





  /*menu navigation gauche*/
  .page-sidebar-menu > li > ul.sub-menu > li.current-menu-item > a{
    color: #fff !important
  }

  .portlet.box.blue-dark.directiontrav{
    background: #fff !important;
    border:none;
    overflow: hidden;
  }

  /*bloc template direction de travail*/
    /*encart produits info + doc récents*/

    .middle, .last{
      text-align: center; 
    } 

    .encadres{
      padding-bottom: 3px !important;
    }

    table.encart-docs{
      border:1px solid #e7e7e7;   
      margin-top: 5px;
      margin-bottom: 0!important
    }

    .encart-docs tr.contenu:hover{
      background: #f5f5f5
    }

    .encart-docs tr:hover td{
      border-top:none;
    }


    .lienTout {
      display: block;
      font-weight: 600;
      margin-top:3px;
      padding-left: 20px;
    }

    .encart-docs td.first{
      width:250px;
      padding-left: 20px
    }
    .encart-docs th.first{
      padding-left: 20px;
    }

  /*bloc liste des membres*/
  .listeDesMembres .portlet-body{
    margin-top:20px
  }
  .listeDesMembres .envelop, .listeDesMembres .linkedin, .documents .file-icon{
    width: 50px;
  }
  .listeDesMembres .envelop a, .listeDesMembres .linkedin a, .documents .file-icon i{
    color: #a9a9a9
  }
  /*bloc comptes rendus*/
  .ListeMembres{
    margin-left: 17px;
  }
  .comptesRendus a.compte_rendu, .ListeMembres a.liste_membre{
    /*line-height: 45px;*/
  }

  .comptesRendusSection .tab-content{
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-top: 35px;
  }
  .comptesRendus span, .ListeMembres span {
    display: block;
    font-size: 30px;
    line-height: normal;
    margin: 20px auto auto;
    text-align: left;
    width: 55%;
  }
  .comptesRendusSection .tab-content .col-md-3{
    padding:0;
  }

  .comptesRendusSection h1{
    border-top: 1px solid #a8a8a8;
    font-size: 35px;
    margin-bottom: 10px;
    padding-top: 19px;
    text-transform: uppercase;
  }
  .comptesRendusSection .panel-body ul{
    list-style-type: none;
    padding-left:0;
  }
  .comptesRendusSection .btnPrint{
    background: none;
    border: none;
    font-size: 15px;
    padding-left: 5px;
    margin-bottom: 10px
    }

  .comptesRendusSection .btnPrint{
    background: transparent;
  }
  /*bloc produits informatiques generalités*/
  .produitsInfoGral .col-md-8{
    padding-left: 0;
  }
  .produitsInfoGral input {
    display: block;
    font-size: 12px;
    text-indent: -5000px;
    background: transparent;
    border:none;
    font-family: "pmeinter";
    z-index: 100;   
    position: absolute;
    right: 60px;

  }  
  .produitsInfoGral .fleche:before{
    content:"\f061 ";
     font-family: "FontAwesome";
    font-size: 15px;
    text-align: center;
    z-index: 50;
    position: absolute;
     right: 60px;
  }
  .produitsInfoGral .middle, .produitsInfoGral .first{
    text-align: left;
    padding-left:15px
  }
  
 
  /*bloc onglet documents*/
  .documents .file-icon{
    text-align: center;
  }
  .documents .file-icon .fa.fa-file-text-o{
    color: #757575
  }
  .documents .col-md-8{
    padding-left:0
  }
  .documents .col-md-4, .produitsInfoGral .col-md-4{
    padding:0;
    text-align: right

  }


  
/*style publications*/


.publications .col-md-3{
  margin-bottom:30px;
}
/*menu collaboratrices*/
  /*onglet boite a outils*/
  .sousmenu-nav .nav-tabs li{
    background: #fff !important;
    border-bottom:1px solid #e7e7e7;
  }
  .sousmenu-nav .nav-tabs li a{
    color: #666 !important;
    text-align: left;   
  }
  .sousmenu-nav .nav-tabs li.active a{
    background: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #666;
    border-right:1px solid #666;
    border-top:1px solid #666;
  }
  .sousmenu-nav .nav-tabs li.active a, .sousmenu-nav .nav-tabs li:hover a{
    background: #fff !important;
    border-bottom: 1px solid #fff!important;
    border-left: 1px solid #e7e7e7!important;
    border-right:1px solid #e7e7e7!important;
    border-top:1px solid #e7e7e7!important;
    border-bottom:none!important;
    color: #000;
    font-weight: 600;
    text-decoration: none!important;
  }
  .sousmenu-nav .nav-tabs li.active, .sousmenu-nav .nav-tabs li:hover{
    border-bottom: none!important;
  }

  .soustab ul{
    padding-left: 0;
    list-style: none;
  }
  .soustab li{
    margin-bottom: 10px;    
  } 
  .soustab li i{
    padding-right: 70px;
  }
  .soustab li a{
    font-size: 14px;
  }
  .soustab .col-md-6 h4{
    font-weight: 400 !important;    
    margin-bottom: 30px;
  }
.publications img{
  width: 250px;
  height: auto;
}

.boiteOutils .soustab li a.fa:before{
  padding-right: 10px
}
/*page image du reseau*/
.images-tab{
  border:1px solid #dddddd;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}
.images-tab div {
    border-right: 1px solid #dddddd;
    min-height: 142px;
    padding: 15px;
    text-align: center;
}
.images-tab div:last-child{
  border-right: none;
}
.images-tab div p{
  margin-top: 15px;
}
.images-tab div a:hover{
  color: #000;

}

/*onglet produits info details + style accordeons general*/
.container-fluid{
    padding: 0
}
.accordion-group{
    border:1px solid #eaeaea;
    margin-bottom: 15px;
}
.accordion-body{
    padding:15px;
}

.accordion-heading{
    height: 45px;
    border-bottom: 1px solid #eaeaea;
    background:#f5f5f5;    
}
.accordion-heading a{
    font-weight: 200 !important;
    font-size: 20px;
    color: #000;
    padding:15px;
    font-family: "Open Sans",sans-serif;
    line-height: 42px;
}

/*menu appel à tous*/
.sidebar-search-wrapper{
  margin-top: 40px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 40px
}

.sidebar-search-wrapper input{
  border:none;
}

.sidebar-search-wrapper .fa-search{
  color: #666;
  font-size: 25px;
}
.sidebar-search-wrapper .fa-search:hover{
  color: #eaeaea;
}
/*menu fournisseurs*/

.fournisseurs ul{
  padding-left: 20px;
  list-style: none;
  overflow: hidden;
}

.fournisseurs .listing li{
  float: left;
    margin-right: 30px;
    min-height: 150px;
    text-align: left;
    width: 155px;
}
.col-md-2.stamp{
  text-align: right;
}
.col-md-2.stamp .btn-xs{
  color: #fff;
  background: $red;
}
.prod-details .accordion-group{
  border:none;
}
.prod-details .accordion-heading{
  background: #fff; 
  border:none;
}
.prod-details .accordion-heading a{
  font-weight: 700 !important;
  font-size: 15px;
}
.prod-details .col-md-10{
  padding: 0
}
.premiere{
  min-height: 1650px;
}



/*style calendrier events overide jquery ui*/

.fc-day-content{
  /*position: relative;*/
}

.ui-widget-header{
  background:#eeeeee !important;
  color: #000 !important;
}

.ui-dialog{
  max-width: 300px;
}

.ui-dialog-title {  
float: left;  
    font-size: 11px !important;
    text-align: center;
    width: 85%;
    padding: 3px;
    
    text-transform: uppercase;

}
.fc-border-separate .fc-day-header{
  text-transform: uppercase;
  color: #000;
  font-weight: 200!important;
}
.ui-dialog-titlebar-close{
  background: url("/wp-content/themes/pme/assets/img/pme/ferme.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
  float: right;
  width: 13%;
  height: 40px;
  border:none;  
}
.ui-dialog-titlebar-close:hover{
  background:url("/wp-content/themes/pme/assets/img/pme/ferme-hover.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
  overflow: hidden;
}
#eventContent{
  border: none!important;
  padding:11px 20px 0
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable{
  border:1px solid #647980;
  border-radius: 5px;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
  text-align: center;
  font-size: 14px;
}

.ui-widget{
  font-size: 12px !important;
  z-index: 100;
}
.ui-resizable-handle.ui-resizable-se{
  display: none!important;
}

.calendrier-general #external-events .legende span{
  vertical-align: middle;
}
.calendrier-general #external-events li{
   list-style-type: none;
   padding-bottom: 2px;
   padding-top:0;
}
/*forum onglet pages direction du travail*/
#bbpress-forums {
    background: none repeat scroll 0 0 #fff;
    min-height: 300px;
    padding-bottom: 44px;
}
#bbp-forum-0{
  margin: auto;
  width: 100%;
}
#bbp-forum-0 tr {
    border-bottom: 1px solid #eee;
    height: auto
}
#bbp-forum-0 tr td.last{
  text-align: left
}
#bbp-forum-0 tr td.last, #bbp-forum-0 .bbp-topic-freshness{
  text-align: left;
}
#bbp-forum-0 tr td{
  padding-top:5px;
  padding-bottom:5px;
}
#bbp-forum-0 tr:first-child{
  height: 40px;
  background: #eaeaea;
  border-bottom:1px solid #e0e0e0;
  padding:0
}
#bbp-forum-0 tr:first-child td{
   padding-top:0;
  padding-bottom:0
}

#bbp-forum-0 tr td:first-child{
  padding-left: 10px;

}
#bbp-forum-0 tr td:last-child{  
  padding-right: 10px;
}

#bbp-forum-0 .bbp-topic-reply-count {
    text-align: center;
    width: 30%;
}
#bbp-forum-0  .bbp-author-name{
  color:#647980;
  font-weight: bold;
}
#bbp-forum-0 .bbp-author-name{
  font-weight: normal;
  color: #000;
  padding-left:5px;
}
.bbp-topic-meta{
  margin:5px 0 0;
}
.portlet.box > .portlet-body{
  border-style: none;
}
.portlet.calendar .fc-event-title{
  font-size: 12px;
  text-transform: lowercase;
}
.portlet.box.green-meadow.calendar{
  border:1px solid #0088CF ;

}
.portlet.box.green-meadow.calendar .portlet-title{
  background: #0088CF
}

#calendar_secteur_calendar .fc-header-right span{
  margin-bottom: 0!important;
  vertical-align: middle !important;
 
}
/*style page blog page ensavoir + sur onglet nouvelles*/

.blog-page article{
  margin-bottom: 25px;
  border-bottom: 1px solid #647980
}

.blog-page article .comment-metadata{
  margin-top: 5px;
}

.blog-page #commentform p{
  margin-bottom: 20px
}
.blog-page article .reply{
  margin-top: 5px;
  margin-left: 10px
}

.blog-page #commentform label{
  width:20%;
}
.blog-page #commentform input, .blog-page #commentform textarea{
  border:1px solid #ddd;
  background: #F5F5F5
}
.blog-page .comment-form-comment label{
  vertical-align: top
}

.blog-page .comment-form-comment{
  margin-bottom: 20px;
}

.single-nouvelles .comment{
  width: 80%; 

}
.single-nouvelles .comment-author.vcard .url{
  font-size: 15px;  
}
.accordion-heading{
  background: #F5F5F5;
  border:1px solid #ddd
}
/*page nouvelle en savoir +*/

.single-nouvelles .comment{
  position: relative;
} 
.single-nouvelles .comment footer{
  overflow: hidden;
}
.single-nouvelles .comment .comment-author{
  float: left;
}
.single-nouvelles .comment .comment-metadata, .single-nouvelles .comment .reply{
  float: right;
}

.single-nouvelles .comment-content{
  text-align: center;
}
.single-nouvelles .post-comment{
  margin-top: 85px;
}




#tab_1_1_1 .portlet.box{
  background: #fff!important
}


/*calendar grand*/
.fc-button .fc-icon-wrap{
  top: 3px
}




/*icones font awesome*/


#post-51 .fa.fa-calendar:hover, #post-51 .fa.fa-comments:hover{
  color: #2a6496
}
.fa.fa-calendar {
  margin:3px 5px 0 0 !important;
}

.docBlc{
  margin:3px 5px 0 0 !important; 
}
.fc-button .ui-icon:before{
  vertical-align: middle;
}
.fc-button.fc-button-next, .fc-button.fc-button-prev{
  height:35px;
  width: 15px;
  padding-top: 2px!important
}

.fc-button.fc-button-prev .ui-icon:before{
  content: "\f053";
  font-family: FontAwesome; 
}
.fc-button.fc-button-next .ui-icon:before{
  content: "\f054";
  font-family: FontAwesome;
}


/*page appel à tous*/
.AppelTous .soustab{
  margin-top: 12px;
}
.AppelTous .col-md-8{
  padding-left:0;
}
.AppelTous .first{
  width:75%;
}
.AppelTous a:hover{
  color:#666!important;
}
.AppelTous .category-directions-de-travail{
  padding:0px
}
.AppelTous .page-numbers{
  margin-top: 15px;
}
.AppelTous #fep-submission-form label{
  padding-bottom:0!important;  
}
.AppelTous .fep-post-title{
  margin-top: 5px;
  margin-bottom: 5px;
}
.AppelTous .sousmenu-nav .nav-tabs li.active a{
  background:none!important;
}
.AppelTous .sousmenu-nav .nav-tabs li.active a:hover{
  background:#fff
}
.wp-editor-tabs a{
  line-height: 10px;
}
.AppelTous button#fep-submit-post {
  background: $green;
  border-color:$green-dark;
}
.AppelTous button#fep-submit-post:hover{
  background:$green-light;
  border-color:$green;
  color:$green-dark
}
.AppelTous .sousmenu-nav .nav-tabs li:hover{
  background:#fff
}

/*Appel à tous style general - single post*/
.single-appels_a_tous .breadcrumb {
  padding-bottom: 25px;
}
.single-appels_a_tous h4{
  margin:0;
  font-size: 14px;
  font-weight: 400 !important;
}
.single-appels_a_tous .blog-tag-data-inner .list-inline{
  margin-bottom: 0;
  margin-top: 4px;
}
.single-appels_a_tous .entry-meta {
    margin-top: 25px;
    padding-left:10px;
}
/*forums*/

#bbpress-forums a, #bbpress-forums {
    font-size: 13px;
  }



.nav-tabs > li.active{
  background-color: #A8A8A8
}



/*general footer*/
.footer .footer-inner{
  float: right;
}
.credits, .credits a{
  color: #fff;  
}

.footer .footer-tools{
  display: none;
}

/*ajout css icones fonts*/

[data-icon]:before {
  font-family: "pmeinter" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="logo-"]:before,
[class*=" logo-"]:before {
  font-family: "pmeinter" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-frame:before {
  content: "a";
}
.logo-lunettes:before {
  content: "b";
}
.logo-arr-right:before {
  content: "c";
}

