/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
*/

$large: max-width 1550px;
$ipad: max-width 980px;
$medium: max-width 860px;
$mobile: max-width 450px;

@import "compass";
@import "breakpoint"; 

//@import "themes/default";
@import "style-metronic";
@import "style";
@import "responsive";
@import "plugins";
@import "pages/tasks";
@import "pages/blog";

@import "colors";
@import "custom";

