/*custom style mira*/

/* gère le layout des directions de travail */
@import "directions.less";

/* gère les couleurs des directions de travail  */
@import "directions/orange.less";
@import "directions/red.less";
@import "directions/blue-dark.less";
@import "directions/green.less";
@import "directions/blue.less";
@import "directions/yellow-dark.less";
@import "directions/grey.less";


@Grey :#647981;
/*style general*/
body {
    background-color: #e0e4e6 !important;
}
.page-container {
    background: #c1cacd;
     margin: 42px auto 0;
     max-width: 1300px;
}
/*appel font weather*/
@font-face {
    font-family: 'weather';
    src: url('../font/artill_clean_icons-webfont.eot');
    src: url('../font/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/artill_clean_icons-webfont.woff') format('woff'),
         url('../font/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../font/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

p{
	font-size: 14px;
}

a:hover{
		text-decoration: underline !important;
}
/*style general*/
	/*style meteo*/
	.locales #weather a{
		color: #000;
	}
	.locales #weather .city:hover, .locales #weather .city i:hover{
		color: @blue;
	}
	.locales #weather .js-geolocation{
		display: none;
	}
	.locales #weather .item{
		min-height: 127px;
	}
	.locales #weather .forecast, .locales #weather .forecast i, .locales #weather .forecast span, .locales #weather .forecast .temp{
		color: #fff!important
	} 
	.locales #weather .current{
		background:#1589cc;
	}
	.locales #weather .item{
		background:#20bae6;
	}
	.locales{
		z-index: 100;
	}

	/*style sidebar menu nav*/
	.page-sidebar-menu .collabo, .page-sidebar-menu .collabo:hover{
	    background: url("/wp-content/themes/pme/assets/img/pme/lunettes-icone.png") no-repeat scroll 8px center transparent !important;
	    margin-right: 0;	   
	}
	.page-sidebar-menu .collabo a{
		padding-left: 30px;
	}
	.page-sidebar-menu .collabo:hover a {
		background: url("/wp-content/themes/pme/assets/img/pme/lunettes-icone.png") no-repeat scroll 8px center #A2AFB3 !important;
	}

	.page-sidebar-menu > li > ul.sub-menu > li > a {
	    color: #647980 !important;
	    font-size: 14px;
	    padding-left: 46px !important;
	    padding-right: 10px !important;
	}
/*style page Accueil*/
 .accueil .note-info{
    background-color: @redLight;
}

.portlet.box.yellow{
	background:none!important

}
.accueil .note-info{
	margin-bottom: 0;

}
	/*bloc publications*/
	.accueil .portlet .image, .accueil .portlet  .txt{
		display: inline-block;
	}
	.accueil .portlet .txt{
		padding-left: 30px;
	}
	.accueil .portlet .txt a {
	    color: #000000;
	    font-size: 25px;
	    font-weight: 400;
	}

	.accueil .portlet .image{
		padding: 20px;
		
	}
		.accueil .portlet .image img{
			height: 130px;
			width: 80px;
		}
	.accueil .publication{
		margin-bottom: 0;
	}

	.accueil .encart{
		
		height: 90px;
		text-align: center;
	}


	/*bloc collaboratrices + outils marketing*/
	.encart .collaboratrices, .encart .outils{
		
		text-align: center;
	}
	.encart a {
	    color: #fff;
	    display: block;
	    font-size: 27px;
	    font-weight: 400 !important;
	    padding-top: 23px;
	    text-align: center;
	}

	.accueil .encart .portlet.box.red, .accueil .encart .portlet.box.green{
		border:none;
	}
	
	.accueil .fa-file-text:before{
		font-size: 15px;

	}

		/*bloc collaboratrices*/
		.encart.collabo{
			background-color: #FF5859 !important;
			background:url("/wp-content/themes/pme/assets/img/pme/glasses.png");
			background-repeat: no-repeat;
			background-position: left center;
			margin-bottom: 25px;
		}	
		
		/*bloc outils marketing*/
		.encart.outils{
			background-color: #00bcb8 !important;
			background:url("/wp-content/themes/pme/assets/img/pme/target.png");
			background-repeat: no-repeat;
			background-position: left center;
		}		

	/*bloc nouvelles*/
	.accueil .nouvelles .note-info{
		min-height:220px;
		margin-bottom: 10px
	}
	.accueil .nouvelles .note-info:last-child{
		margin-bottom: 0
	}
	.accueil .portlet .image{
		padding:0;
	}
	.accueil .publication{
		padding: 10px
	}



	/*bloc direction de travail*/

	.accueil .caption .fa-folder {
		color: #fff !important;
	}
	.accueil .directionTravail a {
	    color: #fff;
	    font-size: 20px;	   
	    padding-top: 20px;
	    text-align: right;
	    text-decoration: none;
	}
	.accueil .directionTravail .tuiles {
	    background-position: 26px bottom !important;
	    background-repeat: no-repeat !important;
	    float: left;
	    height: 165px;
	   /* margin: 15px;*/
	    text-align: right;
	    width: 230px;
	    margin-top: 20px;
	    padding-right: 15px
	}
	.accueil .directionTravail .personne, .accueil .directionTravail .affaires, .accueil .directionTravail .agricole{
		margin-right: 40px;
	} 

	.accueil .directionTravail .personne{
		background:url("/wp-content/themes/pme/assets/img/pme/droit-personne.png");
		background-color: @blue;
		
	
	}
	.accueil .directionTravail .immobilier{
		background:url("/wp-content/themes/pme/assets/img/pme/droit-immobiler.png");
		background-color: @orange
		
	}

	.accueil .directionTravail .affaires{
			background:url("/wp-content/themes/pme/assets/img/pme/droit-affaires.png");
			background-color: @green
			
	}

	.accueil .directionTravail .gestion{
			background:url("/wp-content/themes/pme/assets/img/pme/comite.png");
			background-color: @blueDark;
			
	}

	.accueil .directionTravail .agricole{
			background:url("/wp-content/themes/pme/assets/img/pme/droit-agricole.png");
			background-color: @red
			
	}
	.accueil .directionTravail .devAffaires{
			background:url("/wp-content/themes/pme/assets/img/pme/dev-affaires.png");
			background-color:@Grey;
			
	}

	/*menu navigation gauche*/
	.page-sidebar-menu > li > ul.sub-menu > li.current-menu-item > a{
		color: #fff !important
	}

	.portlet.box.blue-dark.directiontrav{
		background: #fff !important;
		border:none;
		overflow: hidden;
	}

	/*bloc template direction de travail*/
		/*encart produits info + doc récents*/

		.middle, .last{
			text-align: center;	
		}	

		.encart-docs{
			border:1px solid #e7e7e7;		
		}

		.encart-docs tr:hover{
			background: #f5f5f5
		}

		.lienTout{
			display: block;
			margin-top: 12px;
			font-weight: 600
		}

		.encart-docs td.first{
			width:250px;
		}

	/*bloc liste des membres*/
	.listeDesMembres .portlet-body{
		margin-top: 13px
	}
	/*bloc comptes rendus*/
	.comptesRendus a.compte_rendu, .ListeMembres a.liste_membre{
		line-height: 43px;
	}
	.comptesRendusSection .tab-content{
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		padding-top: 35px
	}
	.comptesRendusSection .tab-content .col-md-3{
		padding:0;
	}

	.comptesRendusSection .col-md-9 h1{
		margin-bottom: 8px;
	}
	.comptesRendusSection .panel-body ul{
		list-style-type: none;
		padding-left:0;
	}

	/*bloc produits informatiques generalités*/
	.produitsInfoGral .col-md-8{
		padding-left: 0;
	}
	.produitsInfoGral input{
		background: transparent;
		font-size: 12px;		
		border:none;
		font-family: "pmeinter";
	}
	.produitsInfoGral .fleche{
		background: url("/wp-content/themes/pme/assets/img/pme/ferme.png");
	}
	/*bloc onglet documents*/
	.documents .file-icon{
		text-align: center;
	}
	.documents .file-icon .fa.fa-file-text-o{
		color: #757575
	}


	
/*style publications*/


.publications .col-md-3{
	margin-bottom:30px;
}
/*menu collaboratrices*/
	/*onglet boite a outils*/
	.sousmenu-nav .nav-tabs li{
		background: #fff !important;
		border-bottom:1px solid #e7e7e7;
	}
	.sousmenu-nav .nav-tabs li a{
		color: #666 !important;
		text-align: left;		
	}
	.sousmenu-nav .nav-tabs li.active a{
		background: #fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #666;
		border-right:1px solid #666;
		border-top:1px solid #666;
	}
	.sousmenu-nav .nav-tabs li.active a, .sousmenu-nav .nav-tabs li:hover a{
		background: #fff !important;
		border-bottom: 1px solid #fff!important;
		border-left: 1px solid #e7e7e7!important;
		border-right:1px solid #e7e7e7!important;
		border-top:1px solid #e7e7e7!important;
		border-bottom:none!important;
		color: #000;
		font-weight: 600;
		text-decoration: none!important;
	}
	.sousmenu-nav .nav-tabs li.active, .sousmenu-nav .nav-tabs li:hover{
		border-bottom: none!important;
	}

	.soustab ul{
		padding-left: 0;
		list-style: none;
	}
	.soustab li{
		margin-bottom: 10px;		
	}	
	.soustab li i{
		padding-right: 70px;
	}
	.soustab li a{
		font-size: 14px;
	}
	.soustab .col-md-6 h4{
		font-weight: 400 !important;		
		margin-bottom: 30px;
	}
.publications img{
	width: 250px

}
/*page image du reseau*/
.images-tab{
	border:1px solid #dddddd;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
}
.images-tab div {
    border-right: 1px solid #dddddd;
    min-height: 142px;
    padding: 15px;
    text-align: center;
}
.images-tab div:last-child{
	border-right: none;
}
.images-tab div p{
	margin-top: 15px;
}
.images-tab div a:hover{
	color: #000;

}

/*onglet produits info details + style accordeons general*/
.container-fluid{
    padding: 0
}
.accordion-group{
    border:1px solid #eaeaea;
    margin-bottom: 15px;
}
.accordion-body{
    padding:15px;
}

.accordion-heading{
    height: 45px;
    border-bottom: 1px solid #eaeaea;
    background:#f5f5f5;    
}
.accordion-heading a{
    font-weight: 200 !important;
    font-size: 20px;
    color: #000;
    padding:15px;
    font-family: "Open Sans",sans-serif;
    line-height: 42px;
}

/*menu appel à tous*/
.sidebar-search-wrapper{
	margin-top: 40px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 40px
}

.sidebar-search-wrapper input{
	border:none;
}

.sidebar-search-wrapper .fa-search{
	color: #666;
	font-size: 25px;
}
.sidebar-search-wrapper .fa-search:hover{
	color: #eaeaea;
}
/*menu fournisseurs*/

.fournisseurs ul{
	padding-left: 20px;
	list-style: none;
	overflow: hidden;
}

.fournisseurs .listing li{
	float: left;
    margin-right: 30px;
    min-height: 150px;
    text-align: left;
    width: 155px;
}
.col-md-2.stamp{
	text-align: right;
}
.col-md-2.stamp .btn-xs{
	color: #fff;
	background: @red;
}
.prod-details .accordion-group{
	border:none;
}
.prod-details .accordion-heading{
	background: #fff;	
	border:none;
}
.prod-details .accordion-heading a{
	font-weight: 700 !important;
	font-size: 15px;
}
.prod-details .col-md-10{
	padding: 0
}
.premiere{
	min-height: 1650px;
}



/*style calendrier events overide jquery ui*/

.fc-day-content{
	/*position: relative;*/
}

.ui-widget-header{
	background:#eeeeee !important;
	color: #000 !important;
}

.ui-dialog{
	max-width: 300px;
}

.ui-dialog-title {  
float: left;  
    font-size: 11px !important;
    text-align: center;
    width: 85%;
    padding: 3px;
    
    text-transform: uppercase;

}
.fc-border-separate .fc-day-header{
	text-transform: uppercase;
	color: #000;
	font-weight: 200!important;
}
.ui-dialog-titlebar-close{
	background: url("/wp-content/themes/pme/assets/img/pme/ferme.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
	float: right;
	width: 13%;
	height: 40px;
	border:none;	
}
.ui-dialog-titlebar-close:hover{
	background:url("/wp-content/themes/pme/assets/img/pme/ferme-hover.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
	overflow: hidden;
}
#eventContent{
	border: none!important;
	padding:11px 20px 0
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable{
	border:1px solid #647980;
	border-radius: 5px;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
	text-align: center;
	font-size: 14px;
}

.ui-widget{
	font-size: 12px !important;
	z-index: 100;
}
.ui-resizable-handle.ui-resizable-se{
	display: none!important;
}
/*forum onglet pages direction du travail*/
#bbpress-forums {
    background: none repeat scroll 0 0 #fff;
    min-height: 300px;
    padding-bottom: 44px;
}
#bbp-forum-0{
	margin: auto;
	width: 85%
}
#bbp-forum-0 tr {
    border-bottom: 1px solid #eee;
    height: 74px;
    min-height: 46px;
}
#bbp-forum-0 tr td.last, #bbp-forum-0 .bbp-topic-freshness{
	text-align: right;
}

#bbp-forum-0 tr:first-child{
	line-height: 65px;
}
.bbp-topic-meta{
	margin-top: 10px;
}
#bbp-forum-0 .bbp-topic-reply-count {
    text-align: center;
    width: 21%;
}
#bbp-forum-0  .bbp-author-name{
	color:#647980;
	font-weight: bold;
}
.portlet.box > .portlet-body{
	border-style: none;
}
.portlet.calendar .fc-event-title{
	font-size: 12px;
	text-transform: lowercase;
}
.portlet.box.green-meadow.calendar{
	border:1px solid #0088CF ;

}
.portlet.box.green-meadow.calendar .portlet-title{
	background: #0088CF
}
/*style page blog page ensavoir + sur onglet nouvelles*/

.blog-page article{
	margin-bottom: 25px;
	border-bottom: 1px solid #647980
}

.blog-page article .comment-metadata{
	margin-top: 5px;
}

.blog-page #commentform p{
	margin-bottom: 20px
}
.blog-page article .reply{
	margin-top: 5px;
	margin-left: 10px
}

.blog-page #commentform label{
	width:20%;
}
.blog-page #commentform input, .blog-page #commentform textarea{
	border:1px solid #ddd;
	background: #F5F5F5
}
.blog-page .comment-form-comment label{
	vertical-align: top
}

.blog-page .comment-form-comment{
	margin-bottom: 20px;
}

.single-nouvelles .comment{
	width: 80%;	

}
.single-nouvelles .comment-author.vcard .url{
	font-size: 15px;	
}
.accordion-heading{
	background: #F5F5F5;
	border:1px solid #ddd
}
/*page nouvelle en savoir +*/

.single-nouvelles .comment{
	position: relative;
} 
.single-nouvelles .comment footer{
	overflow: hidden;
}
.single-nouvelles .comment .comment-author{
	float: left;
}
.single-nouvelles .comment .comment-metadata, .single-nouvelles .comment .reply{
	float: right;
}

.single-nouvelles .comment-content{
	text-align: center;
}
.single-nouvelles .post-comment{
	margin-top: 85px;
}




#tab_1_1_1 .portlet.box{
	background: #fff!important
}


/*calendar grand*/
.fc-button .fc-icon-wrap{
	top: 15%
}
/*calendar all*/


/*icones font awesome*/
.fa-file:before, .fa-link:before{
	padding-right: 15px;
}

#post-51 .fa.fa-calendar:hover, #post-51 .fa.fa-comments:hover{
	color: #2a6496
}


/*page appel à tous*/
.page-id-404 .prod-details .accordion-group .accordion-heading{
	
}

/*forumes*/

#bbpress-forums a, #bbpress-forums {
		font-size: 13px;
	}



.nav-tabs > li.active{
	background-color: #A8A8A8
}



/*general footer*/
.footer .footer-inner{
	float: right;
}
.credits, .credits a{
	color: #fff;	
}

.footer .footer-tools{
	display: none;
}



/*ajout css icones fonts*/

@charset "UTF-8";

@font-face {
  font-family: "pmeinter";
  src:url("../font/pmeinter.eot");
  src:url("../font/pmeinter.eot?#iefix") format("embedded-opentype"),
    url("../font/pmeinter.woff") format("woff"),
    url("../font/pmeinter.ttf") format("truetype"),
    url("../font/pmeinter.svg#pmeinter") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pmeinter" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="logo-"]:before,
[class*=" logo-"]:before {
  font-family: "pmeinter" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-frame:before {
  content: "a";
}
.logo-lunettes:before {
  content: "b";
}
.logo-arr-right:before {
  content: "c";
}

